[2021-03-23 07:23] tischi opened #180 "Simplify API"
[code]

Maybe rename to:

[code]

[2021-03-23 07:31] NicoKiaru commented on #178
It's on maven : https://maven.scijava.org/#nexus-search;quick~bigvolumeviewer

So normally there's no issue

What I do when dependencies are not found is to deleted the corresponding repo in cache in the temp m2 folder to force download again

[2021-03-23 07:32] NicoKiaru commented on #179
It's 0.2.13 the latest stable version on maven :

https://maven.scijava.org/#nexus-search;quick~bigdataviewer-playground

[2021-03-23 07:34] NicoKiaru commented on #180
Yes, we could also think whether we want to mention that it's a bdv display service

So `getBdvDisplayService`

[2021-03-23 07:41] tischi opened #181 "Load from S3 Object store"
Hi @NicoKiaru
cc @constantinpape

We have code to open n5 based `spimData` when the xml is stored on S3; this currently lives in my `imagej-utils` repository.

[code]

Are you interested in moving such code somewhere more accessible, e.g. inside bdv-pl?
...we would then also need to move the FileAndUrlUtils to bdv-pl...

[2021-03-23 07:58] tischi opened #182 "Typo"
```DisplaysettingsHelper.PullDisplaySettings(out.get(setupId),setup.getAttribute(Displaysettings.class));```

should be `pullDisplaySettings` (lower case).

[2021-03-23 07:59] NicoKiaru commented on #181
We could, but actually, you can just declare the AbstractSpimData in a command of yours with a `@Parameter(type = ItemIO.OUTPUT)` annotation parameter.

So no extra dependencies.
 Bdv-playground should take it and register it.

[2021-03-23 08:01] NicoKiaru commented on #181
I'd like to avoid as much as possible inflating the bdv-playground dependencies and number of classes (there's already a lot). It's extensible enough for a lot of things. See https://github.com/BIOP/bigdataviewer-biop-tools for instance

[2021-03-23 08:09] tischi commented on #181
OK, I have to look into this at some point. I'll leave the issue open, ok?

[2021-03-23 08:11] tischi commented on #180
Good idea, because there may also be a `getBvvDisplayService` or `getSceneryDisplayService` at some point 😄

[2021-03-23 08:12] #179 closed, assigned to nobody

[2021-03-23 08:13] #178 closed, assigned to nobody

[2021-03-23 09:27] tischi opened #183 "SourceTree"
It shows the source tree when I do this:

[code]

Can I disable this?

[2021-03-23 09:34] tischi opened #184 "Warning about missing files"
[code]

What's this about?

[2021-03-23 09:56] NicoKiaru commented on #183
That's a modification we need to do.  I think the UI needs refactoring to avoid this situation.

[2021-03-23 10:03] tischi commented on #183
OK, as a work-around, once the tree showed up, can I hide?

[2021-03-23 11:55] NicoKiaru commented on #183
Probably with something like that:
[code]

[2021-03-23 12:07] tischi opened #185 "ConverterChanger code question"
In your version of the `ConverterChanger` you require two inputs, one for the volatile converter and one for the other one. [EDIT]: Do you have an example where you create them? In other words do I actually need to build two different converters?

[2021-03-23 12:40] tischi opened #186 "Rename SAC"
Do we have something to rename a SAC?

[2021-03-23 13:04] tischi opened #187 "BdvHandleHelper"
The `BdvHandleHelper` contains a lot of methods that deal with the `ViewerTransform`.
We could consider making a new class called `ViewerTransformHelper`.

[2021-03-23 13:21] NicoKiaru commented on #186
Nope, see https://github.com/bigdataviewer/bigdataviewer-core/pull/89

In fact it's not that obvious.

[2021-03-23 13:23] NicoKiaru commented on #187
Are these methods independent of Bdv "camera views" ? If not, I would let these views methods them in BdvHandleHelper. If they are used somewhere else, why not.

[2021-03-23 13:27] NicoKiaru commented on #185
Here is an example : https://github.com/bigdataviewer/bigdataviewer-playground/blob/ffa8c41bf8f1a7f6ceefd4adabeef8c6f8a14ee3/src/main/java/sc/fiji/bdvpg/scijava/command/source/LUTSourceCreatorCommand.java#L76

A LUT is applied to a current source.

I'm not sure about this, these Converter are tricky to implement in an efficient way, see the gitter discussion with @tpietzsch

And maybe Tobias can e

[2021-03-23 14:17] tischi opened #188 "Sources at mouse position"
I was sure we have it as a function, but I cannot find it right now, could you point me to it?
A helper method to get all sources at the current mouse position (below is a copy of my own code).

[code]

[2021-03-23 14:21] tischi opened #189 "num timepoints"
What's the deal with the timepoints?
Do we really have to tell BDV upon intialization how many timepoints we will have?

[2021-03-23 14:25] tischi commented on #186
Maybe I am also doing something wrong.

I am using `SourceAndConverterHelper.createSourceAndConverters( spimData )` and then the SAC are all called `setup0`...

The other point is that I want to change the name **just once initially** _before_ I do `SourceAndConverterDisplayService.show( sac )`.

[2021-03-23 14:27] tischi commented on #185
For me, it seems to work with just one converter:

[code]

[2021-03-23 15:52] tischi opened #190 "SetVisible API change"
[code]

We could do it like below to (i) save one function and (b) make it a bit more convenient to use, and (c) make it more consistent how it is in the bdv API:
[code]

[2021-03-23 17:14] NicoKiaru commented on #184
That's the undocumented way I found to store customization in context menus and actions.

The actions are stored in files in a subdirectory of the plugins folder. This allows for multiple 'context' that would show up different actions - each context corresponds to a path located in plugins/bdvpgsettings/{context}. I need to document this and we need to discuss it.

To get some info, see:

https://

[2021-03-23 17:23] NicoKiaru commented on #188
I think we just have this:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/8563f16c0493603b47156bd8d15e0813cb798928/src/main/java/sc/fiji/bdvpg/sourceandconverter/SourceAndConverterHelper.java#L562

and this :

https://github.com/bigdataviewer/bigdataviewer-playground/blob/8563f16c0493603b47156bd8d15e0813cb798928/src/main/java/sc/fiji/bdvpg/sourceandconverter/SourceAndConverterHelp

[2021-03-23 17:25] NicoKiaru commented on #189
Why not ? Unfortunately, there no direct way to know how many timepoints a SourceAndConverter has. It can be infinite for instance... It's the equivalent in time of not knowing where the source is located in space.

How would you improve this ?

[2021-03-23 17:26] NicoKiaru commented on #186
Ah weird. Are they called differently if you show them using BdvFunctions.show ?

[2021-03-23 17:28] NicoKiaru commented on #185
Yes, but then you perform two checks per pixel. I don't know if this has an influence, Maybe make a constructor with only one converter which duplicates (or not?) it and calls the other constructor with two parameters. This lets the possibility to provide 2 constructors just in case

[2021-03-23 17:30] NicoKiaru commented on #190
sure!

[2021-03-23 18:21] tischi commented on #189
I don't know... What happens if one puts too many? I guess this affects the time slider UI, does it?

[2021-03-23 18:22] tischi commented on #188
Could be... I can add it (back).
Maybe `BdvHandleHelper` is a good place for this?

[2021-03-24 07:31] tischi commented on #188
@NicoKiaru
And which function do you use in the selector?

[2021-03-24 07:48] tischi commented on #186
My mistake! They were really called "Setup0" in the xml 😸
However, still, changing the name once, **before** adding it to the playground should not be a problem, is it? But maybe we are afraid to add functionality to change the name to the repo because than people think they also can use it **after** having shown the source...

[2021-03-24 08:20] NicoKiaru commented on #186
I'm not sure, because there's no way to override what's being given by `SourceAndConverter.getName()`. We'll have to look.

Honestly, if we want to do this cleanly - and users will need to rename their sources - we need to be able to solve bigdataviewer/bigdataviewer-core#89

[2021-03-24 16:07] NicoKiaru commented on #188
In the selector I check whether the restangle selected by the user intersects the bounding boxes of all the SourceAndConverter(s).  That 's done here : https://github.com/NicoKiaru/bigdataviewer-selector/blob/42b84ca79bd4083dc1389328fa18f9a73946a696/src/main/java/ch/epfl/biop/bdv/select/SourceSelectorOverlay.java#L141-L169

But I don't remember the details. Also this won't work with WarpedSources.

[2021-03-24 16:19] #190 closed, assigned to nobody

[2021-03-24 16:20] NicoKiaru commented on #189
Yes, it's just less convenient to position precisely the slider, but there's no issue apart from that.

[2021-03-24 16:21] tischi opened #192 "DisplayService Bug?"
[code]

Running above code results in an empty ` Set< BdvHandle >`.
Am I doing something wrong?

[2021-03-24 16:32] NicoKiaru commented on #192
Hum, how did you created the BdvHandle ?

For the BdvHandle to be recognized by bdv playground, it needs to be registerd in scijava.

The most simple way is to declare bdvhandle as an output parameter in a command:
[code]

The post processor (check `BdvHandlePostprocessor`) is doing a few things:
* registered the bdvhandle in scijava objectservice - make sure its name is unique - which is useful f

[2021-03-24 16:39] tischi commented on #192
In BDV Playground like this:
[code]

Probably I should use: `BdvWindowCreatorCommand`?

Maybe we should add a warning to the documentation of `BdvCreator` that one also needs to register it. Could one also register it oneself?

[2021-03-24 16:44] tischi commented on #192
Hum, now I did it like below and it still returns an empty list...
[code]

[2021-03-24 16:55] tischi opened #193 "Context menu"
Hi, right now nothing happens when I right-click into BDV.
Is there a way to enable the context menu, e.g. such that it shows everything that implement `BdvActionCommand`?
If that's more complex you could WhatsApp call me if you wish.

[2021-03-24 17:03] NicoKiaru commented on #192
Indeed, calling the command this way does not trigger the pre and postprocessors. This part is one of the few which relies on scijava. You need a CommandService or duplicate what happens in the post processor. We can also remove what s in the post processor to make it more accessible. It s probably a good idea

[2021-03-24 17:06] NicoKiaru commented on #193
Did you press the E key? Then you activate the editor mode - you then need to select at least one source by drawing a rectangle in order to have the right click doing something. Check the neubias presentation on bdv playgroung

[2021-03-24 19:03] tischi commented on #193
OK! And what about things like a screenshot? They would not need a source to be selected, would they?

[2021-03-24 19:29] NicoKiaru commented on #193
Indeed, then these actions can be added directly, outside the editor mode, but this part (which actions are accessible outside the editor mode) is not modular yet.

Right now only the screenshot is activated with the D shortcut (I don't know why D...) : https://github.com/bigdataviewer/bigdataviewer-playground/blob/8695400930626fd460db393610bb19c88cfd3f54/src/main/java/sc/fiji/bdvpg/bdv/BdvCreator

[2021-03-24 21:35] tischi commented on #193
OK, understood now, I guess that is something we could have a zoom about?! Or do you have a concrete plan already for how to do this?

[2021-03-24 21:39] tischi commented on #192
Yes, factoring out what happens in the post-processor as a standalone `BdvHandleRegisterer` class sounds like a good plan!

Should we then maybe also call the `BdvHandleRegisterer` within `BdvCreator`? Then users of the library, like myself, would not need to worry about it ;-)

I can make a PR tomorrow, if you wish.

[2021-03-24 21:39] #189 closed, assigned to nobody

[2021-03-24 21:51] tischi commented on #185
I did not see an obvious performance issue with this code, it is just an `if` statement, I would hope that's not too bad.

I think for this constructor we would need to require a `Converter< ? extends RealType, ARGBType >`, because we need something that covers both Volatile and NonVolatile and that covers the numeric types. I think `? extends RealType` is not bad for this; but I am not sure what

[2021-03-24 22:02] tpietzsch commented on #185
The second converter is used when a source has both volatile and non-volatile versions and the non-volatile version is used.
This happens for example if you record a movie. In this case, using the volatile version would not be good, because in the movie you want all data to be present obviously.

Probably, the `instanceof` check is optimistically assumed to always be `true`, until the other case o

[2021-03-24 22:06] tischi commented on #192
Maybe we don't need an extra class; should we add it like this? Would maybe be a natural place to look for it and also within the `SourceAndConverterBdvDisplayService` we have access to all the SciJava services that we need for the job.

[code]

[2021-03-25 09:37] tischi opened #194 "ViewerTransformAdjuster for multiple SAC"
Do we have a `ViewerTransformAdjuster` that takes multiple SAC as an input and tries to figure out a view such that they are all visible? Would be very useful for me.

[2021-03-25 11:19] NicoKiaru commented on #194
Nope, I think it's the same issue as this one : https://github.com/bigdataviewer/bigdataviewer-playground/issues/67

[2021-03-26 09:19] tischi commented on #192
I am trying to implement, but I need to access this method

[code]

which is currently not within `ISourceAndConverterService`.

Should I add it to the interface?

[2021-03-26 09:40] NicoKiaru commented on #192
You can cast to `SourceAndConverterService` to access it. There's only one implementation of the service.

I'm not sure if it is a good idea to change the interface. I honestly don't know.

[2021-03-26 09:52] tischi commented on #192
That's what I did ;-)

You could look at the [PR](https://github.com/bigdataviewer/bigdataviewer-playground/pull/195)

[2021-03-26 10:56] tischi opened #196 "ProjectionMode"
@NicoKiaru

Are you using this in your projects?

[code]

I would like to clean this up by making it an `enum` for the projection mode.

[2021-03-26 11:09] NicoKiaru commented on #196
Please do - from what I remember we had some troubles with scijava commands fields

[2021-03-26 11:13] tischi commented on #196
damn, yes....

[2021-03-26 12:54] tischi opened #197 "Current master does not compile"
@NicoKiaru Do you know what's going on?

<img width="1238" alt="image" src="https://user-images.githubusercontent.com/2157566/112634280-b3292e80-8e3a-11eb-8d13-2d562bd85abc.png">

[2021-03-26 13:07] NicoKiaru commented on #197
Hum, no, what's the error message ? Maybe you have an issue in the imglib2-realtransform dependency ?

[2021-03-26 13:08] NicoKiaru commented on #197
Sometimes you need to delete some repos in the maven cache to force download again

[2021-03-26 13:44] tischi commented on #197
Works!

[2021-03-26 13:44] #197 closed, assigned to nobody

[2021-03-27 17:56] NicoKiaru commented on #196
Related : PR https://github.com/bigdataviewer/bigdataviewer-playground/pull/198

[2021-03-27 18:03] NicoKiaru opened #199 "Blending of sources / custom converter"
Here we can discuss plans for custom Converters and Projectors for bdv.

I just drop a few questions to start with:
* how to handle transparency ?
** at the converter level ? (identical transparency for multiple bdvs)
** at the projector level ? (transparency is a property of the current bdv)
* do we want layers ? can they be reordered ? what properties should layers have (enabled / disabled / tra

[2021-03-28 09:21] #194 closed, assigned to nobody

[2021-03-28 18:33] NicoKiaru opened #200 "Add command to remove all sources from the SourceAndConverterService"
There's no convenient way to do this in an IJ1 Macro.

[2021-03-28 21:48] NicoKiaru opened #201 "Get rid of all capital letters in Commands!"
the macro recorder does not record the case of variable.

So : an input parameter named "numTimePoints" will be recorded "numtimepoints"

That's super annoying - we need to get rid of them, and maybe use a dash convention "numTimepoint" -> "num_timepoints", at least in scijava commands

[2021-03-29 06:00] tischi commented on #201
but the macro will still work even if the capitalization is wrong, doesn't it?

[2021-03-29 06:38] NicoKiaru commented on #201
ah, the macro probably (I didn't test it). I had issues in groovy.
Here's what I did which annoyed me:
* run the macro recorder
* perform an action with the right click
* use the output from the recorder to run a command with a groovy script : `commandService.run(MyCommand.class, true, "arg1", val1, "arg2", val2)` . This doesn't work because arg1 and arg2 from the recorder are not capitalized, wit

[2021-03-29 06:47] tischi commented on #201
Yes, I know, I have an "issue" about this on the forum already, but I cannot find it right now.
I don't like underscore in Java, I would go for all lower case as a work-around, but I think you should complain in the scijava gitter channel about this, as this is bug, imho.

[2021-03-29 07:04] NicoKiaru commented on #201
👍 Let's go for all lower case. Can you link the post to the issue ?

[2021-03-29 21:28] tischi commented on #199
References:
- https://en.wikipedia.org/wiki/Alpha_compositing#cite_note-3
- https://github.com/saalfeldlab/paintera/tree/master/src/main/java/org/janelia/saalfeldlab/paintera/composition

[2021-04-12 09:14] tischi commented on #193
@NicoKiaru
How do I modify the list of available actions in the context menu during runtime?

Let's say I start like this...
[code]

...and then later want to add or remove actions from the menu, is that currently possible?

If this is currently not supported, could I add this functionality by simply adding methods `addAction( String )` and `removeAction( String )` methods to `SourceAndConverterCo

[2021-04-12 09:23] NicoKiaru commented on #193
You can add these methods `addAction` and `removeAction`, sure (currently, the action needs to be registered in the sac service before). Just a few things to keep in mind, there are alternatives to this, and I don't know which ones are suited for your use case:

* you can uninstall a behaviour and reinstall one with the new list of accessible commands
* there is the chaining mechanism which allows

[2021-04-12 09:27] tischi commented on #193
will do.

I know, I will keep it like this for now, because otherwise it is too much refactoring (we should probably change this together at some point during a zoom mini hackathon).

How would that work? I mean how would that be reflected in the context menu?

[2021-04-12 09:34] NicoKiaru commented on #193
I don't think it's too much refactoring, instead (or on top of) of adding a `removeAction` and `addAction`, you can just add a `removeRunnable(String name)` and a `addRunnable(String name, Runnable run)`, no ?

[2021-04-12 09:39] NicoKiaru commented on #193
Not sure this answers your question, but in my atlas registration plugin, I have 3 behaviours:

[code]
I have a single bdv window with several behaviours,

The common behaviours are always here (it's basically the navigation), but the two other behaviours are toggled on and off depending on the mode in which is the user, for instance, when switching from registration to positioning:

https://githu

[2021-04-12 09:39] tischi commented on #193
The issue is

[code]

Everything within `SourceAndConverterPopupMenu` relies on the current logic of things being registered with the `SACService`. Refactoring this seems a bit too much for now.

[2021-04-12 09:42] NicoKiaru commented on #193
I see

[2021-04-12 10:29] tischi commented on #193
Do you do a string split at `" > "` to make sub menus?

[2021-04-12 10:31] NicoKiaru commented on #193
In popup menus ? No I don't think it's supported, is it ?

[2021-04-12 10:38] tischi commented on #193
Not sure yet, I will check.
And if it is a Command, do do you then replicate the `menuPath`?
[code]

[2021-04-12 10:45] NicoKiaru commented on #193
Nope, there's no replication. I've done it to some extent however in the atlas registration plugin, if you think this can be useful, some of it can be replicated:

https://github.com/BIOP/bigdataviewer-biop-tools/blob/a946162fac8d1be08e921f4063cf0c2c4db0000b/src/main/java/ch/epfl/biop/bdv/BdvScijavaHelper.java#L45

[2021-04-12 10:45] tischi commented on #193
And for the names, should we try to stick to such a pattern with a static constant?

[code]

That makes it more convenient to register the classes programmatically.

In fact, you are ignoring the `name` field and only consider the `menuPath`, right?

[2021-04-12 10:50] NicoKiaru commented on #193
I think the leaf of the menupath is the same of the name, that I'm using.

I don't really understand. You're worried about finding the name of the plugin from the class ? It can be easily done with scijava or directly by getting the annotation using java's pure reflection. I wouldn't take the pain of making a complicated pattern.

If that's convenient for you, we can make a helper class which does

[2021-04-12 11:00] tischi commented on #193
This is just while coding, then I can do like this (2nd item):
[code]
Otherwise I have to manually look up the name in the code.

----------------

The `"BDV - Screenshot"` is just executing for me, jumping to the `run()` method, _without_ presenting me the GUI to specify the @Parameters such as `targetPixelSizeInXY`. Do I have to do something special to enable this?

[2021-04-12 11:26] tischi opened #203 "Improve determine sources at mouse position"
This can be slow as it requires a random access: `isSourcePresentAt`
This has the annoying `is2D` parameter: `isPositionWithinSourceInterval` (and maybe does not work for warped sources?)

[2021-04-12 12:57] tischi commented on #203
@NicoKiaru Would you mind if I removed the `is2D` parameter from `isPositionWithinSourceInterval`? I just tested it and it behaves properly also for 2D sources.

[2021-04-12 13:09] NicoKiaru commented on #203
It doesn't work if your source has a z offset and is thin, we had a discussion on gitter about this. Maybe create another method `isPositionWithinSourceInterval` with one parameter which calls `isPositionWithinSourceInterval` with a default false flag, thus assuming 3d if nothing is specified

[2021-04-12 13:12] tischi commented on #203
OK! Then I'll leave it like this.

[2021-04-12 15:15] martinschorb opened #204 "wrong link to documentation"
Hi,

the link in the README.md points to the wrong site.

It needs to be

https://imagej.github.io/plugins/bdv/playground

[2021-04-12 15:17] NicoKiaru commented on #204
solved

[2021-04-12 15:17] #204 closed, assigned to nobody

[2021-04-12 15:53] martinschorb opened #205 "Occluding Projection mides"
Hi,

The occluding projection modes don't seem to behave as I would think they do.

- `AverageOccluding` looks like it behaves as Sum to the other average sources but is not displayed on top of any Sources
- `SumOccluding` is on top of everything.

I think for the CLEM case we should have (maybe the `AverageOccluding` case) behave such that it is occluding every other `Average` source but still ge

[2021-04-12 16:03] martinschorb opened #206 "Save source Metadata"
Hi,

I can save a source as BDV H5-XML once modified in BDV-PG (transformation etc.)
When the original source is already in h5, I found no option of only saving the modified XML.

Also, it would be amazing if the generated XML would also contain the `Displaysettings` of that source of the current BDV window.

[2021-04-12 19:56] NicoKiaru commented on #206
Run "Save BDV Dataset" then select the node of the xml dataset, choose a xml file (new or override the old one). This should work,  also with the display settings. Clearly that's not intuitive. Let me know!

[2021-04-12 19:57] NicoKiaru commented on #205
Arf, too bad. @tischi could you have a look ?

[2021-04-12 19:57] NicoKiaru commented on #203
Ok, ,closing for now then

[2021-04-12 19:57] #203 closed, assigned to nobody

[2021-04-12 20:26] tischi commented on #205
@martinschorb

I had a quick look and could not see an obvious bug.

Could you please have a look at [this code](https://github.com/bigdataviewer/bigdataviewer-playground/blob/accumulateMixedProjector/src/main/java/sc/fiji/bdvpg/bdv/projector/AccumulateMixedProjectorARGB.java) and see if you find the culprit (the `getArgbIndex` method is where things mostly happen)?

The code definitely needs impr

[2021-04-12 20:46] tischi commented on #205
I think I found one bug that I may have introduced recently. I fixed it in the code that is referenced above, please anyway have a look whether you think the logic is correct as it is now.

[2021-04-13 06:48] martinschorb commented on #205
Here:
https://github.com/bigdataviewer/bigdataviewer-playground/blob/7d6531a8eea8afb95b80f2bcfa95ebe53b0bcbc7/src/main/java/sc/fiji/bdvpg/bdv/projector/AccumulateMixedProjectorARGB.java#L179

I would understand the code logic for sources with `SumOccluding`  such that they are considered for summing. Shouldn't it be the other way round (not equals), so they occlude all other `Sum` sources? The sam

[2021-04-13 07:43] tischi commented on #205
I understood it such the Occluding just means that they are occluding everything that is not itself , sort of an occluding layer.

For example `SumOccluding` just means that the source has two tags: `Sum` and `Occluding`

In other words:

1. there is an "occluding" tag and if there are more than zero sources with this tag only the sources with the occluding tag are shown.
2. there is an "average"

[2021-04-13 08:24] martinschorb commented on #205
OK, I see.

This means `Occluding` supersedes everything regardless of the additional Projection mode tag.

In general, ProjectionMode descrbes the modality type:
 - **Average** for Brightfield sources (high intensity background, signal from contrast variations) like EM, Transmission, ...
 - **Sum** for Darkfield sources (low intensity background, signal = high intensity) like Fluorescence

Our ma

[2021-04-13 08:25] martinschorb commented on #205
Alternatively, we could obviously start thinking of using the alpha channel instead of averaging sources.

[2021-04-13 08:35] martinschorb commented on #205
forget this post. I did something wrong...

[2021-04-13 08:37] martinschorb commented on #205
Are the intensity bounds set in BDV accessible? The normalization could maybe use those to get a useful intensity range.

[2021-04-13 08:53] martinschorb opened #208 "projection mode when manually transforming"
Hi,

when I manually transform a source, its projection mode in the active BDV window seems to change to **Sum**.

[2021-04-13 09:12] tischi commented on #183
It still flickers quickly on and off. Should we add a global setting to disable it entirely?
Maybe:
[code]

[2021-04-13 09:31] martinschorb opened #209 "Transformation screwed up"
Hi,

I do the following to manually register two sources:

- manual transform 3D to scale and bring the z-Axis together
- Flip X
- manual transform in a 2D viewer to precisely register

The last manual transform gets applied the wrong way. I assume the flip is not taken into account correctly.

[2021-04-13 09:33] martinschorb commented on #209
OK, I need to append the transformation, then it works...

[2021-04-13 10:26] martinschorb commented on #206
Ok, that's it, Thanks.

I noticed that in the ImageLoader, the relative file gets an extra `..\` added when saving the XML like this. For me, this did not create a problem, but I guess when not working with Windows the backslash might screw up things.

[2021-04-13 10:35] NicoKiaru commented on #206
Hmm , ah, can you post here an example xml file ? I'll check whether I get the same pattern

[2021-04-13 10:36] NicoKiaru commented on #209
Good point, mutate is not saved ? If that's the case, it's better to let the issue open because this needs to be solved

[2021-04-13 10:41] martinschorb commented on #206
Hi,

here's the files. One simple BDV export and the same XML but saved in playground.

[export.zip](https://github.com/bigdataviewer/bigdataviewer-playground/files/6303073/export.zip)

[2021-04-13 10:44] NicoKiaru commented on #183
We need to find where it's shown automatically and remove it here. Maybe in some post processors

[2021-04-13 10:45] martinschorb commented on #206
Aah,

when I manually remove the `..\`  it crashes, because it wants to open the data from within the h5...
[code]

I assume it's because you also set the

[code]

from being `.` to the data file.

[2021-04-13 10:46] NicoKiaru commented on #208
! Ok, that's probably because the sourceandconverter metadata are not duplicated. That's actually quite a big deal, because this mechanism has to be made more robust ( transfer of metadata when a source is modified).

But it is still SUM once you applied the transformation ?

[2021-04-13 11:12] martinschorb commented on #208
It goes back to what it was set before.

[2021-04-13 11:20] martinschorb commented on #205
OK,

now changing the projection mode for a source that is displayed in a BDV window does not do anything anymore... I tried a lot of different combination and there is simply nothing happening. This is the current update.

I get
[code]

when starting up, could this be related? The file names of the `defaults.txt` look screwed-up...

[2021-04-13 11:21] martinschorb commented on #205
BTW:
I started fiji in the ` B:` directory, because that is where most data lives. Usually there should be no write access possible at that level and obviously these actions/settings files do not exist there.

[2021-04-13 11:36] NicoKiaru commented on #205
Indeed I was assuming that fiji was always opened from its executable location, thus a folder plugins should exist. @tischi do you know if there's a way to catch the location of the the current fiji's executable location ?

[2021-04-13 11:39] martinschorb commented on #205
I just tried with a brand new Fiji, new PLuigin installation (BDV-PG only) and starting from the Fiji directory.

Still no response when changing a projection mode.

[2021-04-13 11:43] NicoKiaru commented on #205
Ah, no sorry, indeed it's not related to the projection mode, it's related to what you get in contextual menus (right click on bdv or on  the tree view). I lost the purpose of the thread, but there was no way this could be related to your issue.

@tischi I think there's a test for mode changing. maybe it's worth looking at if it's working or not

[2021-04-13 11:57] martinschorb opened #210 "BioFormats bridge relative file paths"
Hi,

I want to use the BioFormats bridge to BDV to import a simple single image.

The file is listed in:

[code]

However the location is an absolute file path. It seems relative paths are not supported directly in this format. However, if I want to share the data or open it from a different machine, it fails.

Would it be possible to enable a relative path to a file to open using the BioFormats b

[2021-04-13 12:03] NicoKiaru commented on #210
Ah, that's complicated. Even in QuPath they dropped the support for relative file path.

Have you tried to put a relative manually ? Does it work like this ?

[2021-04-13 12:06] martinschorb commented on #210
It fails to find the file.

[2021-04-13 12:11] tischi commented on #193
That would be nice! Where should be add it to? If you point me to the code I can do it.

[2021-04-13 12:14] NicoKiaru commented on #210
ok

[2021-04-13 12:20] tischi commented on #205
Just tried it and for me, it works.

<img width="471" alt="image" src="https://user-images.githubusercontent.com/2157566/114551011-21575900-9c63-11eb-8eb9-3476d3f5032e.png">

<img width="453" alt="image" src="https://user-images.githubusercontent.com/2157566/114551034-27e5d080-9c63-11eb-8336-b5037b8fc769.png">

<img width="471" alt="image" src="https://user-images.githubusercontent.com/2157566/114

[2021-04-13 12:23] NicoKiaru commented on #193
Using standard reflection (http://tutorials.jenkov.com/java-reflection/annotations.html) that should be easy. Something like
`myClass.class.getAnnotation(Plugin.class).name`.

I don't know where to put it, a static method in the SourceAndConverterService could make sense.

[2021-04-13 12:26] NicoKiaru commented on #205
I can't merge it because it's in draft mode. But you can do it after changing the state of your PR

[2021-04-13 12:54] martinschorb commented on #205
I don't know.

Here it works for not a single one of my sources. (Could it be windows-specific?)

![Screenshot 2021-04-13 145043](https://user-images.githubusercontent.com/35071867/114555573-1e129c00-9c68-11eb-9e46-582822984a00.png)
![Screenshot 2021-04-13 145214](https://user-images.githubusercontent.com/35071867/114555580-1fdc5f80-9c68-11eb-8890-a575d8f504c4.png)
![Screenshot 2021-04-13 145250](

[2021-04-13 13:00] martinschorb commented on #205
data is uploaded

[2021-04-13 13:02] tischi commented on #193
Ok! Done!

Another question: The "BDV - Screenshot" is just executing for me, jumping to the run() method, without presenting me the GUI to specify the @Parameters such as `targetPixelSizeInXY`. Do I have to do something special to enable this?

[2021-04-13 13:12] tischi commented on #205
Could you try _without_ adding to the occluding layer? I had a bug there at some point.

[2021-04-13 13:13] martinschorb commented on #205
The first change was simply from sum to average, also nothing changes...

[2021-04-13 13:16] NicoKiaru commented on #193
Weird, no the window should popup. How do you execute it ?

[2021-04-13 13:17] NicoKiaru commented on #205
Just to be sure @martinschorb : when you create the bdv widow, so you select `Mixed projector` ?

[2021-04-13 13:25] martinschorb commented on #205
Yes, that's the problem.

Does BDV-PG not remember the choice of the BDV window that I open?
I always do mixed, so I hardly ever checked.

Could it be that when I open BigWarp or do the manual transformation, this will enforce the **Sum** projector and then afterwards the new BDV windows will behave like that?

Also, when I select sources and show them without a BDV window open, it will generate o

[2021-04-13 13:32] NicoKiaru commented on #205
I don't think we can control the projector within BigWarp, this can't be changed. Also the output sources from bigwarp (the transformed ones), are set to sum by default, yes, but this could be changed.

Is your issue BigWarp specific ?

[2021-04-13 13:37] martinschorb commented on #205
No, this happens in the "regular" BDV window.

In fact it is the manual transformation.

https://github.com/bigdataviewer/bigdataviewer-playground/issues/208

This will change the BDV window to **Sum** and then disables the possibility to change projection modes.

Also, when I close the BDV window and then show sources without explicitely asking for a "mixed" BDV, it will give me a **sum** window.

[2021-04-13 14:08] tischi commented on #205
That was the other suggestion I had, maybe in the beginning you did not ask for the mixed projector?
Does it work if you use the mixed projector?

Personally, I would vote for making the mixed projector the default.

[2021-04-13 14:12] tischi commented on #193
OK, dunno why, but now it works!

[2021-04-13 14:13] martinschorb commented on #205
Full support!

However, some actions apparently can trigger the BDV window to change.

[2021-04-13 14:19] NicoKiaru commented on #205
From what I remember, RGB images appear black in the mixed projector, so I can't use it + I don't know how to override the projector in BigWarp + for warped sources we had issues in dealing with the 'transparency', using a weird hack.

But let's try to understand first the cause of the issue, because I'm quite confused regarding what the real issue is right now: is it the mixed projector which is

[2021-04-13 14:22] martinschorb commented on #205
Step by step:

- 2 sources with projection mode **average**
- show them in a new BDV window **Mixed**
- initiate manual transform for one of the sources
- the open BDV window will become **Sum** and so do all the shown sources.

[2021-04-13 14:23] martinschorb commented on #205
- close that BDV window
- show the sources (it is not explicitely asking for **Mixed**)
- the new BDV window is **Sum** only again

[2021-04-13 14:33] NicoKiaru commented on #205
Mutate or Append or both ? I'm surprised mutate would cause the trouble

[2021-04-13 14:34] martinschorb commented on #205
I noticed with Append.

[2021-04-20 08:35] tischi commented on #193
@NicoKiaru

In below code it does not go to the accept part, but only to the run part when being invoked via the context menu. Does that mean I should rather register it as a `Consumer< SAC[] >` (and not as a `Command.class`)?

[code]

[2021-04-20 10:48] NicoKiaru commented on #193
You need to declare:
[code]

If you want to get your sources inside the run methods.

At the low level, sources actions are registered as Consumers of sources. But to use the GUI, you can create a BdvPlaygroundActionCommand with sources declared as input parameters.

Then, automatically, the command will be registered as a sourceandconverter action, but the consumer needs to be build. The consumer

[2021-04-20 11:05] tischi commented on #193
Thanks! Works!

[2021-04-21 12:27] tischi opened #211 "Add context menu action item: "Show in BVV""

[2021-04-21 12:28] tischi commented on #183
How should we make it configurable?
Some global static settings?
`PlaygroundPrefs.showSourceTree( boolean )`

[2021-04-21 12:46] tischi commented on #183
Maybe my proposal is not ideal, because some crazy people may use the playground and MoBIE at the same time 😉
But doing it differently sounds annoying giving the current architecture, because dragging a parameter through into the PostProcessors may be hard?!

[2021-04-21 14:22] NicoKiaru commented on #183
No no, we should make this modular. Also, I want to avoid depend on swing for this.

[2021-04-21 15:08] tischi commented on #183
What do you mean by modular?

[2021-04-21 15:34] NicoKiaru commented on #183
Sorry, it's slightly unrelated : the 'tree' is linked to a swing JPanel and JFrame. I want to get rid of this link and just keep the model, that's what I call by "modular".

Yes, we can add a global parameter ( or prefs ) that activates auto display or not.

[2021-04-23 12:17] NicoKiaru opened #213 "Problem with resampled sources"
On big resampled images, the transform doesn't look right : it's slightly rotated clockwise

[2021-04-24 12:45] tischi opened #214 "Do not register SAC within SACHelper.createSourceAndConverters(AbstractSpimData asd)"
@NicoKiaru

Within `SourceAndConverterHelper.createSourceAndConverters(AbstractSpimData asd)`
the sacs are also registered in this line:

`SourceAndConverterServices.getSourceAndConverterService().register(out.get(setupId));`

Is that really necessary?

I think I would prefer if that  helper method just created the SACS and then the registration would happen outside that function. One reason for t

[2021-04-24 13:09] NicoKiaru commented on #214
I think you're right.

It's quite annoying to have sources automatically registered. Maybe a good way to go is to automatically register in scijava commands only (with post processors), and then get rid of the registration in the actions ( or reusable components, or whatever you call them).

[2021-04-24 13:29] tischi commented on #214
Good!

I see that the `show()` function within the `SourceAndConverterBdvDisplaySerivce` already registers the `sac`.

1. Are there other places where this is needed?
2. Are you currently using the `SourceAndConverterHelper.createSourceAndConverters()` _outside_ of the playground repository?
3. Should I look where `SourceAndConverterHelper.createSourceAndConverters()` is currently called _within_

[2021-04-24 13:49] tischi commented on #214
ad 3. I checked within the playground and the only place where this method is called is from `SACService.register( AbstractSpimData )` and within this method the registration happens anyway. Thus, just for within the playground it looks as if we could simply remove the registration from the method.

[2021-04-24 14:05] tischi commented on #214
I looked a bit deeper and the issue is that the SpimData contains more information (namely the `ProjectionMode`) than the `SourceAndConverter` object can represent. Thus you need to register them in order to store this extra information in the metadata store.

There are several options I think.

Option 1: Since there is a lot of stuff happening inside `SourceAndConverterHelper.createSourceAndConve

[2021-04-24 17:25] NicoKiaru commented on #214
Ah but here this creates another issue : if we do not register the sources when they are shown, then there's no way of catching and caching the `ConverterSetup`, which is used for synchronisation of display among multiple bdv windows.

[2021-04-24 19:38] tischi commented on #214
Maybe a misunderstanding: I think it is **good** thing that `SourceAndConverterBdvDisplaySerivce.show( sac )` registers the sac, because there one is very obviously entering the world of the Services.

[2021-04-29 11:55] NicoKiaru commented on #214
Is this issue still valid with the `sacCreator` branch merged ? @tischi , or can we close it ?

[2021-04-29 11:56] tischi commented on #214
Thanks for the merge!!

[2021-04-29 11:56] #214 closed, assigned to nobody

[2021-04-29 13:58] #201 closed, assigned to nobody

[2021-05-05 07:59] tischi opened #218 "Logging of actions"
@NicoKiaru
Do we need this logging?
The users may think something bad happened...

<img width="448" alt="image" src="https://user-images.githubusercontent.com/2157566/117111937-9e6c7e80-ad88-11eb-96a6-1d26ec474e73.png">

[2021-05-05 09:16] NicoKiaru commented on #218
All the logging is pretty badly done. We need to do this more cleanly for sure (with levels : debug, warning, error) see also https://github.com/bigdataviewer/bigdataviewer-playground/issues/172

[2021-05-07 14:31] #180 closed, assigned to nobody

[2021-05-07 14:31] #199 closed, assigned to nobody

[2021-05-12 10:25] tischi opened #221 "DisplayService is not instantiated"
@NicoKiaru

In the latest master branch:

[code]

The `displayService` is null for me. Do you have any idea why? Can I instantiate it somehow directly without relying on the magic?

[2021-05-12 10:36] tischi opened #222 "BrightnessAutoAdjuster works with services"
@NicoKiaru

I found the following change in the `BrightnessAutoAdjuster`:

[code]

This crashes if the `getSourceAndConverterDisplayService()` returns null and thus this class cannot be used outside the Service context. Could we revert this back such that the commented lines are used again? If possible, I think we should not have the Services logic inside of such classes, but this should be handle

[2021-05-12 10:56] NicoKiaru commented on #221
Normally there's no issue, sometimes I noticed that you need to do a clean install to make it work again.  Did you try that already ?

[2021-05-12 11:12] tischi commented on #221
clean install did the trick.

but it is a bit scary...

could we add functionality to ensure this "by hand"?

[2021-05-12 12:33] NicoKiaru commented on #221
This problem never happens in Fiji, it's just an annoyance in the IDE, related to scijava which, I think, looks for stuff in the jar for annotation parameter. So if your jar is outdated, you will have some issued. Since the jar is Fiji is always the 'good one' in Fiji, this issue will never happen.

I don't know how to ensure this by hand, unless making a configuration in the IDE which always run

[2021-05-12 12:38] tischi commented on #221
Can't we just add a method `SourceAndConverterServices.initialise()`?

[2021-05-12 12:41] NicoKiaru commented on #221
If the scijava annotations are not right because of an out of sync jar, I don't see how you can initialise (we rely on scijava to detect actions for instance). But try and see if you can make it work ?

[2021-05-12 12:55] tischi commented on #221
I see, you are saying all the other things would also not work!
In that case let's close the issue :-)

[2021-05-12 12:55] #221 closed, assigned to nobody

[2021-05-12 14:15] NicoKiaru commented on #222
For viewer adjusters, it makes sense to have bdvs because you need to adjust a viewer. The thing about convertersetups is that they can live fully outside bdvs, (these values are stored within abstractspimdata for instance).

But to push this logic further, I think it would make sense to put convertersetup methods into the sourceandconverter service directly, which should also solve this problem.

[2021-05-12 14:54] tischi commented on #222
That sounds good! As a first step, to me that simply would mean that the code that currently calls the `BrightnessAutoAdjuster` would be responsible for adjusting the `ConverterSetups` rather than the `BrightnessAutoAdjuster` itself. Or is it more complex than that?

[2021-05-12 15:09] NicoKiaru commented on #222
But to 'autoadjust', you need a source, no ? How can you adjust using only convertersetups ? Maybe I'm misunderstanding

[2021-05-12 15:22] NicoKiaru commented on #218
Now using a much cleaner logging: https://github.com/bigdataviewer/bigdataviewer-playground/commit/18c32ee59d1d5305d98d24c232ce614732dada9b

[2021-05-12 15:22] #218 closed, assigned to nobody

[2021-05-12 15:31] NicoKiaru commented on #172
@imagejan I went for slf4j logging instead of scijava logservice, because I did not have access to s scijava context in all classes...

But clearly that was really helpful to find a super annoying GUI bug in bdv...

@tischi there are now a lot of logs showing up. But they can be deactivated with `DebugTools`, the same way you deactivate them with bioformats. You can set the level of logging and al

[2021-05-12 15:31] #172 closed, assigned to nobody

[2021-05-12 16:37] tischi commented on #218
Thanks!!

[2021-05-12 16:43] tischi commented on #222
I think I wrote it badly.

I would suggest:

`BrightnessAutoAdjuster(sac)` adjusts the converter and has methods `getMin()`, `getMax()`.

Other code deals with the `ConverterSetups`, consuming the output of the `BrightnessAutoAdjuster`.

[2021-05-12 19:42] NicoKiaru commented on #222
Ah right, I was confused about what's in the converter and what's in the convertersetup. I see

[2021-05-14 18:05] martinschorb opened #223 "Brightness adjustment crashes when trying to invert contrast"
Hi,

- Select `Set Sources Brightness`

- choose `min>max`

[code]

[2021-05-16 11:51] tischi commented on #223
@NicoKiaru
I also found out that `RealARGBColorConverter` does return black values if `max < min`. Thus, to support this I think we would need another converter. I will look into this for MoBIE and keep you posted.

[2021-05-17 15:27] NicoKiaru commented on #223
Hmm, too bad it throws an error... I think before the refactoring it wasn't crashing but giving nonsense colors, which is not so much better

[2021-05-18 06:23] tischi opened #224 "Implement SourceChanger?!"
@NicoKiaru

Do you think this could be useful? If it works I think it could avoid quite some code duplication:

[code]

The `Function< Source< ? >, Source< ? > > sourceConverter` would for example return a `TransformedSource` or a `WarpedSource`, given an input `Source`.

For this one needs to create a `SourceTransformer implements Function< Source< ? >, Source< ? > >` and a `SourceWarper implemen

[2021-05-18 10:54] tischi commented on #224
I played with it and it is working.

Here is an improved version of the class:

[code]

One can use this now even with a lambda, for example like this:

[code]

That means one only has to implement the class the converts the source and the rest can be done by the `SourceChanger`.

[2021-05-18 10:57] NicoKiaru commented on #224
Looks good! Do you think it's better as an action or it could fit as a static function in sourceandconverter helper.

Also : regarding the converter, I uses the clone converter function instead of reusing the same converter. Do you have a good reason not to clone it ? Should we make this optional (clone or reuse?)

[2021-05-18 11:24] tischi commented on #224
I think it should be a class, because otherwise we cannot implement the `apply` functional interface which can be handy. In addition, it is a pendant to the `ConverterChanger` which also is a class.
If you agree to make it a class, where should I put it?

Yes, should be optional, one needs both I think. I can amend the code to enable cloning.

[2021-05-18 13:06] NicoKiaru commented on #224
go for it, with optional converter cloning ! 👍

[2021-05-18 15:21] tischi commented on #224
But in _which package_ should I put it?

[2021-05-19 12:29] NicoKiaru commented on #224
Here https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg ? Within a new source package ?

[2021-05-20 19:06] tischi commented on #224
I'll be on holidays from tomorrow for one week 🌴 ⛰️
I'll do this once I am back!

[2021-06-01 06:42] tischi opened #225 "Menu nesting"
@NicoKiaru
What about creating a Fiji menu entry "BigDataViewer Playground"?
This would get rid of one nesting and thus make it easier for the users to navigate to the menu items.

[2021-06-01 08:01] tischi opened #226 "Choices of auto-contrast and adjust viewer transform are not macro recorded."
It only records:

[code]

[2021-06-01 11:25] NicoKiaru commented on #225
Definitely.

[2021-06-02 08:08] tischi opened #227 "Showing sources first time does not work"
We have the issue that when we start the playground and for the first time want to show sources in BDV by right clicking in the source tree, a BDV window shows up, but there are no sources added.
If we do this a second time, it usually works?

Do you know what the issue could be?
Could it be related that we are missing the mastodon config file?

[2021-06-02 08:09] tischi opened #228 "Right click options in BDV are not available"
If we right click into the BDV window there is no context menu showing up.

Is that because we are missing the settings config file?

[2021-06-02 10:16] NicoKiaru commented on #228
New version ? It's because there's no context menu in the MinimalBdvSupplier I think, you need to set another one which includes the context menu.

What's strongly missing is some documentation about all this...

[2021-06-28 09:08] NicoKiaru opened #230 "Makes a warning when erasing file"
In the reorder dataset command

[2021-06-29 06:24] NicoKiaru opened #231 "Save BDV Dataset command opens never ending windows"
Probably due to a wrong input parameter when right clicking (single sourceandconverter instead of array one)

[2021-07-06 06:54] tischi opened #232 "ScreenShotMaker"
@NicoKiaru

Sorry, I am sure I asked this before, but where did the ScreenShotMakerCommand go?

I think I remember that the issue was the the ScreenShotMaker needs to know about the AccumulateProjector and it was not clear how to handle this?

[2021-07-06 07:01] tischi commented on #232
I guess for now I could just have the ScreenShotMaker that works with the AccumulateMixedProjector inside the MoBIE repo? And then also move the AccumulateMixedProjector into the MoBIE repo?

Long term we could maybe think about whether the BdvSupplier could also supply the corresponding Projector?

[2021-07-07 07:33] NicoKiaru commented on #232
Totally agree, we should do that and restore the ScreenShotMaker in bdv-playground, using this projector info

[2021-07-08 19:44] NicoKiaru commented on #228
Closing -> this needs to be done now in the bdv supplier, cf repo https://github.com/NicoKiaru/bigdataviewer-playground-display for instance

[2021-07-08 19:44] #228 closed, assigned to nobody

[2021-07-08 19:46] NicoKiaru commented on #211
I think this can be added in the supplier in upstream repos

[2021-07-08 19:46] #211 closed, assigned to tischi

[2021-07-08 19:47] NicoKiaru commented on #205
Now obsolete because the projection mode is not not handled in this repo anymore.

Closing for now, but please reopen if you prefer

[2021-07-08 19:47] #205 closed, assigned to nobody

[2021-07-08 19:49] NicoKiaru commented on #192
the PR was merged, I guess this means we can close this issue

[2021-07-08 19:49] #192 closed, assigned to nobody

[2021-07-08 19:50] NicoKiaru commented on #182
Moved to https://github.com/NicoKiaru/bigdataviewer-playground-display/issues/2

[2021-07-08 19:50] #182 closed, assigned to nobody

[2021-07-08 19:53] NicoKiaru commented on #177
I added a simple example of the resampling mechanism here : https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/test/src/sc/fiji/bdvpg/SimpleResamplingDemo.java

And added constructors in order to build more easily 'empty' source and converters in https://github.com/bigdataviewer/bigdataviewer-playground/commit/e01ee55137e42bc1cf3d153612c97acf3f119019

Please reopen if needed

[2021-07-08 19:53] #177 closed, assigned to nobody

[2021-07-08 19:55] NicoKiaru commented on #150
Some references to SourceAndConverters were kept in the UI. Because now the UI uses suppliers of SourceAndConverter, the leak is 'resolved' because keeping a reference to the supplier occupies almost no memory

[2021-07-08 19:55] #150 closed, assigned to nobody

[2021-07-08 19:56] NicoKiaru commented on #140
Not sure this still happens, closing for now because I have no way to reproduce this easily

[2021-07-08 19:56] #140 closed, assigned to nobody

[2021-07-08 19:57] NicoKiaru commented on #181
Should we still keep this issue open @tischi or could it move to another repo ?

[2021-07-09 10:44] tischi commented on #181
We can close it.

[2021-07-09 10:44] #181 closed, assigned to nobody

[2021-07-09 18:18] tischi opened #233 "Resampled Source"
@NicoKiaru

Thanks a lot! It is working!

I'd have a couple of suggestions/wishes.

--------

[code]

Could we please change that to

[code]

This would give us the flexibility to give the source any name we want (including:  `origin.getName()+"_ResampledAs_"+"something"` as once could just give it this name).

------

Could we add a constructor like this:

```EmptySourceAndConverterCreator( Final

[2021-07-09 19:55] tischi commented on #233
Regarding the name, I think even better would be if the `SourceResampler` would get a `String name` argument into its constructor and that would be the name of the new Source.

[2021-07-14 14:25] tischi commented on #233
@NicoKiaru would you be fine with implementing above suggestions? I can do it in a PR, but I don't want to work on it if you would not like that...

[2021-07-14 18:20] NicoKiaru commented on #233
Hi @tischi,

No I think it's alright, I just don't have time to work on it, but I'm happy if you make a PR.

I will just check whether the serialization remains unaffected by this.

Regarding your points:

- For the name change, I don't see any issue.

I think that's difficult. Because there are too many ways to figure out the optimal number of voxels. Instead I would rather try to make a static f

[2021-07-15 06:55] tischi commented on #233
Using `TransformedSource`, right?

[2021-07-15 06:57] NicoKiaru commented on #233
Yep!

[2021-07-15 07:50] tischi commented on #233
But if we add a `String  name` to the `SourceResampler`, would that also break your serialization?

[2021-07-15 07:52] NicoKiaru commented on #233
Yes, but let's do it for this one.

[2021-07-15 14:55] tischi commented on #233
@NicoKiaru I don't understand how to set the `voxelDimensions` of the `ResampledSource`. Can you help me there?

[2021-07-15 14:58] NicoKiaru commented on #233
The voxelDimensions of the Resampled source are the ones of the model source used for the resampling:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/e685cd1ef3625a415d37fa713f63f07b7be709ae/src/main/java/bdv/util/ResampledSource.java#L321

Usually, the model is created as an `EmptySource` which voxeldimensions are non optimally specified here:

https://github.com/bigdataviewer/big

[2021-07-15 15:10] tischi commented on #233
I think we either need to give the `voxelDimensions` as an optional argument to the constructor of `EmptySource` or to the ResampledSource`. As I am changing the constructor of the `ResampledSource` already anyway to accommodate the `name`, I would add it there.

[2021-07-15 15:55] tischi commented on #233
I am thinking now adding it to the constructor of `EmptySource` makes much more sense as this is the place where one also specifies the other dimension related properties.

[2021-07-16 10:22] tischi commented on #233
@NicoKiaru Ok, for you? (see above)

[2021-07-16 13:22] NicoKiaru commented on #233
Perfectly agree

[2021-07-20 08:02] NicoKiaru opened #235 "Add scaler and translater command"

[2021-07-22 13:37] tischi opened #236 "ColorChanger does not trigger BDV repaint"
@NicoKiaru For me, changing a color with the ColorChanger does not trigger a bdv.repaint().

Currently we have those lines of code:
[code]
Maybe that's not enough? Maybe we also need to find all the bdvHandle where the sac is displayed and trigger a repaint there?

[2021-07-22 13:39] tischi commented on #236
Or maybe we don't do this on purpose such that one can trigger the repaint somewhere else more efficiently?

[2021-07-22 14:16] NicoKiaru commented on #236
Not sure if it's done on purpose, but you can repaint all windows which contains a certain source by calling

https://github.com/bigdataviewer/bigdataviewer-playground/blob/9ed7adb1abc1beebb25ef6dd19365df10a25345a/src/main/java/sc/fiji/bdvpg/scijava/services/SourceAndConverterBdvDisplayService.java#L395

[2021-07-22 14:20] tischi commented on #236
And what's your feeling? Should we add this to the `ColorChanger`?

It would be convenient, however if you change the color of many sac it might be more efficient to first change all their colors and only then trigger the update of the display...

[2021-07-29 14:54] martinschorb opened #237 "How to export a warped source properly?"
Hi,

I have registered some sources in BigWarp. Now I want to use the registered sources in MoBIE and hence want to either

1. extract the affine transformation (ideal scenario) or
2. export a re-sampled warped sources.

If I try this (2) using (Export source as XML/HDF5), there always is significant downsampling and loss of resolution.

What is the proper way?

[2021-07-29 15:53] tischi commented on #237
@NicoKiaru what do you fetch back from BigWarp when an affine transform was used. Is it a `TransformedSource`? If that's the case, maybe one can introspect the source to see which affine transform was added by BigWarp? I remember there was some way in the playground to introspect sources, but I don't know now exactly how that worked.

[2021-07-29 16:06] martinschorb commented on #237
The BigWarp moving source is appearing as transformed `..._xfm_0` source in the BDV-PG source list. It has this cube icon, so I assume it is a warped source. When I choose "affine" as BigWarp Transform Type, there should be a way of extracting this affine transform somehow similar to doing a BDV-PG manual transform and then exporting it.

I would be fine even with exporting a re-sampled source for

[2021-07-29 17:46] tischi commented on #237
I had a look into the code and found this:
[code]
Do you have this menu item in your version? This could give you a json with all the Sources serialized. Maybe there you can find the affine transform in the warped sources. But I am not sure as I am not sure how the  warped sources returned by BigWarp internally look like, maybe @bogovicj can help?

[2021-08-09 06:10] tischi opened #239 "incompatible with ilastik"
Hi @NicoKiaru and @k-dominik

When I install bdv-playground running ilastik from Fiji does not show an output image anymore.

I am wondering whether the playground may do some post-processing with Command output like this: https://github.com/ilastik/ilastik4ij/blob/c3f2b21f094f3a66b537f26663fc5d6149a6cfb3/src/main/java/org/ilastik/ilastik4ij/ui/IlastikPixelClassificationCommand.java#L45
such that

[2021-08-09 06:50] tischi commented on #239
To be precise ilastik does not show output images together with these dependencies: https://github.com/tischi/segmentation-annotator/blob/a43301a699101493ca188101e8264ead6d9975ae/pom.xml#L72
If you feel that a newer version of bdv-playground should not have this issue I can bump the dependencies.
It may of course also possible that some of my code is the culprit, but as I don't think I have any po

[2021-08-16 07:21] NicoKiaru commented on #237
I get a WarpedSource, because it's more general. But the transformation should be accessible with `((WarpedSource) source).getTransform()`. Would that work ?

[2021-08-17 13:21] bogovicj commented on #237
Sorry for missing this until now.  I think @NicoKiaru will be the most help, since he's done the nicest work on serializing transforms in a clean way.

I'll add some information that may be helpful for now anyway.  A `WarpedSource` just needs a source and a `RealTransform` where the transform takes points from target to source space

Something like this would build a WarpedSource from your origina

[2021-08-19 07:15] NicoKiaru commented on #239
A bug in the BdvHandle postprocessor slipped through during some refactoring. It's been fixed in this commit:

https://github.com/bigdataviewer/bigdataviewer-playground/commit/34564fe1f9ad660ddf6cd8051c7ef0329a0834bd

So yes, a newer version should work

[2021-08-20 18:00] NicoKiaru commented on #227
Not sure, how can I reproduce it ?

[2021-09-13 08:01] tischi opened #241 "IntelliJ showing weird errors"
@NicoKiaru I wanted to finally look at your z-slider PR but I am having weird issues with the repo in IntelliJ:

<img width="1328" alt="image" src="https://user-images.githubusercontent.com/2157566/133045865-f7ae943c-f73f-4879-96f9-f7979fdd7a2a.png">

This is in the `raycast` branch.

The weird thing is that both maven and IntelliJ do compile the project without errors. Do you have any idea what t

[2021-09-13 08:23] NicoKiaru commented on #241
Weird - have you tried somzthing like 'invalidate cache' in intellij? That s what I try when I get weird errors like this

[2021-09-13 08:25] NicoKiaru commented on #241
File>invalidate caches and restart

[2021-09-13 13:20] tischi commented on #241
Thanks! That did the job!

[2021-09-13 13:20] #241 closed, assigned to nobody

[2021-09-27 20:22] NicoKiaru commented on #239
So far only ABBA ( experimental ) contains the new version which should fix this issue.

[2021-09-27 20:22] #239 closed, assigned to nobody

[2021-09-27 20:25] NicoKiaru commented on #236
Right, maybe for efficiency, we should trigger it in the command, but not in color changer.

One line needs to be added here: https://github.com/bigdataviewer/bigdataviewer-playground/blob/d0db4c18218bb744f464de5167fd279eea873cf6/src/main/java/sc/fiji/bdvpg/scijava/command/source/SourceColorChangerCommand.java#L54

[2021-09-27 20:26] NicoKiaru commented on #196
I think this is now obsolete because the projector options are not dealt with anymore in this repository, but in bigdataviewer-playground-display

[2021-09-27 20:26] #196 closed, assigned to nobody

[2021-09-27 20:28] NicoKiaru commented on #136
This issue does belong to the projectors, which are now delegated to the  bigdataviewer-playground-display repo

[2021-09-27 20:28] #136 closed, assigned to nobody

[2021-09-27 20:28] NicoKiaru commented on #94
See bigdataviewer-playground-display

[2021-09-27 20:28] #94 closed, assigned to tischi

[2021-09-27 20:29] NicoKiaru commented on #95
To check in bigdataviewer-playground-display. There is an alpha projection layer mechanism in there

[2021-09-27 20:29] #95 closed, assigned to tischi

[2021-09-27 20:33] NicoKiaru commented on #210
This would need to be discussed in bigdataviewer-bioformats.

Honestly I don't have time to work on it.

[2021-09-27 20:33] #210 closed, assigned to nobody

[2021-09-27 20:35] NicoKiaru commented on #78
Ah now we have one! @tischi tried it. There's a demo (https://github.com/bigdataviewer/bigdataviewer-playground/blob/ef3717c9010ca89f2421dc08baefdd753c06dd48/src/test/src/sc/fiji/bdvpg/RayCastDemo.java)

It it can be added to a bdv window quite easily

[2021-09-27 20:35] #78 closed, assigned to nobody

[2021-10-05 08:00] tischi commented on #236
@NicoKiaru I made a PR. Please close this issue in case you gonna merge it.

[2021-10-12 07:51] NicoKiaru commented on #236
Perfect, thanks!

[2021-10-12 07:51] #236 closed, assigned to nobody

[2021-10-12 07:52] NicoKiaru commented on #236
PR for reference: https://github.com/bigdataviewer/bigdataviewer-playground/pull/243

[2021-10-21 08:20] NicoKiaru commented on #235
I should be a bit more explicit next time!

[2021-10-21 08:20] #235 closed, assigned to nobody

[2021-10-21 09:01] NicoKiaru commented on #233
All of this has been done already I think, in https://github.com/bigdataviewer/bigdataviewer-playground/commit/132cd4d89affac60ea573b882ce58320a7f8b64f and https://github.com/bigdataviewer/bigdataviewer-playground/commit/d07a0cb8a417a4d820172ed1566e203a60260b1e

So I close the issue

[2021-10-21 09:01] #233 closed, assigned to nobody

[2021-10-21 09:07] NicoKiaru commented on #231
Attempted fix in https://github.com/bigdataviewer/bigdataviewer-playground/commit/cbb119c8a351fcc464d706b18c8a8001f24a70a2

[2021-10-21 09:10] NicoKiaru commented on #226
Yes, it's because it's in the supplier now. The command `BdvWindowCreatorCommand` has not argument:

`
public class BdvWindowCreatorCommand implements BdvPlaygroundActionCommand {

    /**
     * This triggers: {@link sc.fiji.bdvpg.scijava.processors.BdvHandlePostprocessor}
     */
    @Parameter(type = ItemIO.OUTPUT)
    public BdvHandle bdvh;

    @Parameter
    SourceAndConverterBdvDisplayServi

[2021-10-21 09:10] #226 closed, assigned to nobody

[2021-10-21 09:17] #225 closed, assigned to nobody

[2021-10-21 09:20] NicoKiaru commented on #222
Was something done for this issue finally @tischi ?

[2021-10-21 09:28] #200 closed, assigned to nobody

[2021-10-21 09:30] NicoKiaru commented on #100
See https://github.com/bigdataviewer/bigdataviewer-playground/commit/7583f2af2ff8d9f9b7ecdf692ed0dd97010854de

[2021-10-21 09:30] #100 closed, assigned to nobody

[2021-10-21 10:36] #123 closed, assigned to nobody

[2021-10-21 10:37] NicoKiaru commented on #117
@tischi @martinschorb since it's related to the projector, I'm closing the issue here. It could be worth adding to bigdataviewer-playground-display or in MoBie

[2021-10-21 10:37] #117 closed, assigned to nobody

[2021-10-21 10:39] NicoKiaru commented on #230
Issue moved to bdv-biop-tools : https://github.com/BIOP/bigdataviewer-biop-tools/issues/32

[2021-10-21 10:39] #230 closed, assigned to nobody

[2021-10-21 11:50] tischi commented on #222
Nope, I don't think so yet. I would have to dig into this again as I forgot what the issue was.

[2021-10-21 12:34] NicoKiaru commented on #67
Done in https://github.com/bigdataviewer/bigdataviewer-playground/commit/081ac654d6549cc6033d89c0b63a342ded9161a9

[2021-10-21 12:34] #67 closed, assigned to tischi

[2021-12-14 11:08] imagejan commented on #136
@NicoKiaru wrote:

For reference (as it took me a while to find where the `bigdataviewer-playground-display` repo is located, and it's not in the `bigdataviewer` org): https://github.com/BIOP/bigdataviewer-playground-display

[2021-12-14 15:52] NicoKiaru commented on #136
Thanks @imagejan !

[2021-12-16 12:53] #231 closed, assigned to nobody

[2021-12-16 12:58] NicoKiaru commented on #223
I think this issue should go in bigdataviewer-core. I'll post an issue there and close this one:

See https://github.com/bigdataviewer/bigdataviewer-core/issues/187

[2021-12-16 12:58] #223 closed, assigned to nobody

[2021-12-16 13:00] NicoKiaru commented on #227
Could it be the time it takes for autoscale when your image is big ?

I can't reproduce this, but please reopen if needed

Closing this now

[2021-12-16 13:00] #227 closed, assigned to nobody

[2021-12-16 13:22] #222 closed, assigned to nobody

[2021-12-16 13:22] NicoKiaru commented on #222
I put the convertersetup accessible in the SourceAndConverterService as you suggested initially. The problem with converters is that they are not always having a getmin and getmax function, while converter setups have.

I increase the version number '0.4+' because this modifies the service interface.

[2021-12-16 13:23] NicoKiaru commented on #213
Would need a simple example to reproduce...

[2021-12-16 13:24] #187 closed, assigned to nobody

[2021-12-16 13:30] NicoKiaru commented on #183
Already done with the static flag in sc.fiji.bdvpg.PlaygroundPrefs

[2021-12-16 13:30] #183 closed, assigned to nobody

[2021-12-16 13:31] NicoKiaru commented on #131
See https://github.com/bigdataviewer/bigdataviewer-core/issues/187 to follow up on this issue

[2021-12-16 13:31] #131 closed, assigned to nobody

[2022-01-17 20:42] NicoKiaru commented on #81
There is an ortho view for quite some time now:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/scijava/command/bdv/BdvOrthoWindowCreatorCommand.java

The interface can be improved, but I'll close the issue. If there are improvements needed for the UI, then let's open another issue

[2022-01-17 20:42] #81 closed, assigned to nobody

[2022-01-17 20:48] NicoKiaru commented on #237
Closing this issue for now. It can be done, but maybe to get a nice user interface it's better to make a command in another repo for the specific case you want to use. (see warpy wizard ui for instance: https://www.youtube.com/watch?v=s5GoNND6Mho)

[2022-01-17 20:48] #237 closed, assigned to nobody

[2022-01-17 20:51] NicoKiaru commented on #206
I think this was fixed, but I don't remember when and the commit (most useless message ever)

[2022-01-17 20:51] #206 closed, assigned to nobody

[2022-01-17 20:53] #193 closed, assigned to nobody

[2022-01-17 20:59] NicoKiaru commented on #160
Yeah, it's complicated. I've just done something in bigdataviewer-playground-display with 'AlphaSource' which can be used to know if any source is present or not at a certain point, but that's some extra difficulties, and probably out of scope for this repo: https://github.com/BIOP/bigdataviewer-playground-display/tree/master/src/main/java/bdv/util/source/alpha

[2022-01-27 20:50] NicoKiaru opened #244 "Problem in mipmap level correspondance"
Best Match in resampled source is wrong. Check bdv-biop-tools alpha fused resampled

[2022-02-22 14:24] NicoKiaru opened #245 "2d empty source model: matrix is singular"
If one wants to make an empty source with no thickness, we get this error:
[code]

[2022-02-24 17:47] tischi opened #246 "ViewerTransformAdjuster for multiple sources"
@NicoKiaru

you have there code like this:

[code]

Is that maybe rather the **union** interval?

If so, could one just use the inbuilt `Intervals.union` for this?

[2022-02-24 21:33] NicoKiaru commented on #246
Ah nice! I didn't know it exists. But is union really union ?

Because [1..3] union [5..7] is not supposed to be [1..7], but [1..3]U[5..7].

I guess it's just a naming problem. With Intervals we always get bounds and not a 'real' union.

[2022-02-25 07:53] tischi commented on #246
Good point. Javadoc says: "Compute the smallest interval that contains both input intervals."

I have a TransformHelpers class with such code:

[code]

What do you think?

[2022-02-25 08:41] NicoKiaru commented on #246
Looks good! I would add a timepoint parameter though

[2022-02-25 09:53] tischi opened #247 "Bug in SourceAndConverterHelper.cloneConverter()"
@NicoKiaru

[code]

We do not need the second if statement, because already `ColorConverter` implements `LinearRange` which has `setMin` and `setMax`.

OK If I change this?

[2022-02-25 09:54] tischi commented on #247
So it would be:

[code]

[2022-02-25 10:04] NicoKiaru commented on #247
Ah, ok, sure!

[2022-02-25 11:20] tischi opened #249 "BigWarp z offset issue in 2D mode"
@NicoKiaru

How do you in practice figure out whether you would like to launch `BigWarpLauncherCommand` in 2D?

I have a feeling right now it is never launched in 2D?

Would it make sense to add a user parameter `boolean register2D`?

In fact, what happens then if the sources actually are in 3D?

[2022-02-25 12:53] NicoKiaru commented on #249
That's BigWarp dealing with it: if the source has a thickness of 1 slice, it is started as 2D, otherwise 3D.
Usually that's good enough.

But there is a `force2D` field in BigWarpLauncher (https://github.com/bigdataviewer/bigdataviewer-playground/blob/94c947c2b908d8def28281c3706e0b5bca459a53/src/main/java/sc/fiji/bdvpg/sourceandconverter/register/BigWarpLauncher.java), which forces 2D even if the

[2022-02-25 12:59] tischi commented on #249
Ok, I did not know that BigWarp does that automatically.

will BigWarp still display such sources?

[2022-02-25 13:01] NicoKiaru commented on #249
BigWarp displays those sources, but at z  = 0, so, you get a black image, unless the pixel size is above the z offset ...

[2022-02-28 07:55] tischi commented on #249
OK, that's an issue, I think (ping @bogovicj).

Use case: alignment of TEM sections, which sit physically on top of each other (and may have thus a corresponding `sourceTransform` that shifts them in z) and one would like to align them in 2D.

[2022-02-28 09:10] tischi commented on #247
@NicoKiaru Did you see the PR?

[2022-02-28 09:34] #247 closed, assigned to nobody

[2022-02-28 09:39] NicoKiaru commented on #247
Merged. It 's present in version 0.4.2.

[2022-02-28 13:44] bogovicj commented on #249
Thanks @tischi and @NicoKiaru
Just to make sure I understand correctly, Bigwarp currently:
* automatically detects whether a source is 2D
  * and this is correct(?)
* it displays all 2d sources at z=0
  * this is incorrect

[2022-02-28 14:05] NicoKiaru commented on #249
@bogovicj

Yes, that's exactly it. And note that in the worst case scenario, the z offset may be different between the moving and the fixed source.

If you go for some modification, I'd still like to be able to keep the default behaviour if possible: In ABBA, I'm shifting the source in Z to select the part I want the user to see (before starting BigWarp).

[2022-03-10 19:20] bogovicj commented on #249
@NicoKiaru @tischi

I made some changes
https://github.com/saalfeldlab/bigwarp/commit/7fdfccaeab35423489f311c0bfd6495cd61020ab

Bigwarp seemed to show the 2d sources correctly on start up, but it was possible to mess it up with the `Q` and `W` hotkeys. I fixed those, but I'm probably missing some things.

Specifically, @NicoKiaru

are you getting this on startup?  if so, how?

This is the demo I u

[2022-04-12 12:48] martinschorb opened #250 "What to do with zero value?"
Hi,

BDV treats `data[..]=0` as "Zero-Value" and substitutes it with the background (black), no matter what contrast limits or LUT is chosen for that source. This is perfectly fine if `0` is the lowest possible value of data (as for an unsigned type). However, when dealing with data that contains negative values (signed float or int data types), this leads to a range of black "holes" in the data (

[2022-04-12 13:06] NicoKiaru commented on #250
I've played quite a lot with so-called 'alpha source' which is basically a mask applied over any source. This can probably be an option to overcome this. Do you have a simple reproducible way to show the issue ? I can try that approach

[2022-04-12 15:18] martinschorb commented on #250
I just realized that when changing the contrast minimum to negative, BDV's background indeed adjusts from black to grey. This only worked with one single source though...
Here's a data source:
https://oc.embl.de/index.php/s/Bw2N7Osk7uUvMzs

[2022-04-13 08:04] tischi commented on #250
Using the BDV brightness adjustments or the ones in MoBIE?

[2022-04-13 08:05] martinschorb commented on #250
I managed to get that in BDV only. But in a Fiji that has MoBIE installed.

[2022-04-13 08:55] tischi commented on #250
That shouldn't make a difference.

[2022-04-23 18:54] NicoKiaru commented on #246
Done in https://github.com/bigdataviewer/bigdataviewer-playground/commit/b701f4a104434c2ba63090b38da1936bfa2a6f9c. I still need to reduce since union takes only two arguments.

[2022-04-23 18:54] #246 closed, assigned to nobody

[2022-04-23 19:03] NicoKiaru commented on #249
@bogovicj I tried your test (BigWarp 7.0.5), and we can't see the landmarks (unless they are made very big) because of the z offset.

I'll open an issue in BigWarp as well

[2022-04-23 19:13] NicoKiaru commented on #245
Well, the empty source has to have a thickness.

[2022-04-23 19:13] #245 closed, assigned to nobody

[2022-04-23 19:13] NicoKiaru commented on #244
Related: https://github.com/BIOP/bigdataviewer-biop-tools/issues/36

[2022-04-23 20:11] NicoKiaru commented on #244
Done in commit referenced above

[2022-04-23 20:11] #244 closed, assigned to nobody

[2022-04-23 20:25] NicoKiaru commented on #232
Hi Tischi, I've added a method to access the accumulator. There's a default method that needs to be overriden ( probably in https://github.com/mobie/mobie-viewer-fiji/blob/main/src/main/java/org/embl/mobie/viewer/bdv/MobieBdvSupplier.java).
I hope that'll solve this issue.

[2022-04-23 20:38] NicoKiaru commented on #186
I'll close the issue. I don't see how to make this cleanly and functional from this repo. Please reopen if you have ideas!

[2022-04-23 20:38] #186 closed, assigned to nobody

[2022-04-23 21:15] NicoKiaru commented on #209
Mutate with spimdata was problematic indeed

[2022-04-23 21:15] #209 closed, assigned to nobody

[2022-04-23 21:22] NicoKiaru commented on #208
How annoying is this issue  @martinschorb ? @tischi I could add in 'manual registration starter' as an option a function that can be applied to the wrapped sources displayed for the registration. One could imagine changing the projection mode in this optional function.

[2022-04-23 21:29] NicoKiaru commented on #185
@tischi I think it's not a problem in the end. If you want to use the same converter for volatile and no volatile, you can do it. And if one wants to specify different ones or performance, it's also possible

[2022-04-23 21:29] #185 closed, assigned to nobody

[2022-04-23 21:32] NicoKiaru commented on #130
Pretty sure this was merged a long time ago. Closing

[2022-04-23 21:32] #130 closed, assigned to nobody

[2022-04-23 21:35] NicoKiaru commented on #88
Closing the issue. See the one in mobie viewer for more info

[2022-04-23 21:35] #88 closed, assigned to nobody

[2022-04-27 12:41] martinschorb commented on #208
as we mostly shifted to use MoBIE for visualizing multi-source data by now, I rarely suffer from it anymore. There we can define everything in the view.

[2022-04-27 13:00] NicoKiaru commented on #208
Ok, I think I close the issue for now then.

[2022-04-27 13:00] #208 closed, assigned to nobody

[2022-06-03 13:47] tischi opened #251 "wrong return value for SourceAndConverterHelper.getMaxTimepoint"
I think I raised this before, but I cannot find it now:
`SourceAndConverterHelper.getMaxTimepoint` returns the wrong results because the time points are `0` based. I think we should:  `return nFrames-1`.

[2022-06-07 06:26] tischi commented on #251
Another questions is why the code inside `SourceAndConverterHelper.getMaxTimepoint` needs to be so complex? Why not a simple for-loop to check whether a timepoint exists?

[2022-06-07 06:59] NicoKiaru commented on #251
Hi Tischi, I/you can add more functions that would perform better. Because I am using this function everywhere, I'd suggest to let it exist and put a Deprecated annotation. This will let me the time to update its use in other repos.

Regarding the loop: I wanted the function to work with procedural sources which may return true whatever the timepoint input. If I search for a false return linearly,

[2022-06-07 07:15] tischi commented on #251
OK, makes sense!
If I find the time I will add an alternative function and add `@Deprecated` to this one.
As mention in the mail, for yet _unknown_ reasons, this functions takes a really long time for me in some specific context.

[2022-06-08 07:13] tischi opened #252 "bug in `isPositionWithinSourceInterval`"
[code]

the last line should be:

`spimSource.getSource( timepoint, 0 );`

[2022-06-08 11:17] NicoKiaru commented on #252
Damned! Good catch

[2022-06-19 08:10] #252 closed, assigned to nobody

[2022-06-19 08:16] NicoKiaru commented on #250
I'm closing the issue, please reopen if you think something should be done in this repo.

[2022-06-19 08:16] #250 closed, assigned to nobody

[2022-06-19 08:22] NicoKiaru commented on #188
issue similar to https://github.com/bigdataviewer/bigdataviewer-playground/issues/160, so I'm closing this one

[2022-06-19 08:22] #188 closed, assigned to nobody

[2022-06-19 08:23] NicoKiaru commented on #160
See https://github.com/bigdataviewer/bigdataviewer-playground/issues/188 for a related discussion

[2022-06-19 08:26] NicoKiaru commented on #111
Is this issue still useful @constantinpape ? If yes, please reopen

[2022-06-19 08:26] #111 closed, assigned to nobody

[2022-06-19 08:28] NicoKiaru commented on #113
I'm doing a spring cleaning. Please reopen the issue if necessary. I believe that overlays should not be dealt with in this repo, which is already quite big

[2022-06-19 08:28] #113 closed, assigned to nobody

[2022-06-19 08:29] NicoKiaru commented on #83
The workaround (sync views + bookmarks) is working. Please reopen if you think that's not enough

[2022-06-19 08:29] #83 closed, assigned to nobody

[2022-06-19 08:30] NicoKiaru commented on #37
Issue still necessary @tischi ?

[2022-06-19 08:31] NicoKiaru commented on #1
Do you have this in MoBIE @tischi ? Should we let the issue open ?

[2022-06-19 13:16] tischi opened #253 "ConverterSetup creation could support more cases"
I think the logic here could be more permissive:

[code]

For example, the `else` case could be replace with:

[code]

In addition, looking `createConverterSetupRealType(..)` into there is:

[code]

`BigDataViewer.createConverterSetup(source, ` does not require the source to be of any specific type; thus the case `source.getConverter() instanceof ColorConverter)` could be handled independent of th

[2022-06-19 13:24] NicoKiaru commented on #253
Sure, make a PR.

The lines of code for reference:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/6a7e17d2a058caa644a2596b6d0c5811cb17821d/src/main/java/sc/fiji/bdvpg/sourceandconverter/SourceAndConverterHelper.java#L218-L231

Also there was an interface ([ICloneableConverter](https://github.com/bigdataviewer/bigdataviewer-playground/blob/94c947c2b908d8def28281c3706e0b5bca459a53/s

[2022-06-19 13:24] NicoKiaru opened #254 "BigDataViewer-Playground not working in headless mode"
@tischi how could we test that easily and minimally ?

[2022-06-19 13:49] tischi commented on #253
I think `BigDataViewer.createConverterSetup()` only works for `ColorConverter`...

[2022-06-19 13:49] tischi commented on #253
PR: https://github.com/bigdataviewer/bigdataviewer-playground/pull/255

[2022-06-20 20:30] NicoKiaru commented on #34
Done in https://github.com/bigdataviewer/bigdataviewer-playground/commit/af65f8b9add765cd02b2e3c275f506e48e971376

[2022-06-20 20:30] #34 closed, assigned to tischi

[2022-06-20 20:49] #254 closed, assigned to nobody

[2022-06-20 20:50] NicoKiaru commented on #254
Ok, found the main issue

[2022-06-20 20:51] NicoKiaru commented on #38
Still useful @tischi ?

[2022-06-23 11:26] #38 closed, assigned to tischi

[2022-06-23 11:26] #1 closed, assigned to tischi

[2022-06-23 11:27] #37 closed, assigned to haesleinhuepf

[2022-06-23 12:13] NicoKiaru commented on #253
PR merged. Closing this issue

[2022-06-23 12:13] #253 closed, assigned to tischi

[2022-06-23 12:16] NicoKiaru opened #256 "Run test run for each new commit - or when release"
For that may tests should be disabled when the mode is headless

[2022-06-28 20:00] NicoKiaru opened #257 "Adapting to bigdataviewer-core 10.4.1"
(see branch bdv-0.4.1 of this repo: https://github.com/bigdataviewer/bigdataviewer-playground/tree/bdv-0.4.1)

ping @tischi @tpietzsch

# Issue 1 - new methods in BdvHandle

getAppearanceManager and getKeymapManager not overriden in `bdv.util.ViewerPanelHandle`

[code]

Why bdv-playground need this ?

The ViewerPanelHandle is necessary to treat bigdataviewer windows of BigWarp  by @bogovicj as any

[2022-06-28 20:11] NicoKiaru opened #258 "Put required false on bvv windows"

[2022-06-28 20:54] NicoKiaru commented on #257
Associated repositories:
* no compile issue with https://github.com/BIOP/bigdataviewer-biop-tools (can't test because depends on playground)
* no issue with https://github.com/BIOP/bigdataviewer-bioformats
* no issue with https://github.com/BIOP/bigdataviewer-selector
* a modified import in https://github.com/BIOP/bigdataviewer-spimdata-extras, then no issue
* ISSUES in https://github.com/BIOP/big

[2022-06-28 21:12] tpietzsch commented on #257
If I understand correctly, you need `DefaultAccumulatorFactory`, because you want to have it serializable, and the ` AccumulateProjectorARGB.factory` is an anonymous class. I made a branch [playground](https://github.com/bigdataviewer/bigdataviewer-core/tree/playground) in `bigdataviewer-core` where this is no longer an anonymous class, so you should be able to just use (and serialize) it without

[2022-06-28 21:23] tpietzsch commented on #257
To explain the rationale behind that:
`KeymapManager` and `AppearanceManager` allow multiple BDV windows to share settings for keybindings and/or appearance (overlays, etc). I didn't want to make this global, because there might be legitimate reasons for different windows to have different overlay configurations etc.

The way to share the `KeymapManager` and `AppearanceManager` is through `ViewerO

[2022-06-28 21:24] tpietzsch commented on #257
not yet, but I'll do it soon.

[2022-06-29 06:54] NicoKiaru commented on #257
Thanks a lot @tpietzsch , I'll test these modifications, it doesn't look too complicated!

[2022-06-29 13:51] NicoKiaru commented on #257
It all looks good for this repo! I removed the deprecated API without any issue.

[2022-07-07 16:10] tischi commented on #254
@NicoKiaru is that already in some released version?

[2022-07-08 06:54] NicoKiaru commented on #254
Yes, the version 0.5.1 contains the fix

[2022-07-08 11:49] NicoKiaru commented on #171
Working on wildcard generics fix in the branch

https://github.com/bigdataviewer/bigdataviewer-playground/tree/fix-raw

[2022-07-12 15:28] #258 closed, assigned to nobody

[2022-07-18 21:02] NicoKiaru opened #259 "Better cache control"
# The goal

I'd like to improve Bdv-Playground and make it capable of handling really big data with low RAM.

# Why it's not ideal currently

It's doing ok, but it sometimes fails because some cached sources have a [`SoftRef` policy](https://www.baeldung.com/java-soft-references) which is not clearing the memory early enough. When the memory is nearly full,  the JVM then spends most of its time in

[2022-07-19 08:59] tischi commented on #259
I cannot comment deeply, because I have not looked into this in detail yet myself.
But, one thing I can share is that in MoBIE we have a function like this:

[code]

We found this necessary to clear up the memory.

[2022-07-19 09:07] NicoKiaru commented on #259
Regarding the `close` calls to imageloader, in theory it could be taken care of in
https://github.com/bigdataviewer/bigdataviewer-playground/blob/da133beb859b2ac6333c2445bf417129f8d9a2d7/src/main/java/sc/fiji/bdvpg/scijava/services/SourceAndConverterService.java#L475-L481

However the imageloaders need to implement closeable, and this does not seem to be the case... I'll make a PR.

[2022-07-19 09:18] tischi commented on #259
Where does the `Closeable` interface come from? I did not know about it...
We would need to add this in `mobie-io`.

[2022-07-19 09:21] NicoKiaru commented on #259
PR done here:

https://github.com/bigdataviewer/bigdataviewer-core/pull/142

(Closeable is `java.io.Closeable`. But it's not yet included in the Image Loader, that's why I've made the PR)

[2022-07-19 09:28] tischi commented on #259
Note that several `SAC` can use the same `ImgLoader`, e.g. when we construct a new `SAC` by transforming a `SAC`. So I think the `SACService` should _only_ close an `ImgLoader` if it is sure that there is no `SAC` left that would need it. Maybe we need a `Map< ImgLoader, Set< SAC > >` to keep track of this?

[2022-07-19 10:23] NicoKiaru commented on #259
Yes, it's already taken care of in the lines before (bdv - pg stores which sources are attached to a spimdataset):

https://github.com/bigdataviewer/bigdataviewer-playground/blob/da133beb859b2ac6333c2445bf417129f8d9a2d7/src/main/java/sc/fiji/bdvpg/scijava/services/SourceAndConverterService.java#L464-L483

[2022-07-19 11:29] tischi commented on #259
OK, how would I use this in MoBIE? There we open the SACs ourselves, not via bdv-pl...
Do I have to somehow register a `SpimData` object with a `SAC`?
How?

[2022-07-19 12:13] NicoKiaru commented on #259
You can with this function:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/538ed291b97d5fc672d8375dfed25dad2e3cdcb1/src/main/java/sc/fiji/bdvpg/scijava/services/SourceAndConverterService.java#L544-L546

[2022-07-25 16:03] NicoKiaru opened #260 "Missing functionality: Manual sources transformation : append (all timepoints after and all timepoints before)"

[2022-07-25 16:04] NicoKiaru opened #261 "Missing command : remove sources from bvv"

[2022-07-26 07:16] #261 closed, assigned to nobody

[2022-08-12 18:38] NicoKiaru commented on #260
Done in https://github.com/bigdataviewer/bigdataviewer-playground/commit/4b09474637f09135004869d148453fc36596640d

[2022-08-12 18:38] #260 closed, assigned to nobody

[2022-08-12 18:40] NicoKiaru commented on #171
https://github.com/bigdataviewer/bigdataviewer-playground/tree/fix-raw Will be merged for release with scijava 32.

[2022-08-12 18:41] NicoKiaru commented on #166
Mastodon dependency removed in https://github.com/bigdataviewer/bigdataviewer-playground/commit/1ee49e6b5a1395d257903add386666255e3de55d

[2022-08-12 18:41] #166 closed, assigned to nobody

[2022-08-12 18:43] NicoKiaru commented on #171
All scijava commands now have generics . Wildcards everywhere because we are working on arrays of sources which can have different types.

[2022-08-12 18:43] #171 closed, assigned to nobody

[2022-08-12 18:45] NicoKiaru commented on #257
Adaptation mostly done, I just need a new BigWarp release to update the pom. @bogovicj, when do you plan to make it ? Thanks!

[2022-08-15 15:53] bogovicj commented on #257
@NicoKiaru - pretty soon (hopefully next week?) There are just some last fixes / features that I would like to get in this version :)

[2022-09-03 13:57] NicoKiaru commented on #259
There's now a global cache and globalcacheloader objects which are used by resampled sources and by every image loader which contains a `cache` field. The cache field is replaced thanks to reflection.

All relevant classes are in the package `https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg/cache`.

Also : the cache is weighted by the memory thanks

[2022-09-03 13:57] #259 closed, assigned to nobody

[2022-09-03 13:59] NicoKiaru commented on #257
BigWarp release is done. So everything looks good on the bigdataviewer-playground side

[2022-09-03 13:59] #257 closed, assigned to nobody

[2022-09-28 08:27] NicoKiaru opened #262 "Add thread safe removeCard method in CardHelper"
cf bug: https://github.com/BIOP/ijp-imagetoatlas/issues/141

[2022-10-08 18:06] tischi opened #263 "add getCommandService() to SourceAndConverterService"
@NicoKiaru

Do you think it could make sense to add a method
`getCommandService()` to `SourceAndConverterService` ?
I holds a reference to it anyway, and it would be convenient to access it to launch modules using `commandService.run(...)`.

[2022-10-09 20:23] NicoKiaru commented on #263
I'm not a fan of this. If you really want a convenient static access to a command service, you can create your own service:

[code]

However, I think moving from our weird 'action' classes to an all static API, like `BdvFunctions` would be nice. I don't like the current complexity of the API.

Like QuPath, classes with static builders would be my preferred choice.

[2022-10-10 07:51] tischi commented on #263
Interesting!

So that class would be automatically initialized upon net.imagej startup?

[2022-10-10 09:26] NicoKiaru commented on #263
The class `MyStaticClassWhereINeedACommandService` ? Probably. It's what we are doing here: https://github.com/bigdataviewer/bigdataviewer-playground/blob/698cccfcb4c1715c9bf7f953bb45bc6a8687aeaf/src/main/java/sc/fiji/bdvpg/scijava/services/SourceAndConverterService.java#L744

[2022-10-10 11:26] tischi commented on #263
Works like a charm!
Thanks!

[code]

[2022-10-10 11:26] #263 closed, assigned to nobody

[2022-10-10 11:42] NicoKiaru commented on #262
It's been done: https://github.com/bigdataviewer/bigdataviewer-playground/blob/f63b5dabaae72c2147a86871439f973c917b0877/src/main/java/sc/fiji/bdvpg/bdv/BdvHandleHelper.java#L559

[2022-10-10 11:42] #262 closed, assigned to nobody

[2022-10-14 13:12] tischi commented on #259
@NicoKiaru Does this work now?
What do I need to do to clear all caches related to one `SourceAndConverter` ?

[2022-10-14 14:21] NicoKiaru commented on #259
What's your imageloader ? I can tell you if it will work or not ?

If, in your image loader there is a field named `cache` of type `VolatileGlobalCellCache`, the caching should work pretty nicely.

If your image loader implements `Closeable`, the close function will be called if all source and converters from the spimdata object are removed from the source and converter service

[2022-10-14 15:01] tischi commented on #259
Thanks @NicoKiaru !

That would be the most relevant right now: https://github.com/mobie/mobie-io/blob/main/src/main/java/org/embl/mobie/io/ome/zarr/loaders/N5OMEZarrImageLoader.java

But long term we may want to switch to opening images like this: https://github.com/mobie/mobie-io/blob/3fd0180fa013141dc5d8370dd365794904bfaf27/src/main/java/org/embl/mobie/io/ome/zarr/hackathon/MultiscaleImage.java

[2022-10-15 09:32] NicoKiaru commented on #259
https://github.com/mobie/mobie-io/blob/main/src/main/java/org/embl/mobie/io/ome/zarr/loaders/N5OMEZarrImageLoader.java

Looks ok for the cache. But it does not implement Closeable. Since there already is a close function, just add `implement Closeable`.

This can directly use the GlobalCache I've implemented (see below)

--------------------------

The issue I see with MultiscaleImage is that you