[2019-12-10 13:09] tischi opened #1 "Add SourceBrowsingBehaviour"
@MLbyML
https://github.com/tischi/bdv-utils/blob/master/src/main/java/de/embl/cba/bdv/utils/behaviour/BdvBehaviours.java#L161

[2019-12-10 13:16] tischi opened #2 "Add AddSourceBehaviour"

[2019-12-10 14:58] tischi commented on #2
- [ ] Should this also work for an empty BDV?

[2019-12-10 15:00] tischi opened #3 "Repository access rights"
@haesleinhuepf
Could you please grant me access?

[code]

[2019-12-10 15:32] tischi opened #4 "Add Menu entries to BDV"
[code]

[2019-12-10 16:16] tischi opened #5 "Class names"
@haesleinhuepf
I think those two classes should have simpler names, and also be more obvious to find as they are what potential users of this library would actually access:
- https://github.com/haesleinhuepf/bigdataviewer-playground/blob/addSource/src/main/java/sc/fiji/bdv/sourcehandling/AddSourceFromFileClickBehaviourInstaller.java#L12
- https://github.com/haesleinhuepf/bigdataviewer-playground/b

[2019-12-10 16:17] tischi commented on #4
there is now a `MenuAdder` class.

[2019-12-10 16:17] #4 closed, assigned to nobody

[2019-12-10 16:17] #3 closed, assigned to nobody

[2019-12-10 22:34] tischi opened #6 "nonVolatile access"
@haesleinhuepf

I saw you were looking at this today: https://github.com/tischi/bdv-utils/blob/51b4a8b9b67d4c081a6bb37153bea53b37ca63c1/src/main/java/de/embl/cba/bdv/utils/BdvUtils.java#L740

I think normally what you get back from BDV always is a `TransformedSource`, where one could just call `getWrappedSource()` to get to the actual data. I think all the other classes are due to stuff that I did

[2019-12-11 21:06] #6 closed, assigned to nobody

[2019-12-11 21:07] tischi opened #9 "Load sources"
Do we also want to support loading files that are not h5/xml?

[2019-12-12 07:39] NicoKiaru commented on #9
For xml datasets which are not h5 backed, it's automatically done with XmlIOLoader, but I guess your question is about other files (tifs and so on), right ?

An idea would be to use SciFIO or bigdataviewer_bioformats ?

EDIT : No need to add bigdataviewer_bioformats : that can be used transparently, without any modification of this repository, thanks the the extensibility mechanism of bdv xml data

[2019-12-12 10:26] tischi opened #11 "bigWarp"
@NicoKiaru I will add one branch for bigWarp integration. I saw you had another way of doing this. So it could be interesting if you added also your variation. At least I will add you as reviewer for my PR.

[2019-12-12 10:31] tischi opened #12 "GenericDialog"
@haesleinhuepf

I am sometimes using GenericDialog, for this I need some ImageJ dependency.
1. Do you think this is an issue?
1. Do you know which specific dependency that would be?

[2019-12-12 11:09] tischi opened #14 "Macro Recording"
@NicoKiaru

@haesleinhuepf and I decided for now to not write Command wrappers around the runnable methods, to keep the dependencies minimal. It could be a layer on top that might live in another repo, such as bigdataviewer-scijava.

[2019-12-12 15:45] NicoKiaru commented on #14
Ok doc. I'll try to give it a shot into bigdataviewer_scijava : to wrap existing behaviour into commands. This could be in theory the extra layer.

[2019-12-12 21:02] NicoKiaru commented on #11
So, you can have a look at

https://github.com/BIOP/bigdataviewer_scijava/blob/master/src/main/java/ch/epfl/biop/bdv/scijava/command/edit/register/BigWarpInitWithBdvSources.java

to see the variation. I'm taking as an input the `SourceAndConverter` objects. This avoid to have the issue of dealing with Volatile view. Display color and range are also transfered. It also works with multiple sources.

[2019-12-13 08:50] tischi commented on #11
Thanks!
Same question as in the PR: Do you think I should adapt my stuff or would you like to stage a PR with your version (after separating out the scijava stuff)?

[2019-12-13 10:00] NicoKiaru commented on #11
Yep, let's discuss this in the PR ? I answered there

[2019-12-14 11:05] tischi opened #15 "BdvHandle selection UI"
@NicoKiaru
Do you have something for people to select a `bdvHandle` via a user interface?
Something like:
[code]

[2019-12-14 12:17] NicoKiaru commented on #15
Yes:

https://imagej.net/Bigdataviewer_Scijava

I spent quite a lot of time understanding 'bigdataviewer_playground' in order to work together with you and @haesleinhuepf and others. It's important to try to be aware of what others do in order to continue in the right way. Your question makes me feel that you didn't do the effort of opening some  of the links I sent you.

I'm not asking to do thin

[2019-12-14 13:54] tischi commented on #15
Hi @NicoKiaru,

Thank you for sending the links again!
We are sorry for not inspecting them in detail!
Also, everything that has to do with SciJava is clearly your expertise!
We were was just curious whether and how one could add `BdvHandle` as a parameter.

The hope really was that you would have come to the hackathon! And the idea was that this hackathon would be a great opportunity to educate e

[2019-12-14 14:50] NicoKiaru commented on #15
Yep I'm missing something  completely agree. I can skype at 17h, would that be ok for a short update ?

For the technical details with Scijava BdvHandle, I'm using this trick discussed on the forum:
https://forum.image.sc/t/displaying-and-using-and-any-object-in-a-scijava-fiji-command/22395
It means you need the class `EasySwingDisplayViewer`, which is in [`scijava-ui-swing`](https://github.com/sc

[2019-12-14 15:16] tischi commented on #15
perfect! thanks a lot!!!

[2019-12-14 15:43] tischi opened #18 "Set ViewerTransform for newly added Source"
Hi @NicoKiaru,
cc @haesleinhuepf

Sorry again if this was already somewhere in your code, but I could not obviously find it.
We are looking for code that, **upon adding a new Source to a bdv updates the ViewerTransform such that the newly added Source would be nicely visible**.

I found this code in your repo:     https://github.com/BIOP/bigdataviewer_scijava/blob/09fbde9aabc95259e256bd8a446dc6303

[2019-12-14 15:59] NicoKiaru commented on #18
It's not there, except when the first source is displayed, but that's `BdvFunctions.show` which takes care of it.

The only thing I tried is this command:

[`BdvWindowTranslateCommand`](https://github.com/BIOP/bigdataviewer_scijava/blob/09fbde9aabc95259e256bd8a446dc63032584833/src/main/java/ch/epfl/biop/bdv/scijava/command/display/window/BdvWindowTranslateOnSource.java)

This command can be starte

[2019-12-14 17:02] tischi commented on #18
Cool! Would be great to see your code as an Action in the new community repo (aka bigdataviewer playground). I will try to dig into bdv-core to see how it is done there.

[2019-12-14 17:14] tischi commented on #18
I think I found it: https://github.com/bigdataviewer/bigdataviewer-core/blob/18e7fc18647e0e13344460f3f169825594b13a20/src/main/java/bdv/tools/InitializeViewerState.java#L94

Unfortunately it is not having the source as a parameter but is only doing it for the first source. I will copy the whole code and change this. Long term it would be nice to make a PR against BDV core to add this functionality

[2019-12-14 18:59] tischi commented on #18
@NicoKiaru
It is working:
https://github.com/haesleinhuepf/bigdataviewer-playground/blob/initViewerTransform/src/test/src/sc/fiji/bdv/navigate/ViewerTransformAdjusterDemo.java#L28

[2019-12-14 19:04] tischi opened #19 "Programmatic structure of "Bdv Actions""
@NicoKiaru @haesleinhuepf

I think these lines of demo code could be one good example to start discussing how we would the API to look like:

https://github.com/haesleinhuepf/bigdataviewer-playground/blob/6f56ea5d5113888e9e6337fca747a6cc5f725435/src/test/src/sc/fiji/bdv/navigate/ViewerTransformAdjusterDemo.java#L28

The same Action is called two times. Once just with constructor and run method. Th

[2019-12-14 19:23] tischi opened #20 "Commands"
@NicoKiaru @haesleinhuepf

Hey guys, I forgot the outcome of our discussion:
Did we want to put `Command`s into this repo or not?

I would be in favour of doing it because it makes it easier to actually use.

[2019-12-14 19:28] tischi commented on #20
@NicoKiaru @haesleinhuepf

I think I finally may understand what your worries are; citing you from imglib2/gitter

Is the point that you are actually also using the `Command`s programmatically?!
I did not get this at all! Because I personally exclusively used them to generate a GUI.

But if we wrap the "normal" java code also into commands everybody should be happy, isn't it?

[2019-12-14 22:26] tischi opened #21 "Too much functionality in SourceAdder?"
@NicoKiaru @haesleinhuepf

Could you guys please have a look at this code?

 https://github.com/haesleinhuepf/bigdataviewer-playground/blob/6f56ea5d5113888e9e6337fca747a6cc5f725435/src/main/java/sc/fiji/bdv/sources/read/SourceAdder.java#L22

I am confused whether there is now too much functionality in the `SourceAdder`. One could argue that it is now more like a `SourceAdderAndContrastAndViewAdjus

[2019-12-15 10:49] tischi opened #22 "Deploying functionality to users"
My plan would be
1. create a new GitHub repo called: `bigdataviewer-embl`
1. `bigdataviewer-embl` has `bigdataviewer-playground` as a dependency
1. in `bigdataviewer-embl` there would be a Plugin that adds BDV with some of the `bigdataviewer-playground` functionality into Fiji, e.g. menuPath = **Plugins>EMBL>BigDataViewer>Open BigDataViewer**

In some future we may then converge to something more

[2019-12-15 10:56] NicoKiaru commented on #22
Sure, why not ? I think we should create a gitter channel for all these discussions.

Do you now how to do this  @tischer or @haesleinhuepf  ?

[2019-12-15 11:00] tischi commented on #22
Nope, don't know, do you?

[2019-12-15 11:00] NicoKiaru commented on #22
I knew ;-) because I've created one, but I forgot. I'll look.

[2019-12-15 11:05] NicoKiaru commented on #21
Personally I like to have all functions separated, but it's true that chaining actions programmatically is a bit cumbersome:
Longest writing:
[code]
Or
[code]

A middle ground would be to keep actions as granular as possible (so three actions), and then reuse these three actions into a 'composite' more convenient one.

[2019-12-15 11:09] NicoKiaru commented on #22
Ok,  I need to own the project or to be part of a community. I can create a
`bigdataviewer-playground` community. Is that alright for everybody ?

[2019-12-15 11:13] NicoKiaru commented on #20
Regarding chaining in scijava behaviour : I have honestly no idea of what this is... I was just curious, but I really don't know if and how this could be useful to us.

For `Command`s, I think the choice was : we do not want scijava Commands dependency here. If we want to use them, we should create another repo which depends on `bigdataviewer-playground` and  wraps this repo's functionalities into

[2019-12-15 11:20] NicoKiaru commented on #19
The builder pattern could be nice indeed but it's not ideal to get the outputs. We could think of a function to retrieve all the outputs as a `List` or a `Map`. Something like:
[code]
But it's not great : how to know the name of the outputs ?

My vote here would be to keep things simple and as they are right now:
* no returned objects for input setters
* no input object for output getters

Would t

[2019-12-15 11:24] NicoKiaru commented on #18
Very cool!

I think, in relation to https://github.com/haesleinhuepf/bigdataviewer-playground/issues/21, I'd keep this autocontrast functionality in a separate action and make a sort of composite action which would call a more  granular `autocontrast` action, acting on a source.

[2019-12-15 11:28] NicoKiaru commented on #15
If we all agree on https://github.com/haesleinhuepf/bigdataviewer-playground/issues/20 : to keep scijava functionalities out, I think all the ui should be part of a different repo. I can imagine a `bigdataviewer-scijavaui` repo which would use such ui and a `BdvHandle` `Parameter`.

[2019-12-15 11:36] NicoKiaru commented on #12
I'd try to keep this away as much as possible from actions, except if that's the point of the action.

For instance I think it should not be present into an Action which would transform a source. But it should be used as an action which selects a `Source` and an `AffineTransform`. Something like:

[code]

Here the `GenericDialog` would be used in the class `SelectSourceAndTransformWithGenericDialo

[2019-12-15 13:26] tischi commented on #22
What about `bigdataviewer-community` ?

[2019-12-15 13:30] tischi commented on #20
In principle, ok!
I am just a bit worried that we slow down ourselves with versioning and dev-ops stuff if we have this separation initially. What about we start by having a `command` package in `bigdataviewer-playground`?

[2019-12-15 13:31] tischi commented on #19
Works for me! Simple is good!

[2019-12-15 13:31] tischi commented on #18
I will do this!

[2019-12-15 13:35] tischi commented on #12
Makes sense!
I think, in fact, meanwhile this is already what happened, see e.g., here: https://github.com/haesleinhuepf/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdv/sources/read/ui/SourcesLoaderAndAdderSwingDialog.java#L12

[2019-12-15 13:37] NicoKiaru commented on #20
Ok, let's just keep it at the most 'root' level so it can be easily moved in case of necessity. Would you be happy with that option @haesleinhuepf ?

[2019-12-15 13:39] NicoKiaru commented on #12
Ok, I have to say I'm a bit lost in branches - my first push will be a bit of a pain ... Let's see!

[2019-12-15 13:40] tischi commented on #20
Right now, each action has a sub-package called `ui` and that is where the respective `Command` is. I think @haesleinhuepf liked that better because it is easier to find for each action the corresponding `Command` and also while we are developing it is easier to see where we have a `Command` already and where it is still missing. The fact that it is in the clearly separate `ui` sub-package should

[2019-12-15 13:41] NicoKiaru commented on #20
Oki doki! 👍

[2019-12-15 14:20] tischi commented on #21
@NicoKiaru

What about this thought?

On a purely programmatic level one might not need a composite class, because one can just call several actions after each other. So I think it might clutter our code when we make too many of those composite classes. In other words: I agree with you: We should keep actions separate and minimal.

However, on a `Command` level (where the UI is build) I think it m

[2019-12-15 14:26] NicoKiaru commented on #21
Sounds like a perfect plan. Too many Commands is a mess.

[2019-12-15 14:34] tischi commented on #21
Could you merge this?
https://github.com/haesleinhuepf/bigdataviewer-playground/pull/24
Then I could try refactoring the `SourceAdder` as discussed.

[2019-12-15 15:23] tischi opened #27 "Functional Programming"
Hi @NicoKiaru

I looked at your examples!

One good thing is that it does not change the old API, it only adds functionality without too much hassle. Personally I did not use this kind fo functional programming much yet, but I am happy to learn it. So if you feel this makes our repo more useable I'd be happy to endorse this way of writing the actions.

@haesleinhuepf Do you have any opinion?

[2019-12-15 15:45] tischi opened #29 "Add SourceAndConverter to Bdv"
@NicoKiaru

Wow.....

https://github.com/haesleinhuepf/bigdataviewer-playground/blob/cdcad0549f9284b2e76f2f86fdd385e4116c5dac/src/main/java/sc/fiji/bdv/sourceAndConverter/add/AddSourceAndConverterToBdv.java#L22

I did not know this function existed for a `SourceAndConverter`!

1. What is the difference to `BdvFunctions.show( ... , BdvOptions.options.addTo( ... ) )`
1. Does it also add the DisplayS

[2019-12-15 15:51] NicoKiaru commented on #29
Not available in `BdvFunctions` but in `ViewerPanel`, yes. So, it's accessible from `BdvHandle`. That's want I wanted to tell you but I wasn't clear enough when I told you to use `SourceAndConverter` instead of `Source`

That's the trick, this function allows to add a `SourceAndConverter`:
* It deals with `VolatileViews` because the `SourceAndConverter` object has a `asVolatile()` method which, if

[2019-12-15 15:52] NicoKiaru commented on #29
But wait for it : here's the magic of Functional interface:

[2019-12-15 15:59] NicoKiaru commented on #29
Let's say you want to affine transform a `SourceAndConverter`:
This means you need to apply an affineTransform on both the concrete and Volatile source, if present.
So one way is to create an affinetransform action for SourceAndConverter.

Then if you want to warp a Source, it's the same, you write an action for `Source` objects but also for `SourceAndConverter`objects.

Then if you have an action

[2019-12-15 16:32] tischi commented on #29
All very cool!
I like it :-)

One concern about the naming: `SourceAndConverterApplySourceFunction`
Maybe more correct: `ApplySourceFunctionToSourceAndConverter`

?

[2019-12-15 16:41] NicoKiaru commented on #29
Indeed, still complex but a bit more understandable

[2019-12-15 18:28] NicoKiaru opened #31 "BDVUtils and BdvUtils"
What a mess! Case sensitivity + Java + git is awful.

We have too classes now : `BdvUtils` and `BDVUtils`. Raah I'll try to solve this and I hope not to break anything

[2019-12-15 19:16] tischi commented on #31
Really? In my master I only see `BdvUtils`. But if there still is a `BDVUtils` please move everything to `BdvUtils` and then delete the `BDVUtils`.

[2019-12-15 19:23] NicoKiaru commented on #31
Yeah it's in the master branch:
https://github.com/haesleinhuepf/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdv

I'll delete it manually (if I can)

[2019-12-15 19:24] NicoKiaru commented on #31
Done, hope it's fine

[2019-12-15 22:35] NicoKiaru opened #32 "Major refactoring suggestion"
Hi @tischi and @haesleinhuepf,

I have a suggestion to make about the structure of the repo. What do you think of restructuring like this:
* `bdv` : A BdvHandle specific package containing all actions that strictly depend on a `BdvHandle`:
  * Root : Bdv creation
  * Root : Bdv closing
  * `bdv.navigate` : Loging, getting current position, synchronizing position of `BdvHandle`(s)
  * `bdv.group` :

[2019-12-16 07:20] tischi commented on #32
love it, do it!

[2019-12-16 07:33] #31 closed, assigned to nobody

[2019-12-16 08:36] NicoKiaru commented on #32
Cool!

One thing where I'm not completely sure is where to put the Commands:
* they are not as granular as these actions -> so we will not have one ui per action
* they will combine actions placed in several of these packages.

Here are several options:
* 1 We can put commands in their 'supposed' main package
* 2 We separate commands fully from actions:
  * maybe the package substructure can match

[2019-12-16 09:02] tischi commented on #32
I agree that the granularity of `Command`s could well be different from actions. Thus it is maybe better to put them into an own `command` package at the same level as `bdv` and `source`.

[2019-12-16 09:06] NicoKiaru commented on #32
good, in this case I'll start the refactoring, is that ok ?

[2019-12-16 09:16] NicoKiaru commented on #32
ok, I start

[2019-12-16 10:43] NicoKiaru commented on #32
Ok done @tischi and @haesleinhuepf , let me know what you think.

Starting `SimpleIJLaunch` enables FIJI and you can try Command from the `Bdv_Scijava` root menu (should work)

I think all commands work but maybe we should add imagej-legacy as a dependency to enable old school FIJI

[2019-12-16 11:14] tischi commented on #32
1. Looks good. I pushed a commit with a slight clean-up of the test packages.
1. I would like to change this: `final public static String RootMenu = "Bdv_Scijava>";` to simply `final public static String RootMenu = "BigDataViewer>";`, because I think end users would not care about `SciJava`, sounds too technical to me.
1. Am I right that this `public class ActiveBdvPreprocessor extends SingleInput

[2019-12-16 11:29] haesleinhuepf commented on #32
Hey guys,

great idea for the refactoring @NicoKiaru !

Regarding the separate `command` package at the level of sources and bdv. I vote against that. So far, we had a `ui` package inside specific packages, where `Commands` were supposed to live. My major concern is: If we have a structure like:

[code]

... it may become complicated to keep packages above actionA and actionAcommand in sync. Or: S

[2019-12-16 12:03] tischi commented on #32
hi @haesleinhuepf,

I initially thought so, too, but @NicoKiaru and I thought that some actions may be too granular to be worth being exposed by a `Command` and `Command`s would quite often wrap several actions to be useful. See the discussion here: https://github.com/haesleinhuepf/bigdataviewer-playground/issues/21

[2019-12-16 12:06] NicoKiaru commented on #32
Sure, the idea was just to have it at a root level because it's more convenient to test. When used for real, we will need to change to a proper location. The point of putting it here is that we will need to change only one value and not all `menuPath`of all commands.

Yes that comes from @imagejan. Also there's a trick mechanism which should makes the last clicked bdvwindow to be the active one. A

[2019-12-16 12:19] NicoKiaru commented on #32
@haesleinhuepf

I also thought : if you want a `ui` completely different from the Scijava one, wouldn't it be good to have it well separated ?

[2019-12-16 12:49] haesleinhuepf commented on #32
So, I was working in projects where we have a stucture like the following and enjoyed it a lot. Also, one could later split the project into UI and non-UI repositories and everything would still live in the same package. That would actually allow to have package-private access from the UI to parts of the algorithms which are not supposed to be accessible from the outside. The benefit comes for use

[2019-12-16 13:14] NicoKiaru commented on #32
Let's try with `source.ui`, `bdv.ui`, `spimdata.ui`and see how it goes ? But not ui everywhere ?

[2019-12-16 13:58] tischi commented on #32
What about we try putting `ui` packages following the principle "What belongs together should stay together" in a sense that each `ui` package (i) should not access major things in packages that are above it (maybe except some very general utilities methods) and (ii) should not have packages beneath it where it does not access any functionality.

[2019-12-16 14:12] NicoKiaru commented on #32
Raah a part of my previous comment was lost. Let's take a precise example and see what we all think.

So let's say you want of Command which takes a File and display it into a BdvHandle (do you ? this makes sense no ? ). This consists of three actions : fetching sources (`fetch source`), append sources on a BdvHandle (`append source`) , adjust display options for the source within the Bdv (`set co

[2019-12-16 16:03] tischi commented on #32
Imho, this would have to be in a separate package at the same level as `bdv` and `source`, because it uses functionality from within `source` and from within `bdv`.

[2019-12-16 16:25] tischi opened #34 "BrightnessAdjuster"
- [x] change name: `BrightnessAdjuster` to `BrightnessAutoAdjuster`
- [ ] make it work for Nico's example images

[2019-12-16 17:00] tischi opened #36 "Class naming conventions"
How shall we name our classes:

`GetSourceAndConverterByIndexFromBdv`

or

`SourceAndConverterByIndexFromBdvGetter`

That is: action or noun?

@NicoKiaru

[2019-12-16 17:03] haesleinhuepf commented on #36
IMHO Class names should be nouns while methods should be verbs.
https://www.oracle.com/technetwork/java/codeconventions-135099.html

[2019-12-16 17:09] haesleinhuepf commented on #32
Just to make sure, there is no way to do this _right_. Be we should be consistent in doing it.

As `bdv` uses `sources`, `sources` could be a sub-package of `bdv` and so could be any `ui`-related thing. On the other hand, `bdv` is a viewer for `sources` and thus, `bdv` could be a sub-package of `sources`. Likewise `ui`-related stuff. How about sticking to Tobias structure? That would mean somethin

[2019-12-16 21:31] NicoKiaru commented on #32
Well, you have more experience than us + the Tobias authority argument ;-) Ok you win.

I think one reason why this is causing an issue is because the actions on source are well defined, but there is no ui which act on Source only. We always act on Sources which are either inside a bdv viewer or inside a spimdata, or maybe inside something like sciview.

So : all the ui will mostly look like :
* g

[2019-12-16 21:35] NicoKiaru commented on #36
So getter for class and get for method. I don't remember what I did, but amen to that.

[2019-12-16 21:59] NicoKiaru commented on #12
We can close this, please reopen if I missed something

[2019-12-16 21:59] #12 closed, assigned to nobody

[2019-12-16 22:05] NicoKiaru commented on #9
I'll add in `source.import` different ways to import source by copying what I had in `bigdataviewer_scijava`:
* from a file with SciFIO
* from the active IJ1 window (we have to copy what exists in `bigdataviewer_fiji`)

[2019-12-16 22:06] NicoKiaru commented on #19
We are all set. Closing this. Please reopen if necessary.

[2019-12-16 22:06] #19 closed, assigned to nobody

[2019-12-16 22:08] NicoKiaru commented on #29
Or Applier, since class names are supposed to be nouns

[2019-12-17 07:28] tischi opened #37 "ViewerTransform classes"
@haesleinhuepf

Should we change the names?

- [ ] `ViewerTransformAdjuster` => `ViewerTransformAutoAdjuster`
- [ ] `ViewTransformator` => `ViewerTransformConcatenator`

In addition, I think  the correct thing in the current `ViewTransformator` would be

[code]

instead of
[code]

[2019-12-17 10:22] tischi opened #38 "Animate ViewerTransform changes"

[2019-12-17 15:05] tischi commented on #34
It currently only works for `UnsignedShortType`. We should fix this.

[2019-12-17 15:09] tischi commented on #29
Yes!

[2019-12-17 15:11] tischi commented on #9
Maybe for now stick to h5/xml?
It could be a way to force people to not use too many file-formats ;-)
Also bdv will not be performant for file-formats that are not pyramidal.

[2019-12-17 16:58] tischi opened #41 "getSourceIndex( bdvHandle, source )"
This function: https://github.com/haesleinhuepf/bigdataviewer-playground/blob/addcfe367d0c494fc13a33b38e1ee612606f5c36/src/main/java/sc/fiji/bdvpg/bdv/BdvUtils.java#L242

...is brittle because it assumes that we have the `Source` that `bdv` holds internally as an object, or that we know how `bdv` could have wrapped or modified it internally such that we can still identify it. It feels like that we

[2019-12-17 17:10] NicoKiaru commented on #41
It's definitely a big issue... I guess it's the sort of issue we'll need to figure with Tobias if we do not want to write too many useless things.

Personnally, I'd say it would be better to do this completely differently:
* basically we would need a holder for all the Sources we are working on, and then we would have a function which returns all the `BdvHandle` which are displaying any `Source`.

[2019-12-17 20:05] tischi opened #42 "viewerTransform"
@NicoKiaru

What again is exactly the `viewerTransform`?
Is it from physical space to pixels on the screen?

[2019-12-18 07:06] NicoKiaru commented on #42
From `ViewerState`:
[code]
So, I would say yes, from physical space to pixels. Does that work ?

[2019-12-18 07:10] NicoKiaru commented on #20
See https://github.com/haesleinhuepf/bigdataviewer-playground/issues/32 for a continued discussion about this `Command` vs multiple `ui` subpackages.

Closing this.

[2019-12-18 07:10] #20 closed, assigned to nobody

[2019-12-18 07:11] NicoKiaru commented on #14
Obsolete : we finally adopted `Command` as a first way to build an UI.

Closing.

[2019-12-18 07:11] #14 closed, assigned to nobody

[2019-12-18 07:13] NicoKiaru commented on #21
Merged and refactoring done in https://github.com/haesleinhuepf/bigdataviewer-playground/commit/c2d11bce47dd152c4535b011afbecc53436ae984

Closing.

[2019-12-18 07:13] #21 closed, assigned to nobody

[2019-12-18 07:13] tischi commented on #42
I did some more tests yesterday and it looks like this indeed.

[2019-12-18 07:13] #42 closed, assigned to nobody

[2019-12-18 07:17] tischi opened #43 "Coding style for Runnable"
I was wondering whether we should force ourselves to some coding style.

It is convenient to write:

[code]

More verbose is:

[code]

The advantage of the latter is that it makes the point that sometimes it is possible that:

[code]

[2019-12-18 07:19] NicoKiaru commented on #15
`BdvHandle` as a parameter implemented in commits:

https://github.com/haesleinhuepf/bigdataviewer-playground/commit/c80cec4d2fa6714b87d7aa1c1d050f1dc990f2a2

And BDVSingleton replaced in:

https://github.com/haesleinhuepf/bigdataviewer-playground/commit/76f11235aacdfaf927e96631f5871c277e81793b

[2019-12-18 07:19] #15 closed, assigned to nobody

[2019-12-18 07:25] NicoKiaru commented on #18
The class has been moved no ? @tischi can you point to the new class, and if everything is working, close the issue ?

[2019-12-18 07:25] NicoKiaru commented on #18
Oups

[2019-12-18 07:26] NicoKiaru commented on #11
Suggestion of new BigWarp launch is in the branch newBigWarp:

https://github.com/haesleinhuepf/bigdataviewer-playground/tree/newbigwarp

[2019-12-18 07:27] NicoKiaru commented on #11
With PR:

https://github.com/haesleinhuepf/bigdataviewer-playground/pull/39

[2019-12-18 08:28] tischi commented on #41
so maybe we do ask Tobias to join the Skype tomorrow?

[2019-12-18 12:14] NicoKiaru commented on #41
Yep let's try ? It would be good to have an idea of what him and Tim-Oliver are planning.

Do you think you have time to review the BigWarp launch  (https://github.com/haesleinhuepf/bigdataviewer-playground/pull/39) before the call tomorrow ? I think it would be good to know what you think of this design, potentially you and Robert.

[2019-12-18 12:45] tischi commented on #41
I don't have time. I have to give a talk tomorrow...

[2019-12-18 12:56] NicoKiaru commented on #41
Ok, good luck for the talk @tischer! Maybe @haesleinhuepf , a quick look of #39 before the skype call ?

[2019-12-18 15:03] haesleinhuepf opened #44 "Move to bigdataviewer/bigdataviewer-playground"
Hey @NicoKiaru @tischi,

I just had a quick look with @tpietzsch and we can move the repository to bigdataviewer/bigdataviewer-playground . Please mark this message with 👍 and I'll do the move.

Cheers,
Robert

[2019-12-18 17:16] tischi commented on #9
One suggestion may be that we clearly separate the loading of 100% performant file-formats from all the others, both at the API and UI level. At the UI level I would even have a "DangerZone" menu item, where there is a "Load Sources" menu item. Because otherwise people would quickly think BDV is "not a good viewer". The Imaris people had this problem... That is why in the new version they lock it

[2019-12-18 19:45] NicoKiaru commented on #9
But it's not an obvious thing to do: xml datasets are extensible and use imageloader with different implementations. That's transparent for the user. Do we want to actively prevent some image loaders? I don t think it s beneficial.

[2019-12-18 20:02] NicoKiaru commented on #9
As for IJ1 and SCIFIO, I don't know. It's pretty straightforward to add SciFIO, but at the moment there are issues with metadata (c vs z vs t), I think it's more often the issue the user will have (compared to performance). We can keep that away for the moment. No problem. IJ1 import is not working easily at the moment and what I did was super hacky, so I won't retry put something dirty in the rep

[2019-12-19 08:29] tischi commented on #9
I agree with both suggestions!

But don't you need support for slide-scanner data formats for your projects?

[2019-12-19 08:37] haesleinhuepf commented on #44
@tischi @NicoKiaru
Done! Thanks @tpietzsch for the support 🤩

[2019-12-19 08:37] #44 closed, assigned to nobody

[2019-12-19 08:42] haesleinhuepf commented on #43
IMHO we shouldn't have to many rules. It is technically possible to force a coding style via maven-plugins which format code like the following which makes it easier to read:

[code]

But again I wouldn't put too many rules in our heads.

[2019-12-19 08:43] #36 closed, assigned to haesleinhuepf

[2019-12-19 09:01] tischi commented on #43
ok.

[2019-12-19 09:01] #43 closed, assigned to haesleinhuepf

[2019-12-19 11:28] NicoKiaru commented on #9
Yes, but that happens through the image loader extensibility mechanism. All the [`bigdataviewer-bioformats`](https://github.com/BIOP/bigdataviewer-bioformats) is fully compatible with what we do now:
* it contains its [specific imageloader](https://github.com/BIOP/bigdataviewer-bioformats/blob/master/src/main/java/ch/epfl/biop/bdv/bioformats/imageloader/BioFormatsImageLoader.java)
* that is recogn

[2019-12-19 11:48] NicoKiaru commented on #11
PR merged

[2019-12-19 11:48] #11 closed, assigned to nobody

[2019-12-19 11:58] NicoKiaru opened #46 "Branch cleaning"
Hi!

Should we delete branches which have been merged ?
So far I see these branch:
* master
* spimData
* sourceViewer
* brightnessAdjuster
* viewCapturePatch
* sourceAndConverterDemoPatch

These have been merged into master:
* sourceAndConverterDemoPatch
* sourceViewer

Should we delete these two branches which have been merged ?
Put a +1 @tischer and @haesleinhuepf and I'll do it.

PS : I have de

[2019-12-19 12:00] NicoKiaru commented on #1
Should we keep this issue @tischi ? I'm in a big Spring cleaning of December mood.

[2019-12-19 12:01] NicoKiaru commented on #2
Should we keep this issue @tischi ? Then maybe detail a bit more:
Do you want to have a Behaviour that triggers a `SourceAdder` action ?

[2019-12-19 12:03] NicoKiaru commented on #5
Same question: should we keep this issue @tischi ?

The links are not valid anymore.

[2019-12-19 12:14] imagejan commented on #5
@NicoKiaru wrote:

@tischi To avoid this in the future, use permalinks when linking to any code: simply press <kbd>Y</kbd> before copying the GitHub URL from your browser's address bar, or (for links to specific code lines) use the *Copy permalink* option in the **...** menu next to the line number.

[2019-12-19 12:21] NicoKiaru commented on #27
Just for the record, one example where the functional interface can be used:

[`GetSourceAndConverterByIndexFromBdv`](https://github.com/bigdataviewer/bigdataviewer-playground/blob/af5e7dacf7d3edb05c368d343cede0aa6394294f/src/main/java/sc/fiji/bdvpg/bdv/source/get/GetSourceAndConverterByIndexFromBdv.java) implements `Function<Integer, SourceAndConverter>`. It means that, on top of being an action,

[2019-12-19 13:40] tischi commented on #46
yes, please delete

[2019-12-19 13:42] tischi commented on #1
Yes please leave it.

I will elaborate: This is about key-board shortcuts that allow you to go to the [N]ext and [P]revious source if you are not in fused mode. I need this for my projects.
@tibuch Do you have that in your UI anyway?

[2019-12-19 13:43] tischi commented on #2
Let's remove it, because adding behaviours is another layer...

[2019-12-19 13:43] #2 closed, assigned to nobody

[2019-12-19 13:44] #5 closed, assigned to nobody

[2019-12-19 13:59] NicoKiaru commented on #46
Previously merged branches have been deleted (4 in total)

[2019-12-19 13:59] #46 closed, assigned to nobody

[2019-12-19 15:12] tischi commented on #29
@NicoKiaru
Below are the code changes of the PR where I am adding a `SourceAndConverter` and getting back a `bdvStackSource`. We could see whether we could get the same code running without getting the PR to Bdv-Vistools accepted.
https://github.com/bigdataviewer/bigdataviewer-vistools/pull/40/commits/e1aa24a4f6c2dda9dd81a04c725f4a60446da96c#

[2019-12-19 16:19] tischi opened #47 "Volatile and NonVolatile Sources"
Hey @NicoKiaru ,

The way our code works right now in terms of `SourceLoader` and `SourceAdder`: it would in fact show the nonVolatile `Source`, right?

If that's the case the current logic would actually kind of be wrong...

So, what we actually want to show is the `SourceAndConverter`, right?
So `SourceAdder( SourceAndConverter sac )`, right?

[2019-12-19 16:31] tibuch commented on #1
No, not part of any UI component I am working on.

[2019-12-20 07:01] NicoKiaru commented on #47
I think so (unless you give a Volatile Source... but then it's an issue also).

Yes, but can we always do that ?
There is already a simple action to do that which I use for BigWarpLauncher (https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/bdv/source/append/AddSourceAndConverterToBdv.java). (It needs to be renamed)

[2019-12-20 08:11] tischi commented on #47
Yes, but doing it via the `ViewerPanel`

1. we do not get a `BdvStackSource` back, which I think is a real issue, because it might well be that this could be an important object for several things in our library.
1. did not add it to the BDV UI when I tried it, which I also think is a real issue, because we would likely not be able to benefit from @tibuch's new UI, once it is ready.

Thus, for me

[2019-12-20 08:16] NicoKiaru commented on #47
Right

Right

So we need to somehow implement your bdvvistools pr (https://github.com/bigdataviewer/bigdataviewer-playground/issues/29#issuecomment-567529812) to fix this

[2019-12-20 08:26] tischi commented on #47
Yes and no. I looked at it yesterday and the by far easiest way to achieve this is to simply merge the PR :-) The issue is that the code in the `BdvFunctions` calls private methods and I think it would be a bit stupid to reengineer this now when it is so easy to just add it properly to `BdvFunctions`.

As mentioned above, my suggestion would be you clone this: https://github.com/tischi/bigdataview

[2019-12-20 14:14] NicoKiaru commented on #47
Oki doki, thanks.

I will not have time before the 23rd

[2020-01-06 20:39] NicoKiaru opened #52 "Should we write actions for Source or for SourceAndConverter or for something else ?"
Hi @tischi and @haesleinhuepf,

A not new problem I'd like to raise again is the following: we want to deal with a source and its volatile representation, but how to achieve that ?

So far, in BdvVisTools, when we call `BdvFunctions.show(source)` or `BdvFunctions.show(spimData)` or `BdvFunctions.show(rai)` BdvFunctions tries to build the volatile view, but it can fail sometimes (see https://github

[2020-01-07 08:51] tischi commented on #52
I agree with those issues.
Shall we have a Skype?
This afternoon?

[2020-01-08 12:13] NicoKiaru commented on #27
Seems like this was adopted, and it's not breaking anything. Closing this. Please reopen if necessary.

[2020-01-08 12:13] #27 closed, assigned to nobody

[2020-01-08 12:43] NicoKiaru commented on #52
Decided to go with `SourceAndConverter`.
Done initially in https://github.com/bigdataviewer/bigdataviewer-playground/pull/53.

[2020-01-08 12:43] #52 closed, assigned to nobody

[2020-01-08 13:00] NicoKiaru commented on #47
We avoid using BdvVisTools and use SourceAndConverter and use our own logic.

We do not use Source anymore but directly SourceAndConverter.

See PR
https://github.com/bigdataviewer/bigdataviewer-playground/pull/53

Closing

[2020-01-08 13:00] #47 closed, assigned to nobody

[2020-01-08 13:01] NicoKiaru commented on #41
Indexing logic hidden inside a display service, which takes care of it.

https://github.com/bigdataviewer/bigdataviewer-playground/pull/53

[2020-01-08 13:01] #41 closed, assigned to nobody

[2020-01-08 13:03] NicoKiaru commented on #32
We discussed this in a skype meeting some time ago.

I'm closing it because I think a lot of changes have occured. If we need another discussion, then maybe we open a new issue with specific points ?

Please reopen if you do not agree!

[2020-01-08 13:03] #32 closed, assigned to nobody

[2020-01-08 13:03] NicoKiaru commented on #29
Not relevant anymore.
See PR https://github.com/bigdataviewer/bigdataviewer-playground/pull/53

[2020-01-08 13:03] #29 closed, assigned to nobody

[2020-01-08 13:05] NicoKiaru commented on #9
I believe this issue is solved.

@tischi please reopen if you feel that it's not the case

[2020-01-08 13:05] #9 closed, assigned to nobody

[2020-01-08 13:06] NicoKiaru commented on #18
I think everything is working fine, both the autocontrast (for certain types) and the vieweradjuster.

[2020-01-08 13:06] #18 closed, assigned to nobody

[2020-01-10 08:12] tischi opened #55 "Fiji not starting"
@NicoKiaru

I copied the jar to the Fiji/jars folder and tried to start Fiji but got this error:

[code]

When I removed the jar Fiji started again.

Any idea?

[2020-01-10 10:16] NicoKiaru commented on #55
SHould work with https://github.com/bigdataviewer/bigdataviewer-playground/commit/b2b8563acd5b9af765c38a10e86fdeb1739187bd

[2020-01-10 10:16] NicoKiaru commented on #55
You can try the new master

[2020-01-10 11:11] NicoKiaru commented on #55
Hmm maybe it's something else.

I'll investigate

[2020-01-10 11:29] NicoKiaru commented on #55
The main cause was an error in the comamnd listing. I removed it and FIJI starts. But I know get this error:
[code]
`VolatileSpimSource.nonVolatile()` is not found. I guess it's a missing dependency or a version issue.

[2020-01-10 11:36] NicoKiaru commented on #55
Ah it's an issue of versioning...

See :
https://github.com/bigdataviewer/bigdataviewer-core/commit/75e082a6686e6d980215c1550394fc4bedf6d702

The SpimSource are not built like that anymore. We'll need to explicitely define the versions. Or maybe it's an update site which is causing the issue because of a newer version being declared as a dependency...

[2020-01-10 12:41] tischi commented on #55
This will only help us within IntelliJ but not within Fiji :-(

That means with your Fiji a different version of `bdv-core` seems to be shipped, right?
I would not know how to find out where it comes from? Do you know?

Current Fiji is the same as what we use, i.e. `27.0.1`
https://github.com/fiji/fiji/blob/15f288f4af6a929c7b16ec4373b68be01d8b64f4/pom.xml#L8

[2020-01-10 13:05] NicoKiaru commented on #55
I suspected an update site so I tried with a fresh FIJI and I still get the error.

Weird. I continue to investigate.

[2020-01-10 13:53] NicoKiaru commented on #55
All works now with a fresh FIJI and a single jar added to the jars folder. For some reason I had to explicitely define `bigdataviewer-core` version to 7.0.0. But I don't really get why it was working before actually. What I don't get if that the pom scijava is always 27.0.1, but the versions of the containing jars keeps continuing to be updating.

Anyway, you can try and let me know. I'm closing b

[2020-01-10 13:53] #55 closed, assigned to NicoKiaru

[2020-01-10 14:54] tischi commented on #55
Does that mean it would _not_ work with `bigdataviewer-core` version `7.0.1`?

[2020-01-10 15:31] NicoKiaru commented on #55
No idea... If the API do not change it could be ok. You can change the pom and try ?

[2020-01-13 09:11] tischi commented on #55
I will work on it today and try to make it work for both versions.

[2020-01-13 13:55] martinschorb opened #57 "Open XML/HDF5 files -> directory does not filter for xml files"
Hi,

when opening files, the list is not filtered to only include xml files. This leads to loads of errors when it tries to open the other files in that directory.

[2020-01-13 13:56] martinschorb opened #58 "Set Source color: no default selection"
When I set the color and leave it as it is, I get:

`'color' is required but unset`

[2020-01-13 14:00] martinschorb opened #59 "Set Source LUT creates duplicates"
These actions create duplicate entries in the sources list. These duplicates have the identical name and do not show the changed color/LUT whatsoever in the sources list.

I suggest not creating duplicates but modifying the selected source. There is a distinct action to duplicate a source, so I would use this (please update the name to make sure it is distinguishable) and then change the color/LUT

[2020-01-13 14:01] martinschorb opened #60 "Set source color: show source name"
When a source color is changed for multiple sources, the selection windows opens sequentially for each one. However, it does not provide the source name, so there is no information which source is currently modified.

[2020-01-13 14:02] martinschorb opened #61 "Set source LUT crashes when selecting multiple sources"
`The module "sc.fiji.scijava.command.source.LUTConverterChangerCommand" failed to initialize.`

[2020-01-13 14:03] NicoKiaru commented on #57
Thanks for reporting! Should be solved in https://github.com/bigdataviewer/bigdataviewer-playground/commit/ac104c326928c318608826707d3fda83ac7c5526

[2020-01-13 14:04] NicoKiaru commented on #58
Ah, you need to select it at least a color the first time. Does it solve it ?

[2020-01-13 14:06] martinschorb opened #62 "Add dynamic source selector (right click) in viewer"
It would be amazing to not only get the right-click menu in the source list, but also with a certain keyboard shortcut for all sources underneath the mourse cursor within a bdv window.

[2020-01-13 14:06] NicoKiaru commented on #59
I agree, unfortunately this cannot be done easily at the moment. However in this PR https://github.com/bigdataviewer/bigdataviewer-playground/pull/56 , if we stay with a `ColorConverter` we can modify the Color without creating a new SourceAndConverter.

Making this work with a different LUT is doable but require more work.

[2020-01-13 14:08] martinschorb commented on #58
It seems a color has to be selected at least once.
When you open the dialog another time it opens with the previous choice pre-selected.

[2020-01-13 14:08] NicoKiaru commented on #60
Yep, the PR https://github.com/bigdataviewer/bigdataviewer-playground/pull/56 should somehow "solve" it like this : if you select a list of Sources, the same color will be applied to all sources (and modified in place, not creating new sources).

[2020-01-13 14:09] NicoKiaru commented on #61
That fails indeed in you select multiple sources. Thanks for reporting

[2020-01-13 14:11] martinschorb commented on #59
I see.
Naming the duplicated sources with an increasing index, or some suffix would at least avoiding the confusing duplicates in the list.

[2020-01-13 14:11] NicoKiaru commented on #62
Ok, this one is really really tough! I've got no idea how to this.

[2020-01-13 14:12] martinschorb commented on #62
@tischi already has some code that he likes to use here...

[2020-01-13 14:17] martinschorb opened #63 "add functionality to make selected source "current" and adjust view"
I am missing functionality to make a selected source (from the list) the "current" one in bdv.
Also being able to adjust the view to a selected source from the list would be very handy.

[2020-01-13 14:18] NicoKiaru commented on #59
Yes, however modifying names or ensuring unicity of names is not straightforward because there's no accessible method that modifies the name of a `Source`.

Only if the Source is wrapped, that is an easy possibility. Honestly, for display settings, I believe the goal is to not create a new `SourceAndConverter`, but rather to build from the start a `Converter` which is modular enough in order to be

[2020-01-13 14:19] martinschorb commented on #22
Hi,

I now got a compiled .jar from @tischi and started playing around and spamming the issues here.
However, I'd love to have a way to update myself.

[2020-01-13 14:21] tischi commented on #59
I could make a `ColorChanger` class and a corresponding `ColorChangerCommand` which would give an error if the the `Converter` is not `instanceof` `ColorConverter` (or we could show a message asking the user whether they would like to create a new source with a new `Converter`). Shall I do this? I think this would solve it.

[2020-01-13 14:21] NicoKiaru commented on #63
Ok, that follows a discussion we had with @tischi on granularity. This function already exists but is included into an action and not as a Command.

To solve this, we should:

* Make a `Command` that runs the `ViewerTransformAdjuster` action
* Register this command to the popup window

[2020-01-13 14:22] tischi commented on #62
I can try to look into it!

[2020-01-13 14:27] martinschorb opened #64 "lock/link several bdv windows"
I really like the functionality to work with several bdv windows in parallel.
It would be really cool to assign two/multiple of these windows to a group such that any move/rotation/zoom I do in one is also executed in the other(s).

[2020-01-13 14:29] NicoKiaru commented on #59
Actually I've done exactly this in the PR https://github.com/bigdataviewer/bigdataviewer-playground/pull/56:

https://github.com/bigdataviewer/bigdataviewer-playground/commit/daaa6cd897bf714a98059c7614c72d6fa7cb195d

[2020-01-13 14:38] martinschorb opened #65 "use mixed projector options within one bdv window"
Hi,

would it be possible to add sources to a bdv window with a different projector mode (Avg/Sum) than the ones already in there?

So far I can only choose the projector once a new bdv window is created not for individual sources/source groups.

[2020-01-13 14:39] martinschorb commented on #59
Cool,

looking forward to testing it

[2020-01-13 15:02] tischi commented on #63
I can do this.

[2020-01-14 09:58] NicoKiaru commented on #22
I'll make an update site at:

`https://biop.epfl.ch/Fiji-Bdv-Playground/`

probably today, and I will let you know.

[2020-01-14 10:40] NicoKiaru commented on #61
Solved in https://github.com/bigdataviewer/bigdataviewer-playground/commit/a04cc84c40afccdc27802c4dd99f0e951a517968

[2020-01-14 10:40] #61 closed, assigned to NicoKiaru

[2020-01-14 11:18] NicoKiaru commented on #60
PR merged, now the same color is directly applied to all sources (if they were already colored sources). And not making a new sourceandconverter if you use `Set Sources Color`.

Please reopen if necessary

[2020-01-14 11:18] #60 closed, assigned to nobody

[2020-01-14 14:31] tischi opened #67 "make ViewerTransformAdjuster work for multiple sources"
`ViewerTransformAdjuster` should also take a `SourceAndConverter[]` as an input and adjust the view to optimally see all of them.

[2020-01-14 15:45] martinschorb commented on #22
Will this require a 'virgin' Fiji installation? Otherwise it might interfere with other bdv plugins...

[2020-01-14 15:51] NicoKiaru commented on #22
I'll test it with a 'virgin' installation. Let us know the error message if they show up. But yeah that can potentially mess your FIJI

I'm trying to do the update site now

[2020-01-14 16:04] NicoKiaru commented on #22
I've pushed to the update site, and it looks like it's working with a fresh FIJI. Let us know what happens!

[2020-01-14 16:39] NicoKiaru commented on #59
I've modified the title because the color can now be changed. It's just in the case of LUT that duplicates need to be created

[2020-01-14 16:46] NicoKiaru commented on #58
https://github.com/bigdataviewer/bigdataviewer-playground/commit/5f1441c3c15bd634277c6e461b3beeb950890395
should solve this

[2020-01-14 16:46] #58 closed, assigned to nobody

[2020-01-14 16:46] #57 closed, assigned to nobody

[2020-01-15 14:55] NicoKiaru commented on #64
This should be doable when this PR is merged:

https://github.com/bigdataviewer/bigdataviewer-playground/pull/68

[2020-01-15 18:32] tischi opened #69 "Remove IBdvSourceAndConverterDisplayService"
Hi @NicoKiaru,

I would propose to, for now, get rid of the interface `IBdvSourceAndConverterDisplayService`. I can do this with my next PR. The reason is that the functions in the `BdvSourceAndConverterDisplayService` are still subject to changes.
E.g. I would like to add some more functions.
It is tedious to add/remove/change them in both places. We can put back an interface once we are more cer

[2020-01-16 15:32] NicoKiaru commented on #69
I believe it's not a big issue a the moment and it's a good place to force us to make not too specific functions, and also it keeps the documentation in a precise location way.

I'm not saying it's super useful, but I fear that removing it could lead us to lack a structuring. It can still raise some useful discussion, like the one on the `addPopupAction`  function. We should probably improve the i

[2020-01-16 15:35] NicoKiaru commented on #69
I checked and one nice thing, I find, is that there is no reference to `BdvHandle` objects at all, in both interface. Hence it's possible to imagine using the same interface for SciView or BigVolumeViewer.

[2020-01-16 17:15] tischi commented on #69
What do you mean by that?

50% of `IBdvSourceAndConverterDisplayService` methods contain  `BdvHandle`... (e.g. `void show(BdvHandle bdvh, SourceAndConverter src);`)

---

What I mainly need right now is a method to update the display of all `bdv`s containing a specific `sac`. To implement this, shall I

1. add a dedicated method for this in `IBdvSourceAndConverterDisplayService`, or
2. add a gette

[2020-01-16 18:14] NicoKiaru commented on #69
Woups! Indeed, (and I was sober). Ok , so at least the `IBdvSourceAndConverterService` do not contain `BdvHandle` refs ;-), and maybe we should keep it this way, and with an interface. For the display service, we can remove the interface, I agree, but I find it nice nonetheless: we could think of a `BdvHandle` as a displayer of SourceAndConverter, and could think of it as a class variable for the

[2020-01-17 09:37] tischi commented on #69
ok! I will then remove the interface of `IBdvSourceAndConverterDisplayService`.
We can add it back if needed.

I am raising these concerns, because I have been through this:
I wrote an interface `ImageViewer` and only called functions of the interface. Like this, I managed to write code that worked with both `Bdv` and the good old ImageJ hyperstack viewer. This was awesome conceptually, but in pra

[2020-01-17 09:38] tischi opened #70 "Check new bdv-core"
@NicoKiaru
https://forum.image.sc/t/improved-ui-for-handling-many-sources-in-bigdataviewer/33060

We should make a branch `newBdvCore` and check what happens :-)

[2020-01-17 11:43] NicoKiaru commented on #70
Indeed!

https://github.com/bigdataviewer/bigdataviewer-core/pull/68

[2020-01-17 19:07] tischi commented on #69
@NicoKiaru

Am I allowed to rename?

1. `BdvSourceAndConverterService` => `SourceAndConverterService`
1. `BdvSourceAndConverterDisplayService` => `SourceAndConverterBdvDisplayService`
1. `BdvService` => `SacServices`
1. `bdvHandle` => `bdv`

...and a **second** question:

Is it for you if I add these two methods:

`IBdvSourceAndConverterService.setMetadata( sac, String key,  Object Value )`
`IBdvS

[2020-01-17 20:10] NicoKiaru commented on #69
:+1: for everything

Just also fyi I plan to replace whenever possible in the display service the `SourceAndConverter` argument by a 'variable' array argument:

for instance transform

`public void show(BvdHandle bdvh, SourceAndConverter sac)`

to

`public void show(BvdHandle bdvh, SourceAndConverter... sacs);`

The reason is that when you have really a lot of source, I believe it's slow to call `

[2020-01-17 22:49] tischi commented on #69
Funny! Just few hours ago I looked at exactly this. What I did was to leave `List<SourceAndConverter>` and then call the function for a single object with `Arrays.asList( sac )`. But we can also do it with `SourceAndConverter... sacs`, maybe clearer to understand. I like it!

[2020-01-18 14:25] tischi opened #72 "SourceAndConverter naming"
We still very often say `Source` where it is a `SourceAndConverter`:

<img width="375" alt="image" src="https://user-images.githubusercontent.com/2157566/72665258-d3738700-3a06-11ea-9bc1-fe55f5884bbe.png">

I would be in favour of changing this to always saying `SourceAndConverter` or `Sac`, because otherwise one always needs to look into the code to see what it actually is.

However

1. `SourceAn

[2020-01-18 14:26] tischi commented on #72
@NicoKiaru

[2020-01-18 18:35] tischi opened #74 "Input to classes working on SourceAndConverter"
@NicoKiaru

I played a bit with using `SourceAndConverter...` more often but I was not very happy, because there are some serious limitations.

1. This does not work: `Consumer< SourceAndConverter... >`
1. This does not work: `new ColorChanger( SourceAndConverter... sacs, Color color )`, because the `...` has to be in the last argument.

[2020-01-19 17:25] NicoKiaru commented on #74
No , but `Consumer< SourceAndConverter[] >` works.

Indeed.
Do you prefer explicit arrays ?  Do you have another idea to solve the performance issue with many sources ? I was willing to modify only the methods were there could be a performance issue.

[2020-01-19 17:28] NicoKiaru commented on #72
Let's put `SourceAndConverter` everywhere. Let's do that when we have managed to merge the manual registration and the projection modes.

[2020-01-19 17:50] tischi commented on #74
Sounds good! In general, I prefer `List < SourceAndConverter >`. But I have no strong opinion.

[2020-01-19 23:08] tpietzsch commented on #72
@tischi @NicoKiaru In bdv-core, I have to use `SourceAndConverter` class name because of backwards compatibility. I mostly use `source` for variable and parameter names, because it's shorter. `SourceAndConverter<?>` is the canonical "source" object as far as BDV is concerned. Unfortunate class naming but well... Pure (unconverted) `Source<?>` are never added to the BDV, and a `Source` always is ne

[2020-01-21 20:07] NicoKiaru commented on #70
I tested very quickly with the new `bigdataviewer-core`. And we cannot do much yet. For now it's hanging forever on startup, with a window open, but not responsive.

Maybe it's because `bigdataviewer-vistools` is not adapted yet. We depend very little on it, yet we depend on vistools for the initial creation of an empty Bdv window.

But with your question in the thread bigdataviewer/bigdataviewer-

[2020-01-22 06:54] tischi commented on #70
@NicoKiaru
Maybe we should not use vis tools but "create our own `bdv`".
See the discussion here: https://github.com/bigdataviewer/bigdataviewer-core/pull/68
(Currently quite at the bottom of the thread)

[2020-01-22 09:40] NicoKiaru commented on #70
I pushed a `newBdvCore` branch, but there are minor adaptations for the moment, and apart from compiling, it does not do much:

Also, it needs to have the new bdv core jar accessible from the branch `table-tree-cards-clean`

[2020-01-23 14:37] NicoKiaru commented on #70
It works approximately. Many things are broken, but mainly in the service, which hopefully will be much more simple once rewritten because the indexing logic which was hidden has disappeared.

Good thing is that actions involving SourceAndConverter have not been modified at all.

Everything revolving around `ConverterSetup` has to be checked and modified

Among current broken things:
* BdvCreator

[2020-01-24 06:38] tischi commented on #70
I think I mentioned it somewhere else already, but, maybe we anyway should consider using just `bdv-core` without `bdv-vistools`, because our UI together with the new UI from Tobias (as nice as it is) might overload the users.

I think we might only need  to instantiate a `ViewerFrame`, see here:
https://github.com/bigdataviewer/bigdataviewer-core/blob/b9e308b70afb1addf3ffb8c5199d2db45f55cde1/src/

[2020-01-24 07:10] NicoKiaru commented on #70
In the new branch I've used `BigDataViewer` objects directly and got rid of `BdvHandle`. We could use `ViewerFrame` directly but I do not see the advantage of it. The new UI is almost perfectly compatible with what we have now (the wrapping with TransformedSource is the little difference), and it's quite hidden.

Yes, and it can be set with Bigdataviewer constructor as well. The reason it's not do

[2020-01-24 17:35] tischi commented on #70
OK. Let's try to use his UI!

done.

could you do it?

that means merge the current **master** into **newBdvCore**, right?

looks good indeed :-)

[2020-01-24 18:02] NicoKiaru commented on #70
Honestly that's where I'm the least comfortable. I don't know if we will be able to keep to two separate branches cleanly. Maybe this will require to write some tests ?

I'm looking at that.

Last newbdvcore commit already restored the mixed projection

[2020-01-27 15:30] martinschorb opened #76 "scale bar"
Hi,

could we have a dynamically adapting scale bar?

The ImageJ > Analyze > Tools > Scalebar functionality would be perfect to generate it. Instead of "Width in microns" something like "x% of the viewer window width" and then automatically adapting it to the zoom level would be amazing.

[2020-01-27 15:31] martinschorb opened #77 "Sources not released from HDD when removed from Fiji"
Hi,

When I run SpimDataset > Open XML/HDF5 files it always add these to the existing sources list.
This is a bit annoying if I want to look at two different experiments at the same time. I have to do a full Fiji restart to get rid of the previous sources. When I try to delete all of them to get an empty sources list I get the following crash:
[code]
killing the whole BDV and requiring a Fiji rest

[2020-01-27 17:13] NicoKiaru commented on #77
Thanks for reporting. Removing all sources  should work indeed. I can have a look on wednesday.

[2020-01-28 09:06] martinschorb opened #78 "Request: slider to navigate slices"
Would it be possible to have an additional slider that would give the same functionality as the mouse wheel (moving up and down the slice)? I find it very hard to navigate larger volumes in the axial direction just using the (shift/Ctrl) Mouse wheel.

[2020-01-30 08:01] NicoKiaru commented on #77
Found the bug. I'll try to release to the update site today. Again, thanks for reporting

[2020-01-30 08:02] NicoKiaru commented on #76
Would be awesome indeed. One thing is that we need to specifiy what is the unit of the bdv window when creating it and finding a way to attach this info to the window

[2020-01-31 10:25] martinschorb opened #79 "some way to measure"
Hi,

we would love to have some rudimentary feature to measure (the length of a line).

Would this be feasible to implement?

Thanks,
Martin

[2020-02-01 16:37] tischi commented on #76
That exists already and is easy to add:

[code]

@NicoKiaru Shall I add it to our code? This is however a global setting. I am not sure how one can specify for a single `bdv` instance whether it should have a scale bar or not.

That is indeed a good one! Because, in fact, the way the `xml`s are currently parsed assumes that all sources have the same unit! In other words, the units are entirely and

[2020-02-04 09:09] martinschorb opened #80 "processing/filters"
I just saw that clij comes with bdv functionality.
Would it be possible to access its filters through the new interface?

[2020-02-04 10:11] tischi commented on #80
@haesleinhuepf Can you comment on the request of Martin (see above)?

[2020-02-04 10:47] haesleinhuepf commented on #80
Hey @martinschorb ,

so far CLIJx uses BDV just as viewer. This is an experimental feature scheduled for CLIJ3 or CLIJ4 🙄

I would love to implement block-wise GPU-acceleration using CLIJ on Cells as managed inside BDV. However, there is quite some work to do down that road. 😉

If you need GPU-accelerated image processing on super large images, which can only be processed block-wise, potentially o

[2020-02-04 14:41] NicoKiaru commented on #78
Hmm, how would you do that ? Like specifying a range and a number of steps ?

What sounds complicated to me to have an exact mapping between position and a `Slice`. It's not directly accessible to bigdataviewer.

Unless each slice is a different source ?

[2020-02-04 14:48] martinschorb commented on #78
For the given view, it should be feasible to find the depth range of visible data (in bdv world units). Basically the intersection of the data with the bounding box given by the current FOV extended in the viewing direction. In fact it might be enough to just test the intersection with the corner lines of the FOV and check the extent of the data there. The minmax there would then determine the ran

[2020-02-04 15:03] NicoKiaru commented on #77
When Imagej.net will be up, I'll release v0.1.1 that solves this issue -> all sources can be deleted

[2020-02-04 15:06] NicoKiaru commented on #74
Closing this.

I agree List<SourceAndConverter> is better, however it does not behave well with Scijava parameters. Arrays are thus chosen at this point.

[2020-02-04 15:06] #74 closed, assigned to nobody

[2020-02-04 15:07] NicoKiaru commented on #65
This is doable with v0.1.1, provided a MixedProjector has been chosen first

[2020-02-04 15:07] #65 closed, assigned to nobody

[2020-02-04 15:15] NicoKiaru commented on #64
Merged .

It's in BigDataViewer > Bdv > Synchronize Views

A window has to be closed to stop the synchronization

[2020-02-04 15:15] #64 closed, assigned to NicoKiaru

[2020-02-05 10:05] martinschorb opened #81 "place image planes"
Hi,

I just saw a talk about X-Ray Tomo and they use to browse their data in orthogonal planes.
This lead to my following ideas:

- it would be amazing to have 3 synchronized BDV windows that show the orthogonal planes at a given position/viewing orientation/zoom level.

- if the orientation of the other planes is indicated with lines, it would be fantastic to be able to rotate/place these lines i

[2020-02-05 10:17] martinschorb commented on #80
The question is, could BDV just push the block around the current view (FOV,plane,zoom=resolutionlevel) into the GPU for CLIJ to process? The block size could be defined by some settings.

If the blocks size is decent (small) given the processing speed on the GPU, this might even enable to apply filters on-the-fly with CLIJ just returning the processed view to BDV.

As an option, whatever chunk ha

[2020-02-05 10:23] haesleinhuepf commented on #80
This makes a lot of sense - it might just be an insane amount of work. At least if you do it in a general fashion ;-)

Getting the current 2D view, processing it on the GPU and generating a new BDV source might be straight forward though...

A starting point could be the [ScreenShotDemo](https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/test/src/sc/fiji/bdvpg/bdv/screenshot

[2020-02-05 10:23] NicoKiaru commented on #81
This shouldn't be too much work.
Not sure your link is working.

This is more work. I have no idea how to display overlays on bdv actually. @tischi knows more

[2020-02-05 10:32] NicoKiaru commented on #80
With cached cell disk image we could probably do a bunch of processing, if we forget about the generality.

It should be straigthforward if you deal with pixel to pixel operation, like squaring an image.

But if need to apply operation on blocks that need to access the values of neighboring blocks (like a gaussian blur), then as @haesleinhuepf wrote it's a lot more work. That's also the most inter

[2020-02-05 10:45] haesleinhuepf commented on #80
I know that @tpietzsch and @maarzt thought about these things earlier. Curious about their thoughts :-)

[2020-02-05 10:55] tischi commented on #81
Out of scope currently. And also something that we probably should not work on our own but do it together with, e.g. @maartz because he was thinking about orthogonal planes viewing for labKit, afaik.

[2020-02-05 11:54] tischi opened #82 "capture view"
@NicoKiaru I need to implement a new view capture that simply returns a RGB image.
You once mentioned that you also have code for capturing the current view. Could you point me to it to have a look?

[2020-02-05 12:00] NicoKiaru commented on #82
I don't know if that helps, but here's my implementation:

https://github.com/BIOP/bigdataviewer_scijava/blob/master/src/main/java/ch/epfl/biop/bdv/scijava/command/export/BdvSourcesBdvViewToImagePlus.java

It outputs RGB image, but only if the source is RGB.

[2020-02-05 12:17] tischi commented on #82
Looks good......
Do you have a feeling for whether this is significantly different from what we currently have?

https://github.com/bigdataviewer/bigdataviewer-playground/blob/be40dd31bf4a2ead6a02894f57aa975d20188d92/src/main/java/sc/fiji/bdvpg/bdv/ScreenShotMaker.java#L77

Just glancing over both codes I had the feeling it might be more or less the same?

[2020-02-05 13:11] martinschorb commented on #81
This is the wrong developer...
@maarzt is who might be needed!

[2020-02-05 13:20] NicoKiaru commented on #82
I may have forgotten things, but here's how it compares

Supported in my implementation and not in screenshotmaker (to my knowledge):
- All RealType Source (FloatType to float for instance) + ARGBSource to RGB ImagePlus
- Export of ImageJ1 ImagePlus Calibration (XYZ spacings and offsets)
- Export of z stack (with different z spacing)

Supported in ScreenShotMaker and not in mine:
- Automatic choic

[2020-02-05 14:12] martinschorb opened #83 "bookmarks across bdv windows"
Would it be possible to make bookmarks available for different windows.
Could they be shown along the sources in the list? Maybe even stored as separate xml?

[2020-02-05 14:15] NicoKiaru commented on #83
Bookmarks for what ? Current view of Bdv ?

[2020-02-05 14:17] martinschorb commented on #83
Exactly, the ```Shift+B+XX``` functionality. I think this is coupled to the current viewer window, isn't it?

[2020-02-05 14:21] martinschorb commented on #77
I just updated from the Fiji update site and still get an error:

[code]

[2020-02-05 14:21] NicoKiaru commented on #77
Hum weird, which version do you have ? If you go to jars folder ?

[2020-02-05 14:24] martinschorb commented on #77
that's
fiji-plugin-bigDataProcessor2-0.3.10
bigdataviewer-playground-0.1.1

[2020-02-05 14:32] NicoKiaru commented on #77
I can't reproduce it. Check that you take `bigdataviewer-playground-0.1.1` from the update site (test with a fresh fiji if necessary). Maybe upload the dataset somewhere, to share it with me (one where you are sure it's failing).

What I do exactly:

- I open 2 xml hdf5 files
-  show them in a window
- select with ctrl + a all sources in the tree
- right-click select `Delete Sources`

And that wor

[2020-02-05 16:12] tpietzsch commented on #80
As @NicoKiaru said, this should be relatively straightforward with cached CellImg.
To be clear, this has nothing to do with BigDataViewer. This would be just a CellImg where the data for each block is "loaded" by doing an operation on another image.

Have a look at [this example](https://github.com/imglib/imglib2-cache-examples/blob/master/src/main/java/net/imglib2/cache/example06/Example06.java).

[2020-02-05 17:27] tischi commented on #82
code is still horrible, but I think I implemented a good functionality:
https://github.com/embl-cba/fiji-plugin-platyBrowser/issues/47

[2020-02-06 12:22] maarzt commented on #81
I don't think I will have orthogonal planes in Labkit any time soon. But Paintera https://github.com/saalfeldlab/paintera already uses BDV to show orthogonal planes. But it's based on JavaFX and that's not compatible with the ImageJ swing UI. If there's a working prototype, I'm happy to have a look at it.

[2020-02-06 12:25] maarzt commented on #80
I will soon try to use CellImg, BDV and CLIJ together. And it will be something along the lines what @tpietzsch  wrote.

[2020-02-06 14:59] haesleinhuepf commented on #80
Let me know if you need any support! That sounds to me like a strategically interesting project! ;-)

[2020-02-06 15:23] NicoKiaru commented on #77
@martinschorb I've pushed a new version to the update site . Please try it and let me know.

Just FYI : there was really a version issue because the line mentioned in your error is not correct. It was the correct line in version 0.1.0 but not in 0.1.1.

After FIJI update you should have the version 0.1.2 of bdv-playground.

Please check this and if you still have this error, please report.

[2020-02-06 16:07] martinschorb commented on #77
It seems to go further now. All sources are deleted,

however I still get errors for some...

[code]

[2020-02-06 16:19] NicoKiaru commented on #77
Thanks for testing.

If the sources are not displayed, do you still get the error ?

Can you share a minimal dataset making this bug or is it too complicated ?

[2020-02-06 16:34] NicoKiaru commented on #81
I have a draft for orthoviews here:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/orthoview/src/main/java/sc/fiji/bdvpg/bdv/navigate/ViewerOrthoSyncStarter.java

The issue I have is that it's not centered on the center of the bdv window, but on its top left corner. And with the trick I use to synchronize both windows, it's gonna be a bit painful to center it correctly.

[2020-02-07 14:22] martinschorb commented on #77
OK,

- add two sources, https://oc.embl.de/index.php/s/fFxYlIqFmULJspK
- show sources
- close bdv window
- select sources in list
- right click - delete sources

[code]

[2020-02-07 14:31] martinschorb commented on #77
Hold on,

does not happen with a naked Fiji.

I need to test which other Plugin causes the Problem. I hope it's none of @tischi 's

[2020-02-07 14:47] NicoKiaru commented on #77
It's one of those terrible random bug. I think it still comes from the playground. I experience some issues also.

I think it's a problem of synchronization between the rendering and the data modification.

I'll try to see what can be done.

[2020-02-07 14:50] martinschorb commented on #77
Well,
at least I had it working for once ;-) without an error. So there is progress...

[2020-02-17 07:58] NicoKiaru commented on #22
Hi @tischi and @martinschorb . I've pushed a new version (v0.1.4) on the update site. Let me know if there are new issues or some that have disappeared ;-)

[2020-02-17 07:59] NicoKiaru commented on #77
I've done some modifications and pushed to the update site @martinschorb . Let me know how that goes!

Best

[2020-02-17 13:15] martinschorb commented on #77
Hi,

no huge progress...

[code]

[2020-02-17 13:17] NicoKiaru commented on #77
Just make sure that you restarted FIJI after the update and that you have version 0.1.4. I encounteered some errors, but not of this kind. weird.

[2020-02-17 13:24] martinschorb commented on #77
OK,

tried now several times including restarts...

It seems to work now without errors.

However, if I delete the sources while they are still shown in a bdv window, I get:

[code]

or when I delete the sources with the right click inside the bdv window:

[code]

[2020-02-17 13:34] NicoKiaru commented on #77
But you can still continue to work ?

Indeed I have been struggling to avoid this issue, but I couldn't find a proper (or even a dirty) solution. But if you can continue to work, I think I will let it like that and hopefully this will be solved with the new interface by Tobias.

[2020-02-17 13:48] martinschorb commented on #77
That's OK I guess...

[2020-02-17 13:50] martinschorb opened #84 "Transform source"
I am struggling with transformations now.

Anything I do ( pressing T, calling "Manual sources Transformation" and then rotating, translating etc.) will only change the viewer not the single source with respect to the others.

What am I doing wrong?

[2020-02-17 14:36] NicoKiaru commented on #84
Quickly:
If you press 'T', you need to have a transformed source before. Which is not the case by default in bdv-playground (it is in the default bdv). In the playground you need to wrap your source explicitely if you want. You can check whether it's wrapped with 'inspect source'.

So. If you press "Manual sources transformation", you need to select between 'mutate' and 'append'. 'append' will alw

[2020-02-20 12:40] martinschorb commented on #82
Is this functionality available in the current version?
Would typing C do it?
Instead of opening a new ImageJ window, could I create a stack/movie by pressing c multiple times while browsing/zooming/rotating through the volume?

[2020-02-20 12:43] martinschorb opened #85 "Transform origin"
Hi,

so far the transformation origin is still the pixel origin of the input image. This means lower left corner, lowest slice. Which is not always straight-forward to find in processed data (rotations/reconstructions/...).
Is there progress in making other approaches (especially the center voxel) possible?

[2020-02-20 12:58] tischi commented on #82
to make a movie I would probably just use some screen casting tools like QuickTime Player.

[2020-02-20 12:59] tischi commented on #82
regarding typing C: I still have to create a PR to add the functionality.

[2020-02-20 13:04] martinschorb commented on #82
That makes sense if we wanted to just capture exactly the screen output.
If we go a bit more fancy, one could specify a desired pixel size (in real bdv coordinates) and extract the data of a capture of this "virtual" screen. Otherwise it is impossible to find out the scale of the screen recording. Or we would need the scalebar functionality and burn it into the capture.

[2020-02-20 15:33] NicoKiaru commented on #85
The way it works internally cannot be changed, but we can add functionality where this is hidden. We can apply a transform relative to the center of the image. Like an interactive command. What would be your use case ? A manual transformation ?

[2020-02-27 09:16] martinschorb opened #86 "mixed Projection modes hierarchy"
Hi,

when I use mixed projection modes, BDV does not yet behave as I would expect.

Let's stay in the Light Microscopy World:
- 2 sources Brightfield (different mags/focus levels)
- 2 sources Fluorescence

what I do:
- set the BF sources to "Average"
- set the Fluo sources to "Sum"

what should happen when it calculates the resulting pixel intensity in the viewer:
- average contributions of all "A

[2020-02-27 09:28] NicoKiaru commented on #86
ping @tischi , you know more about this feature

[2020-02-27 09:30] martinschorb opened #87 "additional Projection mode"
Hi,

when dealing with multi-scale datasets (large differences in magnification) it would make a lot of sense to have an additional projection mode that would display sources according to their resolution/voxel size.

Ideal scenario would be:

- display these "Top-layer" sources on top of the "Average" sources but before applying the "Sum" sources.
- or make it optional whether they are shown in b

[2020-02-27 10:43] tischi commented on #84
we do not manage...
our workflow is:

- right-click on a source and select "Manual sources transformation"
- choose "Append"
- then translate the source in BDV with right drag

The selected source moves, **but also all the other displayed sources move**.
I guess this is not the intended behaviour?! That is, only the selected source should move in the viewer, isn't it?

If one however in the end cl

[2020-02-27 10:48] tischi commented on #84
Also, when I afterwards want to display that source in its original position, it is still shown with the additional transform applied, even though "Append" was selected before transforming.

[2020-02-27 11:03] NicoKiaru commented on #84
Sorry, no time to check. One alternative :
* first wrap the source (Source > Transform > Wrap as transformed Source
*  display the wrapped source (not the original one, it should be near the root in the tree display)
*  then you can use the new manual transform or the old one

[2020-02-28 09:36] martinschorb opened #88 "Optimize zoom level for high-resolution sources"
Hi,

we experience interpolation artifacts when looking at high-resolution EM data.

I would love to have a functionality that would adjust the display zoom factor such that the interpolation would use even ratios (1:n) instead of fully flexible interpolation scales.

Example: I navigate to a source, make it the "current" source, align the display with Shift+Z. Now what would be amazing: a button/

[2020-02-28 09:43] martinschorb commented on #82
The screenshot functionality in the current version looks already super-promising.
REALLY cool !!! @NicoKiaru
Would it be possible to have a drop-down selector for the units available in the set of sources (plus pixels) instead of the free-text. It is always a pain to find out what exactly to type.

[2020-02-28 09:47] martinschorb commented on #82
Aah and @tischi regarding the keyboard shortcut. Using the presets set in the "screenshot" window and then simply adding a stack slice to the generated Img+ would be the perfect funtionality.

[2020-02-28 09:53] martinschorb opened #89 "Synchronize Views"
Hi,
I tested this functionality:
[code]

Do all the BDVs have to contain the excact same sources??

[2020-02-28 09:54] #85 closed, assigned to nobody

[2020-02-28 11:07] NicoKiaru commented on #88
Can you post a screenshot ?

[2020-02-28 11:11] NicoKiaru commented on #82
@tischi and @haesleinhuepf did this functionality. Regarding the unit I'm not so sure what could be done because one has to assume a certain unit for the bdv viewer. Most use case in microns or millimeters

[2020-02-28 11:13] martinschorb commented on #88
![bdv_interp](https://user-images.githubusercontent.com/35071867/75544160-abbf0800-5a23-11ea-9869-81ab1ee5a34b.png)

left is the native viewer at precisely 0.5x zoom right is bdv

[2020-02-28 11:13] martinschorb commented on #88
you can see these line/cross-like interpolation artifacts

[2020-02-28 11:14] NicoKiaru commented on #89
No no, I think you just need to click several bdv windows when you launch the command (but select at least 2), with the CTRL button.

You may think they were selected but they were not. I will have to add a warning when nothing is selected.

[2020-02-28 11:15] NicoKiaru commented on #88
You do not want to interpolate / pressing I is not a good option ?

[2020-02-28 11:16] martinschorb commented on #82
OK, Kudos to these two then ;-)

I find it always hard to know what is the exact wording used in the xmls ("micrometer,micrometers,um,µm", same for nano etc...).
I think a dropdown that just shows whatever convention the present sources use would help.

[2020-02-28 11:18] martinschorb commented on #88
this screenshot is with nearest-neighbor. It only slightly gets better with tri-linear.
You can still see the crosses...

![bdv_interp1](https://user-images.githubusercontent.com/35071867/75544498-6a7b2800-5a24-11ea-9d0f-19e65b613808.png)

[2020-02-28 14:45] martinschorb commented on #86
Have you tested it also the other way round?
- When I first display the "Avg" sources and then add some "Sum" sources, they seem to darken the region.

- When I first display the "Sum" sources and then add "Avg" sources, they seem to lighten...

[2020-02-28 14:51] tischi commented on #86
This exactly fits the kind of behaviour I would expect from the bug that I just fixed.
Let's wait until @NicoKiaru merged and deployed it.

[2020-02-28 15:06] tischi commented on #82
@NicoKiaru I don't think we have anything for this right now, do we? I think we would need to discuss on Skype, maybe all the three of us including @martinschorb .

@martinschorb I would like to implement this:

`C` (the pretty picture mode)
One RGB image, which looks exactly like what one sees in the BigDataViewer window including all the B&C settings and colours, but with adjustable pixel size (

[2020-02-28 15:58] martinschorb commented on #82
Hi,

I would use the existing functionality "Screenshot" for the ```Shift + C```shortcut. I like this a lot as it even preserves the LUTs.

[2020-02-28 17:48] tischi commented on #82
Yes, but that is an issue, because we cannot easliy represent all LUTs that Bdv has in ImageJ1, because ImageJ1 LUTs are limited to 8-bit and in Bdv you can do much more fancy things.
That's why I changed it now to above described behaviour.
I think it will be more appropriate and robust.
Let's see how you like it once it is merged.

[2020-02-28 18:47] tischi commented on #87
I managed 😄
![image](https://user-images.githubusercontent.com/2157566/75577773-fdd34e00-5a62-11ea-8349-16da1f55eca5.png)

[2020-02-29 15:51] #86 closed, assigned to tischi

[2020-03-03 10:59] NicoKiaru commented on #87
Ok, I see what exclusive means now...

[2020-03-03 15:04] NicoKiaru commented on #84
Looks like nothing works - and it was working before.

I need to find when things broke.

[2020-03-03 15:40] martinschorb opened #93 "BigWarp, get transformations back into BDV"
Hi,

is there a way to get the transformations that I create with bigwarp associated to my selected sources and then back into "our" bdv?

[2020-03-03 15:40] NicoKiaru commented on #84
I did something wrong in commit 3ab6470aec25a14bb265e0a0ec1b6654782cf674
I'll investigate

[2020-03-03 16:25] NicoKiaru commented on #84
Solved in https://github.com/bigdataviewer/bigdataviewer-playground/commit/519e14a128533caf2a3b028ff040884be62394f6

Wait for the push to ImageJ update

[2020-03-03 16:42] NicoKiaru commented on #93
Not yet, but that's doable. I'll give it a shot

[2020-03-03 16:50] NicoKiaru commented on #89
Warning message added in https://github.com/bigdataviewer/bigdataviewer-playground/commit/f497540b251c6b3cbff3ad298cdaf7c834d0ba90

[2020-03-03 16:50] #89 closed, assigned to NicoKiaru

[2020-03-03 16:53] NicoKiaru commented on #69
Closing this : we removed the interface for now. That was the point of this issue.

We are stuck with arrays of SourceAndConverter because that's easier to deal with in terms of scijava commands

[2020-03-03 16:53] #69 closed, assigned to NicoKiaru

[2020-03-03 17:00] NicoKiaru commented on #83
Yep. I think so. I do not have time to propose something. Maybe @tischi has, but not sure.

Otherwise, here's a workaround:
* using the function as it exists now
* use the synchronize views function to apply the transformation to all bdv windows

What I could add is a 'pause' function in the window that controls view synchronizer, if you think that's useful.

What do you think ?

[2020-03-04 14:05] tischi opened #94 "Projection String Comparison"
Change the Projection Modes from Strings to Integers to speed up comparisons in the AccumulateProjector.

[2020-03-04 14:05] #87 closed, assigned to nobody

[2020-03-04 14:06] tischi opened #95 "Projection Layers"
Potentially enhance the current "Occluding/NotOccluding" projection modes to a multi layer system.

[2020-03-04 14:09] NicoKiaru commented on #95
started in https://github.com/bigdataviewer/bigdataviewer-playground/tree/multilayerprojection, whenever anyone wishes to continue it

[2020-03-04 22:10] tischi commented on #95
here is some information of how it could be done:

- for 2 layers https://en.wikipedia.org/wiki/Alpha_compositing

- for more layers it seems it could be done recursively:
![image](https://user-images.githubusercontent.com/2157566/75928510-d7e8e780-5e6e-11ea-958e-facb35fa4e00.png)

see:

- https://koyama.xyz/project/color_unblending/download/preprint.pdf
- https://www.w3.org/TR/2011/WD-SVGComposit

[2020-03-06 14:20] martinschorb commented on #93
I do see a xxxx_xfm when I launch BigWarp appearing in my sources list. Is that it?

[2020-03-06 14:25] martinschorb commented on #93
Also, I noticed that BigWarp's "Export as ImgPlus" does produce entirely empty images.
Before it crashed (see https://github.com/saalfeldlab/bigwarp/issues/88)  but I got a new snapshot that fixed at least this...

[2020-03-06 14:35] bogovicj commented on #93
Can you elaborate?  Obviously, it's not supposed to do that.  What's your setup like?

[2020-03-06 14:51] bogovicj commented on #93
@NicoKiaru
Regarding getting bigwarp transformed images into bdv, can you give this a try
[code]

[2020-03-06 18:06] #82 closed, assigned to tischi

[2020-03-09 14:06] martinschorb commented on #93
Minimum working example:
https://oc.embl.de/index.php/s/fFxYlIqFmULJspK

- select fm_ch0 as moving and m_120 as target

- display fused image (in fixed image viewer)
- export as ImgPlus (Target,Target)

[code]

This happens in both moving and target windows.

Tested on Linux & Windows.

[2020-03-09 14:35] bogovicj commented on #93
Thanks - I also get this behavior.
I have an idea what this is about, but can you try something to confirm you get the same thing as me:

1) Open the images in the same way as before.
2) Control-click several times in the image (at least 4).  (This explicitly creates an identity transformation.)
3) export as ImgPlus (Target,Target), like before.

You'll hopefully not get an error.  A resulting ima

[2020-03-09 14:37] NicoKiaru commented on #93
FYI, if relevant, the pom file has these explicit versions:

[code]

[2020-03-09 14:43] martinschorb commented on #93
Exactly. Empty image.
The error message appears when I try to export without doing anything.

[2020-03-09 14:45] bogovicj commented on #93
Perfect, I'll get you a patch as soon as I can.

To clarify - you're using this to export an affine-transformed moving image into target space, right?
Is that correct?

[2020-03-09 14:48] martinschorb commented on #93
Both images come affine transformed from @NicoKiaru 's multi-source viewer. I use BigWarp to refine this transformation. This works: the resulting transformed moving image is transformed correctly. I just realized that the export to ImagePlus seems to be broken in this case. When I load the pixel data of the two images into BigWarp the "traditional" way, the export works.

[2020-03-09 15:04] NicoKiaru commented on #93
This repo uses a different 'manual transform' than the one from bigdataviewer.
There are 2 ways to store a manual transform (`append` and `mutate`), and the way the 'storage' is done depends on the original source class (`TransformedSource` and `AbstractSpimSource` supported).

* Case 1 : `mutate` a `TransformedSource` : it concatenate the transform to the current transform of the source -> you ca

[2020-03-12 15:07] martinschorb opened #98 "update problem"
Hi,

I run into this when trying to update Fiji...

![bdvplaygrd](https://user-images.githubusercontent.com/35071867/76535733-9f9f6580-647b-11ea-93c1-21fb1f83dbf8.png)

[2020-03-12 16:00] martinschorb opened #99 "Export source as h5/xml"
Hi,

when I try to export a dataset using right click "Export..."

I get
[code]

is this because the source is 2D?

[2020-03-12 16:07] NicoKiaru commented on #98
You need to download imglib2-5.2.8 (https://maven.scijava.org/service/local/artifact/maven/redirect?r=central&g=net.imglib2&a=imglib2&v=5.8.0&e=jar) and put it in the jars folder of your fiji - it couldn't be updated to the update site...

[2020-03-12 16:08] NicoKiaru commented on #99
Hum no unfortunately it's some API change that was not taken into account... Thanks for reporting

[2020-03-12 16:12] martinschorb commented on #98
Uuh,

now Fiji does not even start up anymore...
[code]

[2020-03-12 16:17] NicoKiaru commented on #98
Damned. I look right now. (also chek you removed the old imglib2 jar)

[2020-03-12 17:08] NicoKiaru commented on #98
With a fresh fiji, if you add the new `imglib2-5.6.8` and remove the old `imglib2-5.6.3` it works.

Maybe you have some other update sites / dependencies which interfere ?

[2020-03-13 09:29] martinschorb commented on #98
Confirmed

[2020-03-13 09:32] martinschorb commented on #98
OK, so the update worked...then it crashes on startup.

what I did
- virgin Fiji fresh download  -> _runs_
- replace imglib2 as instructed  -> _runs_
- update without any additional update sites, keep local imglib2  -> _runs_
- add Bdv-Playground and update

-> crash on startup (restart after successful update)

[code]

[2020-03-13 10:03] NicoKiaru commented on #98
Arf. The heck. I'll ask the gitter crowd.

[2020-03-13 17:56] bogovicj commented on #93
Quick update -
I'm confident the cause of the error is fixed, but pretty sure there is another problem which causes the image to be empty (for the test above).

I'm looking into it, and will keep you posted.

[2020-03-13 17:58] NicoKiaru commented on #93
@martinschorb , are sources 2d or 3d ?

[2020-03-14 09:23] martinschorb commented on #93
these are 2D.
I can try with 3D as well but due to Fiji currently not starting with BDV Playground (#98) in all except one remote installation it is a bit tricky to test... Will keep you posted.

[2020-03-18 13:06] martinschorb commented on #98
Any news?

The moment I include your update site, Fiji update dies :-(
So no happy testing atm...

[2020-03-18 17:00] tischi opened #100 "z-slider"
Hi @NicoKiaru ,
Do you know how hard it would be to add a z-slider to the BDV UI?
It would make it much easier to use for people coming from IJ.

[2020-03-18 18:32] NicoKiaru commented on #98
Hi Martin,

Sorry I have to finish two other projects that have the priority now. I don't know if I will have time tomorrow. Sounds surprising but the rhythm of work has not diminished yet.

[2020-03-18 18:36] NicoKiaru commented on #100
I think a z slider is easy, if it has no link to sources : just have a slider with zbegin zend and nsteps. The slider set the z position and that's it

Now if you want the step to be synchronized with multiple 2d sources stacked in z or a 3D RAI affine transformed, that's a bit more complicated. What do you think ?

Then to attach it to the window, maybe the new UI would help, but that's another i

[2020-03-19 07:00] tischi commented on #100
@tpietzsch Do you have some advice as to how to attach a z-slider to BDV? I recently gave a couple of courses and I feel, in order to make the IJ1 community be more comfortable using BDV, a z-slider could be a big deal ;-)

[2020-03-19 07:16] tischi commented on #100
That is in fact a great question. I am not sure what a good z-step size would be if we have multiple sources at different voxel sizes. However, already now `,` and `.` keys have _some_ step-size. I would not know how this is set either.
@martinschorb: do you have an idea for a sensible step-size in z? Maybe we could let the user choose upon startup of the BDV?

[2020-03-23 14:51] martinschorb opened #101 "Dealing with BigStitcher"
Hi,

we have a lot of tiled images, and I played around with BigStitcher to put them together. this works really nicely. However, the xml file tat BS generates seems not to work in our BDV. Could you check what is the issue...? Is the ```<tile> ```not supported by default?

[dataset.xml.zip](https://github.com/bigdataviewer/bigdataviewer-playground/files/4370110/dataset.xml.zip)

[code]

[2020-03-23 16:00] martinschorb commented on #101
OK,

when I export to hdf5 (even though it is slow like hell https://github.com/PreibischLab/BigStitcher/issues/68 and destroys some of the tiles ) it loads. So it seems to be an issue with the tif reader.

Would there be some way to deal with these tiles as one source? In some cases that would be hundreds of tiles and showing all of them as individual sources will be very confusing.

[2020-03-24 12:40] NicoKiaru commented on #98
I will completely reset the update site. Everything is so screwed up that I cannot revert what has been done. And the upload do not even work anymore. This means that you will have to re install FIJI.

[2020-03-24 13:22] NicoKiaru commented on #98
@martinschorb you can retry to update - it should be working now. Maybe you will have to reset FIJI a few times to finish the update. Let us know

[2020-03-24 13:31] martinschorb commented on #98
Looks really good!

Thanks!

[2020-03-24 13:31] #98 closed, assigned to nobody

[2020-03-24 13:33] NicoKiaru commented on #98
Ouf!

[2020-03-24 13:35] NicoKiaru commented on #101
Do you thing you can share a minimal buggy example or dataset ?

`Tile` should not be a problem. But I will try to put the `BigStitcher` and our update site together in a single Fiji and see if something weird is happening

[2020-03-24 13:38] martinschorb commented on #101
https://github.com/PreibischLab/BigStitcher/issues/68#issuecomment-602688194

has the original xml that works with BigStitcher and the tifs.

[2020-03-24 13:51] NicoKiaru commented on #101
Good! I think I understand the problem. The issue is that I assume that the loader can provide `Volatile` views of the source and hence can be casted as `bdv.ViewerImgLoader`, but that's not always the case.

Looking on it

[2020-03-24 18:01] NicoKiaru commented on #101
Done and uploaded to the update site. Please reopen in case of issue.
Just be aware that it's not responsive to use this loader and there are options to make 'volatile' sources that we can discuss

[2020-03-24 18:01] #101 closed, assigned to nobody

[2020-03-24 20:19] NicoKiaru commented on #99
Should be solved with the last update

[2020-03-25 10:43] martinschorb opened #102 "grouping sources"
Hi,

The Window "Bdv sources" that is used to access the sources lacks some kind of grouping.
Now, that we can get stitched tiles from BigStitcher displayed, there are several hundreds of sources (from a 15x15 tile for example) that in fact are just one source object (different ViewSetups from one xml).

I would love to have some kind of grouping possibility. Ideally automated and based on where t

[2020-03-25 16:47] martinschorb commented on #99
I still get an error:

[code]

[2020-03-25 18:11] NicoKiaru commented on #99
ok, what are the update sites installed ? can you try with a fresh fiji ?

thanks for reporting

[2020-03-25 18:22] martinschorb commented on #99
just BigStitcher, nothing else...

[2020-03-27 09:37] NicoKiaru commented on #99
I don't know if it's the same error but there was an update with BIgStitcher and now it's not working anymore with me as well

[2020-03-27 09:40] martinschorb commented on #99
I know that Stefan changed something in the exporter here:

https://github.com/PreibischLab/BigStitcher/issues/68

[2020-03-27 09:45] NicoKiaru commented on #99
Yes, actually I'm not using the exporter of BigStitcher but I have more or less the same function - and I corrected this 2D behaviour before because I had big 2D slide-scanner data to export. However here the problem is an API change of imglib2. I'm relying on the currently imglib2 version of FIJI - but bigstitcher has updated it to a newer version. We need to do this as well in order to make poss

[2020-03-27 11:14] NicoKiaru commented on #99
Ok, so I will do a second update site with an 'alpha' version which will contain all the newer versions of imglib2 and so on because I fear to break this update site more. I'll let you know when it's done

[2020-03-27 11:16] NicoKiaru commented on #99
For now I'd suggest you keep 2 FIJIs, because of this incompatibility between BigStitcher and the playground

[2020-03-27 16:00] NicoKiaru commented on #99
Ok, done. FInally I pushed on the same update site. @martinschorb It should work with or without BigStitcher update site. FYI it's a major change because it's now using the new API for bdv, and the new user interface:
You will find that most of the previous shortcuts are disabled ('S') but most commands in the playground still work (please report if not). The new UI is accessible if you look for a

[2020-03-31 07:33] martinschorb opened #108 "Open Sources in BDV kills Fiji"
Hi,

- open a few xml/h5
- select all sources
- right click -> show sources
- **Mixed Projector**
- **adjust Contrast + adjust View on Source**
- freezes whole Fiji

bold points are necessary to create the behaviour, otherwise it does the job.

[2020-03-31 07:36] martinschorb opened #109 "New UI bug(s)"
Hi,

- load a bunch of xml/h5
- show sources
- projection mode: Average
- adjust contrast, adjust view
- open new UI (I like it!)
- click the source/group icon at the top

[code]

[2020-03-31 09:20] NicoKiaru commented on #108
Ok, to let you know, some freeze bugs are to be expected with the new UI. Most probably, they will have to be solved by @tpietzsch in bdv-core.

What I'll do for these freeze is try to find a minimal example to give to Tobias.

And thanks so much for testing!

[2020-03-31 09:40] NicoKiaru commented on #108
Freezes with 'adjust Contrast' AND/OR 'adjust View on Source'.

[2020-03-31 09:55] NicoKiaru commented on #108
This one I could do, thanks a lot for the detailed description, that made it easy!

https://github.com/bigdataviewer/bigdataviewer-playground/commit/00e74b0eb9e912a7835204ff149754a9a78651ee

[2020-03-31 09:55] #108 closed, assigned to nobody

[2020-03-31 10:17] NicoKiaru commented on #109
Ok, found the issue!

https://github.com/bigdataviewer/bigdataviewer-playground/commit/8276f5abd95208eb69f41b00b98f3d59e5393366

I'll push to the update site with these two fix right now

[2020-03-31 10:17] #109 closed, assigned to nobody

[2020-03-31 10:23] tpietzsch commented on #108
@NicoKiaru

[code]
This list will probably not be sorted in the order of sources in the state, because it is obtained from a set. To get a sorted list you can do it like this
[code]

[2020-03-31 10:23] NicoKiaru commented on #109
Pushed

[2020-03-31 10:24] NicoKiaru commented on #99
Closing now that it's on the update site. Please reopen in case of trouble

[2020-03-31 10:24] #99 closed, assigned to nobody

[2020-03-31 10:24] #84 closed, assigned to nobody

[2020-03-31 10:32] NicoKiaru commented on #77
Now so the new interface is there, can you check if this but still occurs @martinschorb ?

I don't remember exactly what was the issue, but with a bit of luck this should be solved now

[2020-03-31 10:34] NicoKiaru commented on #22
Closing the thread. I added the link to the fiji update site on the readme of the repo

[2020-03-31 10:34] #22 closed, assigned to nobody

[2020-03-31 10:36] NicoKiaru commented on #102
![image](https://user-images.githubusercontent.com/20223054/78017207-34470600-734c-11ea-9f67-b1b0478603d4.png)

So you would like to have the name of the file shown instead of 'SpimData 0' ? Or would you like something more advanced ?

[2020-03-31 10:53] NicoKiaru commented on #108
Thanks @tpietzsch ! I think it works because even if the order is random, I'm keeping the same order for the linked projection mode thanks to a `HashMap<SourceAndConverter, String>`. I think the projection ultimately do not depend on the order of the sources.

But - re-looking at the code I see that I have some deprecated code that I need to update for this projector: the good thing is, the code w

[2020-03-31 11:21] martinschorb commented on #102
Yes, I think filename would be way more informative.

[2020-03-31 11:24] martinschorb commented on #102
What I will then implement in my converter is a comprehensive naming of the ViewSetups. Something like ```ch0_tile04```

[2020-03-31 11:52] martinschorb opened #110 "Open multiple XML/H5 selector dialog"
Hi,

this is still legacy from @tischi:
when I want to open files, the filter dropdown does not show "*.xml" but some cryptic java stuff...

![image](https://user-images.githubusercontent.com/35071867/78023392-d9ff7280-7356-11ea-9ea0-42eadc009399.png)

[2020-03-31 11:54] martinschorb commented on #102
Also, the additional layer "In SpimData" in "All Sources" is not necessary. can it go?
![image](https://user-images.githubusercontent.com/35071867/78023552-1fbc3b00-7357-11ea-8baa-108231abf0dc.png)

[2020-03-31 12:11] martinschorb opened #111 "smart loading of sources"
Hi,

would it be possible to set certain properties of sources automatically based on what the data looks like?

Projection modes for example:
- if more than one channel in the data: set to **Sum**
- if min(data) > 20% of max(data): set to **Avg** (likely to be Brightfield images instead of Fluorescence)

Or channels:
if multiple channels:
- preset ch0,ch1,ch2 with RGB color map

As an alternative

[2020-03-31 12:24] martinschorb opened #112 "BDV settings still not capable of dealing with multiple sources"
Hi,

the settings file (main BDV window -> save settings) does not list the individual sources in a meaningful way. It is just one after the other.

Also Save Spimdataset does not store all relevant properties (ProjectionMode/ColorMap).

The question is: do we want to store one settings file for the entire atlas or one settings file for each source.

[2020-03-31 12:30] martinschorb commented on #102
Now that we have both sources and groups nicely integrated into the new GUI, I would love to have groups available more intuitively from our Sources manager.

Something like ```right-click -> Add to group``` -> selection of the 10 groups in BDV with their current names.
And maybe also ```remove from group``` listing every group a source belongs to if possible.

This should cover every need.

[2020-03-31 12:46] martinschorb opened #113 "Overlays"
Hi,

I found the cross overlay in the ortho views amazing.
Would there be a way of generating overlays (like captions/labels of certain volume regions) externally and loading them into BDV? Like this we could easily mark ROIs in our atlases...

[2020-03-31 13:17] NicoKiaru commented on #110
Not sure I can do much. The files are filtered so it works.

https://github.com/bigdataviewer/bigdataviewer-playground/blob/c1b89e731d5d70e80cd95a9fcf083ffab8937bd7/src/main/java/sc/fiji/bdvpg/scijava/command/spimdata/MultipleSpimDataImporterCommand.java

Maybe @imagejan has an idea ?

[2020-03-31 13:20] NicoKiaru commented on #111
Do I have a repo that reads and build a dataset by using BioFormats. Is the settings can be read with bioformats, then they are applied directly and the saved dataset contains the display information.

If no displaysettings are found within the xml dataset, we could think of something like that yes.

[2020-03-31 13:24] martinschorb commented on #111
So currently displaysettings contains:

[code]

This means I can assign this to the source already when creating the xml, correct? I will play with it...

What is missing is the Projection Modes. I wonder if we should just put them in there with a new tag.

[2020-03-31 13:24] NicoKiaru commented on #112
This do not work and I'm not sure how this will behave in the future.

For the projection Mode this can be added quite easily.

By ColorMap do you mean lookuptable which is not a single color ? This is not really possible currently. Only single color are nicely supported right now.

[2020-03-31 13:24] martinschorb commented on #111
maybe as a new ```projectionmode``` Attribute...

[2020-03-31 13:25] martinschorb commented on #111
that should cover everything indeed...

[2020-03-31 13:29] martinschorb commented on #112
I guess then maybe the menu items "File" and "Settings" should be removed.

The rest seems feasible with the ViewSetup attribute "displaysettings" and an additional one for  projectionmode.
https://github.com/bigdataviewer/bigdataviewer-playground/issues/111

[2020-03-31 13:36] NicoKiaru commented on #113
Yes it's possible to generate overlays in a very modular way. Since it's very general, we need to see how to do this right - and in line with other projects.

Note that Label regions (-> a region is backed by an image = a source) is very different from an overlay (stuff you put on the screen mainly just for a convenient user display).

[2020-03-31 13:39] NicoKiaru commented on #111
Yep, just note that it is only recognized into the playground currently. I will post in gitter whether people would like to have this supported more generally.

I think a tag in `displaysettings` makes sense. After all it's a display setting ...

[2020-03-31 13:40] martinschorb commented on #113
Cool,

is there documentation or an example file on how to get overlays in there?

I know what labels are, sorry vocabulary confusion, maybe captions i.e. text is a better word...

[2020-03-31 13:41] NicoKiaru commented on #112
That's not part of the repo. I believe Tobias&co will have to decide what to do with it. It's probably there for legacy reasons.

[2020-03-31 13:41] martinschorb commented on #113
Would this also be the approach for displaying scale bars?

That would be an overlay of a fixed length (pixel) on screen with the caption changing based on the viewer's zoom.

[2020-03-31 13:44] martinschorb commented on #111
Agree

[2020-03-31 13:46] NicoKiaru commented on #113
For a complex complete example:

https://gist.github.com/tpietzsch/a2066fb2ee7b868b98a5

Cross lines in this repo (simple):

https://github.com/bigdataviewer/bigdataviewer-playground/blob/b7fc66a1a4227bf1f6d761d247acd901e9635f12/src/main/java/sc/fiji/bdvpg/scijava/command/bdv/BdvOrthoWindowCreatorCommand.java#L133-L151

[2020-03-31 13:47] imagejan commented on #110
The file filter is currently implemented as an anonymous inner class in [`SwingFileWidget`](
https://github.com/scijava/scijava-ui-swing/blob/ac3cbb189749a3fc55d30034ba4a2f8270dcd069/src/main/java/org/scijava/ui/swing/widget/SwingFileWidget.java#L226-L238). I suppose the Swing UI is calling the filter's `toString()` method when creating the dropdown field, so that should probably be overridden.

T

[2020-03-31 13:48] NicoKiaru commented on #113
There's already an overlay for a scalebar : https://github.com/bigdataviewer/bigdataviewer-core/blob/c48ab1de3e7ae1b2a1adcb7f8149adff1d2cfb38/src/main/java/bdv/viewer/overlay/ScaleBarOverlayRenderer.java

I can probably add it as an option to the creation of bdv viewer. Do you think it's a good idea ?

[2020-03-31 13:50] martinschorb commented on #113
Oh definitely, https://github.com/bigdataviewer/bigdataviewer-playground/issues/76

optional Bounding boxes for volumes would also be really nice (and it seems there' s code for it already ;-) )

[2020-03-31 13:53] martinschorb commented on #113
Now,
in order to define overlays externally and load them into BDV, one would need to create in an xml similar to a ViewSetup.

Is there anything similar existing already, or should I look into drafting a format and maybe even a parser that would draw it?

[2020-03-31 13:53] imagejan commented on #110
See also [this forum topic](https://forum.image.sc/t/scijava-command-file-extensions/29869?u=imagejan) by @tischi.

[2020-03-31 13:53] NicoKiaru commented on #76
I dropped the ball here. Yeah let's make this global and then make a Command for settings these preferences. If the prefs are modular enough, we could probably add the default projection mode here and save us a few clicks.

[2020-03-31 14:13] NicoKiaru commented on #113
One possibility is to make something which can be read within the xml dataset file.

Another possibility would be to just make a groovy script which adds the overlay of your choice, like this groovy script that can launch directly from the script editor :
[code]

I have the feeling that people may want very different things as oveerlays, so I'm not so sure what a 'standard overlay' format would me

[2020-03-31 14:24] martinschorb commented on #113
I guess the potential overlays would be:
- static position and static size on the viewer (like the cross or the text caption of a scale bar)
- static position and dynamic size in the viewer (scale bar)
- fixed position in the data (bounding box, POI, ROI, text annotations) static size in the viewer

I will have a look and see if I can understand the BoundingBox example and get it to run with groov

[2020-03-31 14:27] NicoKiaru commented on #111
https://gitter.im/bigdataviewer/bigdataviewer-core?at=5e8351db419c4a022ec210bc

[2020-04-01 09:27] martinschorb commented on #93
Hi,

It seems that the new sources that are added somehow are screwed up in terms of ViewSetupID...
Wrong Colour. It also does not remember the Projection mode.
When I have Views fused in the BigWarp Window, also the fixed source appears (with assigned Colour and Contrast settings for one moving...)

[2020-04-01 09:43] martinschorb commented on #93
Minimum example:

files:
https://oc.embl.de/index.php/s/KihC2SEFIsCBYB1

- empty BDV (mixed proj)
- fm->Sum ; m120 -> Avg
- Show, change colour fm ->red

![image](https://user-images.githubusercontent.com/35071867/78122772-800db400-740d-11ea-8a6b-9e57dbacf8e3.png)

Launch BigWarp, fm... moving

![image](https://user-images.githubusercontent.com/35071867/78122373-f4942300-740c-11ea-8357-662747451ad

[2020-04-01 09:45] martinschorb opened #114 "Save SpimDataset, default file path"
Hi,

could the default file path be inherited from the selected Source?

![image](https://user-images.githubusercontent.com/35071867/78123328-47220f00-740e-11ea-9ae6-2a620a85b652.png)

[2020-04-01 09:48] martinschorb commented on #114
Also, I cannot save these transformed sources :-(

[code]

[2020-04-01 16:19] NicoKiaru commented on #114
As discussed, the warped (=realtranstrom) transform cannot be saved easily in the current bdv file.

This would need a heavy refactoring to support this in the current SpimData format

[2020-04-03 18:47] constantinpape commented on #111
In the display settings, is the field `id` required?

[2020-04-04 17:39] NicoKiaru commented on #111
Yes, I think so, each ViewSetup should identify the display settings in a unique way, and at the moment it's linking ViewSetup display settings by joining `viewSetup.attributes.displaysettings` with `displaysettings.id`
For instance, if you look at at xml file, this `ViewSetup`:
[code]
Will be linked to this display settings, thanks to its id:
[code]

[2020-04-06 07:54] martinschorb commented on #113
Hi,

looking a bit deeper into BigStitcher's XML, I found a BoundingBoxes field at the end of the file. Is this BDV standard? Are there routines to show it directly from this? Or is this something specific to BigStitcher?

https://github.com/PreibischLab/BigStitcher/files/4370404/dataset.xml.zip

[2020-04-06 08:03] NicoKiaru commented on #113
[`SpimData2`](https://github.com/PreibischLab/multiview-reconstruction/blob/master/src/main/java/net/preibisch/mvrecon/fiji/spimdata/SpimData2.java) extends `Spimdata` in multiview-reconstruction (used in BigStitcher). I do not know if it's supporting elsewhere. I guess this was introduced to store properties not directly linked to Sources, but I don't know for sure.

[2020-04-06 08:05] martinschorb commented on #113
OK. I don't know if there's anything useful in it. Maybe we can adapt some functions though...

[2020-04-07 09:54] martinschorb opened #115 "Sequential affine transformations"
Hi,

In the xml, I can define multiple affine transformations:

[code]

Why is that one different from:

[code]

I would have assumed that the transformations would be applied sequentially/combined...

![image](https://user-images.githubusercontent.com/35071867/78655595-8943c880-78c6-11ea-9b45-d55027443acc.png)

[2020-04-07 09:56] tischi commented on #115
AffineTransforms do not commute!
Does it help if you change the order of them?

[2020-04-07 09:59] martinschorb commented on #115
Yes

[code]

works.

[2020-04-07 10:00] martinschorb commented on #115
Would you encourage to split the transformations into the individual components for readability?

Is there a performance difference in loading them sequentially versus just a single one?

I am just re-writing parts of my converter and like to do it properly...

[2020-04-07 10:05] martinschorb commented on #115
And BDV applies them from bottom to top, correct? Like the matrix multiplication will transform from right to left... Damn, I fell into this trap again...

[2020-04-07 10:08] NicoKiaru commented on #115
No. Clearly do not worry about that.

Who reads an xml file ? ;-) But at least splitting between a transform that sets the voxel size and then a transform which sets the positioning in 3D is useful I find.
In BigSticher, fi you have used it, the successive finer and finer registrations are stored as successive transforms like this. It's then easy to remove the last transform if your are not happy

[2020-04-07 11:25] NicoKiaru commented on #115
I don't know where is the exact description of what's happening, but maybe have a look of this comment : https://forum.image.sc/t/big-data-viewer-xml-affine-transform/20196/3

[2020-04-07 11:26] #115 closed, assigned to nobody

[2020-04-07 16:06] tischi opened #116 "Image Name Position"
@NicoKiaru @tpietzsch
Do you know a way to avoid the overlapping of the image name with the time point (as in below image)?

![image](https://user-images.githubusercontent.com/2157566/78692561-603d2b00-78fa-11ea-8e19-8b2e672f155a.png)

[2020-04-08 15:23] martinschorb opened #117 "average projector, linear interpolationartefacts at bounding box"
Hi,

I get dark bounding boxes for sources with projection mode average when applying the bdv linear interpolation.

![image](https://user-images.githubusercontent.com/35071867/78801955-90013700-79bd-11ea-9a45-70ea21b998e1.png)

The are not there with nearest-neighbour...

[2020-04-08 15:32] NicoKiaru commented on #117
@tischi do you think that can be solved ? I don't think so, but maybe you have a clever trick ?

[2020-04-09 10:01] martinschorb opened #118 "quick rotations"
Hi,

sometimes single sources are acquired with an extra +-90 degree rotation.
This is set entirely manually in the microscope and cannot be tracked in metadata.

To quickly adjust these wrong-oriented sources, something like ```RightClick->Rotate 90deg clockwise``` or ```rotate 180deg``` would be awesome.

[2020-04-15 08:25] martinschorb opened #119 "Web viewer"
Hi,

if anyone has bunch of time to spare, there is a successful ImageJ to JavaScript translation for web browsers done together with the Dresden folks...and @tischi was there as well...

https://chemapps.stolaf.edu/swingjs/examples.htm
https://chemapps.stolaf.edu/swingjs/imagej/demo2/TestJS-core.html

If we could translate our BDV, we would have a web viewer...

[2020-04-15 08:34] NicoKiaru commented on #119
Ouch, BDV to JS is wayyy out of scope of bdv-playground. But I've seen a number of progress towards JS/FIJI compatibility during the last hackathon in dresden. Maybe if @ctrueden has a bit of time, he can point towards some of the effort made for this ? But I think it's very early work discussed on gitter.

[2020-04-15 08:34] #119 closed, assigned to nobody

[2020-04-15 15:52] NicoKiaru commented on #77
Closing this, just reopen it if it occurs again, I hope the new UI and state solved it

[2020-04-16 11:03] NicoKiaru opened #122 "Manual registration : Bug with timepoint indexing"
The manual transform registration is applied to the previous timetpoint instead of the current one

[2020-04-16 11:06] NicoKiaru opened #123 "Improves defaults in orthoview command"
* Check Drawcrosses by default
* Check synchronize timepoints per default
* Avoid timepoints settings being ignored

[2020-04-17 10:25] martinschorb commented on #111
Is there an attribute for the projection modes available in ```displaysettings``` by now?

[2020-04-17 10:51] NicoKiaru commented on #111
Not yet! Will try to do this afternoon.

[2020-04-17 13:40] NicoKiaru commented on #111
Ok, done in the fiji update, let me know if some things are broken.

 see commit https://github.com/bigdataviewer/bigdataviewer-playground/commit/7411636a89c31edb5805f0bf34cda81d284f7300

For the record @tischi, I had to make a `Projection.PROJECTION_MODE_XML` attribute, because simply removing the space in "Projection Mode" to make a valid storable xml attribute broke the way the projector is wor

[2020-04-17 13:44] NicoKiaru opened #124 "Make the source order more consistent"
For instance when displayed in bdv, the source order is meaningless.

One could use the function wrote in https://github.com/BIOP/bigdataviewer-biop-tools/blob/29ae1aa0b728952b9ef04277a5e7831cd6dbbf51/src/main/java/ch/epfl/biop/scijava/command/BdvViewToImagePlusExportCommand.java#L313-L378

to have a bit of consistency.

[2020-04-17 13:46] NicoKiaru commented on #124
related to https://github.com/bigdataviewer/bigdataviewer-playground/issues/112

one would also need to make an action which would send a list of source to a group in the bdv window

[2020-04-17 14:07] martinschorb commented on #111
Hi,
is it also implemented for saving?
I tried to first save some sources to get the proper Values and Tags, but I don' t see it...

[code]
[displaysettings.zip](https://github.com/bigdataviewer/bigdataviewer-playground/files/4493397/displaysettings.zip)

[2020-04-17 14:08] martinschorb commented on #111
otherwise, what are the correct tags and property definitions to make it work I create an xml myself?

[2020-04-17 14:13] NicoKiaru commented on #111
Yes it's implemented for saving. Have you tried making a source in average mode and saving it ? It should be like:
[code]

[2020-04-17 14:19] martinschorb commented on #111
Hmm,
I don't get the Projection_Mode...
The file I attached above is in fact mixed sources to check if it saves that as well.

Ran the latest Fiji update. There was some confusion with old playground versions.

Seems to be solved now.
Thanks!!

[2020-04-17 14:22] martinschorb commented on #111
Hmm,

it seems not to take the Average in a mixed setting.
They are all "Sum"

[2020-04-17 14:24] martinschorb commented on #111
OK, even in the single source export. I get "Sum", although it is clearly "Average" in the viewer.

[2020-04-17 16:23] NicoKiaru commented on #111
Weird! Do you confirm you have the version 0.1.8 of bigdataviewer-playground?

I tried this and it worked:
[code]

I need to find a simple way to reproduce the issue

[2020-04-20 12:24] martinschorb commented on #111
Just tried again.

Fresh fiji update.
![image](https://user-images.githubusercontent.com/35071867/79751081-46481300-8312-11ea-930b-690bce1f9a6e.png)

Using these files:

[m_121.zip](https://github.com/bigdataviewer/bigdataviewer-playground/files/4503429/m_121.zip)

- set color of the fm to green
- set PMode of fm to ```sum```
- set PMode of m_121 to ```Average```

exporting gives:

[pmodes.zip](ht

[2020-04-20 15:22] NicoKiaru commented on #111
Ok, and just to make sure, if you modify the xml and set the projection mode to `Average` and reopen it, can you get the right projection ?

[2020-04-20 15:28] martinschorb commented on #111
confirm,
works after manually changing it.

[2020-04-20 15:29] NicoKiaru commented on #111
:+1:, I'll check the saving

[2020-04-21 07:27] martinschorb commented on #111
Hi,

now, that I tried creating the ```displaysettings``` myself, I get the following error when loading the sources.

[code]
with this file:

[code]

Can you spot what goes wrong??

[2020-04-21 09:20] constantinpape commented on #111
@martinschorb brought up in https://github.com/constantinpape/pybdv/issues/11 that this is probably caused by the fact that the field name `Displaysettings` is capitalized by `pybdv`, whereas the java consumer expects it to be lower case.

I chose to capitalize it, because this is in line with how the names for other attributes are stored in the original BDV xml spec, e.g. for `channel`:
[code]

@

[2020-04-21 11:03] NicoKiaru commented on #111
ok, then `DisplaySettings` ? This would fit with `ViewAttribute, ViewRegistration, etc.`

[2020-04-21 11:04] NicoKiaru commented on #111
No no, nothing's engraved now, there's no release, only @martinschorb could suffer ( sorry about that ;-)

[2020-04-21 11:05] NicoKiaru commented on #111
@constantinpape tell me : `Displaysettings` or `DisplaySettings` ? For me it's the same

[2020-04-21 11:08] constantinpape commented on #111
Ok, then please go with `Displaysettings` :)

(Yes `DisplaySettings` would be more consistent with `ViewSetup` etc., however it would introduce more complications: I am supporting to pass arbitrary attribute names now, but they must be lower case and will then be capitalized in the `Attributes` fields to be consistent with `channel` etc in big-data-viewer).

[2020-04-21 11:43] NicoKiaru commented on #70
Switch to new state and ui in https://github.com/bigdataviewer/bigdataviewer-playground/commit/3439fc9fd43550de69ed30c4886886f368b1e837

[2020-04-21 11:43] #70 closed, assigned to nobody

[2020-04-21 12:21] NicoKiaru commented on #111
RAAAAAAAAAaaaah ! This is super annoying, and I can't even know what's wrong...

Just ranting, please ignore

[2020-04-21 15:03] NicoKiaru commented on #111
Ok, done and pushed to the update site @martinschorb @constantinpape . If you have old xml files, you need to add manually the capital d in the Displaysettings tag.

The saving of the projection modes should also be fixed.

[2020-04-22 09:47] martinschorb commented on #111
Still...

[code]

with these files...

[m_121.zip](https://github.com/bigdataviewer/bigdataviewer-playground/files/4515291/m_121.zip)

what's wrong...?

[code]

[2020-04-22 09:52] martinschorb commented on #113
Hi,

have you looked into this? I would consider the scale bar **essential** for our publication. It will certainly be raised by reviewers. Also having an optional bounding box around selected sources (```rightClick->Show/hide Bounding Box```) would be high on my wish list.

[2020-04-22 09:55] martinschorb commented on #113
Also, I guess there should be some  useful code here for displaying things like bounding boxes and source names...

https://github.com/bigdataviewer/bigdataviewer-core/tree/c48ab1de3e7ae1b2a1adcb7f8149adff1d2cfb38/src/main/java/bdv/viewer/overlay

[2020-04-22 16:13] NicoKiaru commented on #111
The min and max attributes in `<Displaysettings>` are compulsory at the moment. A valid attribute should be:
[code]

How did you save this ? Directly in the playground ? Because here these arguments are lacking:
[code]
You'll need the isset flag also.

In the future I'll probably use json inside these xml tags , this will be wayy easier, also in python.

[2020-04-22 16:16] martinschorb commented on #111
@constantinpape : how complicated is it to check for these tags upon conversion?
Obviously, I can take care of providing this on my side, but I think the ```displaysettings``` is something pretty essential, so maybe it might be worth parsing it specifically and check if everything is there.

What do you think?

[2020-04-22 16:23] martinschorb commented on #111
@NicoKiaru: I was ommiting min and max, because this is somewhat redundant if inBDV you select the AutoContrast option.
One problem with setting it beforehand is that in my conversion I often just want to modify single parts of the metadata and don't even look at the data. For example when converting a large volume, I don't load the full volume into memory, so I have no access to the grey values.

[2020-04-22 16:36] constantinpape commented on #111
Ok, I can add some additional checks if the attribute name is `displaysettings`.
I think this makes sense and it's very easy to implement.

[2020-04-22 17:10] NicoKiaru commented on #111
But here, min and max are just for the display, and the data doesn't care about this, if you do not set them, by default (I mean before the existence of `Displaysettings`) the min will be 0 and max 65535, and it just doesn't care about the data (and it's usually not good). Of course you can rely on autocontrast, but that should not prevent you from setting defaults which make sense in most cases.

[2020-04-22 17:12] NicoKiaru commented on #111
@constantinpape

Are you familiar with json ? Because I think it would be a good idea to serialize the `Displaysettings` inside the xml tag. It's super easy, extensible, standard and is also easy to communicate between python and java.

[2020-04-22 17:16] constantinpape commented on #111
Sure, that's not a problem from my side, I can just use the `json.dumps` function in python to make sure we have valid json strings.

[2020-04-23 09:26] NicoKiaru commented on #113
I think all of this should go somewhere into some defaults and a config file. There are `Prefs` in Bdv, as @tischi mentioned. Yet that's in the todo

That's a new action. Should be done as well.

[2020-04-24 08:44] NicoKiaru opened #125 "add modularity in right click and bdv default keys and mouse movements"
posting the answer from @tpietzsch in gitter, in relation to bindings settings:

https://github.com/bigdataviewer/bigdataviewer-vistools/blob/master/src/test/java/bdv/util/InputConfigExample2.java
ui-behaviour has a nice config panel that @tinevez made
if you want to see how to use that in practice you should look at Mastodon https://github.com/mastodon-sc/mastodon
Screenshot 2020-04-24 at 10.24.0

[2020-04-24 15:20] martinschorb commented on #111
Cool,
got the ```displaysettings``` to work in my converter!

Now, I have another request for it:

I need something like "IgnoreAutoContrast". This should force BDV to use the ```min``` and ```max``` Values from the XML to display the source, even if other sources require the autocontrast.

This is extremely crucial when loading tiles from a montage as individual sources. Obviously, you want the c

[2020-04-24 15:25] NicoKiaru commented on #111
This is how it behaves if you do not check the autocontrast checkbox when displaying a source normally. Maybe I'm missing something.

And if you want to scale in B&C identically for all sources, you can select all the sources, right-click and select `Adjust Brightness Contrast` (I don't remember exactly the name). Then identical BC settings will be applied to all the sources you've selected. As it

[2020-04-24 15:33] martinschorb commented on #111
Hi:
let me explain it a bit more detailed:

- I have different datasets, some are created by my converter, some come from somewhere else, without providing any ```displaysettings```.

- Now, what the user does would be to check the ProjectionModes for these other sources

- Since all my datasets behave well (thanks to ```displaysettings```), this is not needed for them

- Now, for laziness, all so

[2020-04-27 14:23] NicoKiaru commented on #111
Hmm I see, but I don't think it's a good idea to disable autocontrast if there's a displaysettings present because there's no reason the displaysettings is the one you want  in general (it's not the case for me). Also of you resave the xml dataset, now there will be a displaysettings tag, and maybe the user will find this inconsistent and not know when autocontrast is supposed to work or not (I me

[2020-04-28 12:20] #102 closed, assigned to nobody

[2020-04-28 12:21] #62 closed, assigned to tischi

[2020-04-28 12:21] #59 closed, assigned to nobody

[2020-04-28 12:22] #63 closed, assigned to tischi

[2020-04-28 12:23] #112 closed, assigned to nobody

[2020-04-28 12:29] martinschorb commented on #63
You can work around it by "show"source and then adjust the view. It still does not become the active source yet. With the right-clicking (on the image) and the new scrollable UI, this is no longer a big problem.

[2020-04-28 12:29] martinschorb commented on #102
dealt with in new UI

[2020-04-28 12:30] martinschorb commented on #112
dealt with using ```displaysettings```

[2020-04-28 12:32] martinschorb commented on #77
One slightly annoying behaviour:

- it crashes when sources are deleted that are still shown in a BDV window.

Can you check this before deleting and then show a warning?

[2020-04-28 12:33] martinschorb commented on #59
dealt with in new UI and new "set Color" behaviour

[2020-04-28 12:35] NicoKiaru commented on #77
😄

Yep I will maintain this open because it's not nice.

[2020-04-28 12:35] NicoKiaru commented on #77
And the new UI and state didn't solve it, it's the tree UI in bdv playground which is the issue

[2020-04-30 07:46] martinschorb commented on #77
Hi,

I also noticed that deleting sources from BDV does not remove the data from memory.

- I delete all sources
- I cannot delete the h5 file, because ImageJ/Java is still accessing it
- I can however modify the h5 (weird..?) and write new stuff into it.
- When I then try to load the modified file, BDV crashes (full Java freeze), because it tries to read from the old structure that no longer exis

[2020-04-30 07:49] martinschorb commented on #77
Only fully closing Fiji releases the files btw...

[2020-05-08 09:58] martinschorb opened #126 "native BDV export broken"
Hi,

when I use the native BDV plugin and try "Export current Image as HDF5/XML", I run into:

[code]

Could it be that the Playground interferes with the core functionality here or is this a bug in the main BDV?

[2020-05-08 10:02] NicoKiaru commented on #126
Same issue as this one:

https://forum.image.sc/t/bigstitcher-update-breaks-bdv-export/36176

I'm using dependencies which are not into FIJI yet. This will be solved in FIJI's new release. I don't know when. But since we are not officially release, no need to fix this right now. It will be 'fixed on its own'.

[2020-05-08 10:04] martinschorb commented on #126
OK, Thanks!

I am playing around with Amira conversion and using BioFormats to go BDV-> Amira, looks good right now.

[2020-05-08 10:04] #126 closed, assigned to nobody

[2020-05-11 13:56] NicoKiaru commented on #125
Some progress made and merged in master branch, however it's not fully tested

[2020-05-11 13:59] NicoKiaru commented on #76
It's now possible to enable or disable scalebars with this Command:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/scijava/command/bdv/BdvSettingsCommand.java

Located in FIJI in `Bdv>Set Bindings`

[2020-05-11 13:59] #76 closed, assigned to nobody

[2020-05-13 13:04] martinschorb opened #128 "crash after set bindings"
Hi,

I tried to change some bindings and the window did not close when clicking OK.

Then I get massive amounts of these errors whenever the mouse moves inside the BDV window:
[code]

[2020-05-13 13:08] martinschorb opened #129 "Right-Click inside BDV image does no longer work"
Hi,

the right-click menu as shown in the sources list does no longer appear inside the BDV window.

[2020-05-13 13:20] martinschorb opened #130 "UI elements: consistency, naming, comments..."
Hi,

this issue is dedicated to feedback on UI elements. I try to work my way systematically through the menus ;-)

[2020-05-13 13:30] NicoKiaru commented on #128
Did you manage to fix it ? Normally there's a yaml file at the root of fiji, deleting it should restore the defaults

Yeah sorry, I pushed it a bit too early in the update site I think

[2020-05-13 13:31] martinschorb commented on #130
```Bdv```:
- can we agree on using BDV (all caps) whenever we use the abbreviation?

- ```Show Sources``` , ```Remove Sources from BDV```, ```Set Timepoints```, ```Show sources in multiple...```: The selector boxes all have the variable names as descriptors. This is confusing to the user. Can we unify this and call a selection of sources "Source(s)", a selection of BDV windows "BDV windows" instea

[2020-05-13 13:31] NicoKiaru commented on #129
Yes, you need to associate a binding to it - which is the action which is crashing ;-)

I'll fix it and restore the default context menu with the default right click

[2020-05-13 13:39] martinschorb opened #131 "Contrast inversion"
Is there an easy way to invert the contrast?

I could not manage with setting the min and max sliders to opposite values. It does some value flips and looks weird.

[2020-05-13 13:41] NicoKiaru commented on #130
If you are motivated, you're very welcome. But how familiar are you with java dev in an IDE, maven git and all this stuff ? Because that's a time consuming part.

For hints : all the scijava commands are located in subpackages of [sc.fiji.bdvpg.scijava.command](https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg/scijava/command)

If you look at the ort

[2020-05-13 13:45] NicoKiaru commented on #131
Yes, flipping min and max works with `RealLUTConverter` but not with the standard `ColorConverter`. This would indeed be an easy way to inverse the contrast, and I don't know the reason why it doesn't work. It's more a question for @tpietzsch , if he has some time.

[2020-05-13 13:46] martinschorb commented on #130
I was thinking of avoiding to go through all of this and simply update the ```labels``` directly in a git branch of the source. You could then simply merge it without interfering with your code changes and I wouldn't have to worry about the deployment.

[2020-05-13 13:51] NicoKiaru commented on #130
If you already have in mind how to do it, please do, no issue.

But otherwise we can plan an hour to put this in place in your computer. If the goal is clear, I think one hour is sufficient and then you can test easily and directly your modifications.

As you wish

[2020-05-13 14:06] martinschorb commented on #130
```Sources```:

- I would collect all sample sources in a single menu item. I guess these are valuable for development purposes, but the users won't need them regularly.

- ```Export``` ```Current View```. Wouldn't this be more of a ```Screenshot``` type activity that should appear under ```BDV```?

- Maybe all ```Export```options should be grouped into one sub-menu.

- ```Transform``` -> ```Cente

[2020-05-13 14:08] martinschorb commented on #130
```SpimDataset```:

- I know this is the technical name of a dataset, but as we now deal with very different types of microscopy, could we just call it "Dataset" instead everywhere in the UI?

- ```Open XML/HDF5 files``` I would just call it "Open BDV-XML File(s)" because we also support other data file formats (n5, tif, your slides...)

[2020-05-13 14:09] martinschorb commented on #130
Should I just start modifying some labels in a branch, or do you want to discuss general concepts first to decide on the precise naming of labels together?

[2020-05-13 14:41] martinschorb commented on #128
```bigdataviewer.properties```is what I found. Still ```OK```in the bindings has no effect and the window stays open.

[2020-05-13 15:08] NicoKiaru commented on #130
That's good to have for tutorials and scripting demos. Personally I'm always annoyed when there's nothing available on the spot to test a promising plugin. Sample sources in ImageJ1 is very useful for instance.

We could actually move them here, this requires to change the `menuPath` field in the `Command`. For instance:

`@Plugin(type = Command.class, menuPath = "File>Open Samples>Sample BDV Sour

[2020-05-13 15:12] NicoKiaru commented on #130
Yes, or rather `BDV Dataset` ? Dataset is too generic, this could create some confusions. Or another prefix or suffix.

That's right.

[2020-05-13 15:12] martinschorb opened #132 "Transform -> Center Source does not work in Z"
```Transform``` -> ```Center Source``` does not work in Z (moves edge to 0 instead of center)

[2020-05-13 15:13] martinschorb commented on #130
I like that!

[2020-05-13 15:26] NicoKiaru commented on #130
Please do as you think it's the most efficient for you. Personally I find more efficient if you propose something first, which looks fully consistent. Then we can test it and comment / amend. The downside is that we should not be afraid to modify several times the same thing.

My only two recommendations at this point would be:

* When you rename `Command` in the menu, try avoiding names which are

[2020-05-13 15:35] NicoKiaru commented on #128
There should be also by a `bdvkeyconfig.yaml`, but I'm not sure about the location

What you can try at the moment, is : make a `bdvkeyconfig.yaml` file from the text below:

[code]

Put:
* this file at the same level as `bigdataviewer.properties`
* create also a folder named `bdvpgsettings` at the same level.
* In the newly created folder `bdvpgsettings`, copy again the yaml file.

[2020-05-19 10:09] NicoKiaru commented on #77
Hi @martinschorb ,

Can you try to see if you have the same behaviour with a fresh Fiji and using the original BigDataViewer plugin ? If yes, that's something we need to report in bigdataviewer-core.

Thanks!

[2020-05-19 13:44] martinschorb commented on #77
I don't quite understand how I can add multiple source to "traditional" BDV. I had a thorough look. Also there is no option of deleting them...

[2020-05-19 14:21] NicoKiaru commented on #77
Sorry, just a single dataset. Just open it and close the window. Are the files released then ?

If the window is closed, the files should be released, but I fear they aren't released, even in such a simple case.

[2020-05-20 07:35] martinschorb commented on #77
Hi,

I did some testing...

- On Mac it looks like release is not important. (deleting works with both built-in BDV and Playground).

- On Windows, you are right. Even "normal" BDV does not release the file when you close the window.

[2020-05-20 07:38] NicoKiaru commented on #77
Good to know! That's something we need to mention in bdv-core. I'll post an issue

[2020-05-20 08:00] NicoKiaru commented on #77
https://github.com/bigdataviewer/bigdataviewer-core/issues/93

[2020-05-25 14:09] NicoKiaru commented on #129
That's reverted in the last fiji push, please reopen if there's still an issue

[2020-05-25 14:09] #129 closed, assigned to nobody

[2020-05-25 14:10] NicoKiaru commented on #128
Reverted for now

[2020-05-25 14:10] #128 closed, assigned to nobody

[2020-05-25 14:11] NicoKiaru commented on #118
There's an option now, but it's not accessible with a right click (see basic transformation). But my medium term goal would be to have a more flexible source editor for this sort of things

[2020-06-02 15:39] martinschorb opened #133 "remove source screws up average projection mode"
Hi,

when I delete a source that is part of the average mode, it screws up the contrast of the remaining sources.

Before:
https://ibb.co/zHGZnfK

After
https://ibb.co/q9fHJmk

[2020-06-02 15:54] martinschorb commented on #100
```,```and ```.```have the same step size as the mouse wheel.

I think it would be good to really have an ability for the user to select those. Otherwise, especially for datasets with a lot of 2D data, it can easily get a bit odd.

[2020-06-03 09:56] martinschorb commented on #130
Hi,

I found that the "All Sources" is gone from the source list.
I was always using that, because it was a way to easily provide me with the name of the ViewSetups (which has a meaning in my scenario).

Now it only shows the SpimDataN directories which makes it hard to find specific Sources.
Could you rename those directories by something meaningful?

Right now only ViewSetups have a "name" tag.

[2020-06-03 10:16] NicoKiaru commented on #130
I agree and this was useful -> I'll restore it

Yes we should. It's just not super easy to make it properly because there's no convenient place to name it. Your xml tag may be an option but I don't know how to do it yet.

[2020-06-03 12:08] NicoKiaru commented on #124
done in https://github.com/bigdataviewer/bigdataviewer-playground/commit/c42cd3aceba632daddc6dc80d9b2b9f1abdf3cca and https://github.com/bigdataviewer/bigdataviewer-playground/commit/0776ecf78543ba1c85e47379a2df10c5df24e2d3

[2020-06-03 12:08] #124 closed, assigned to nobody

[2020-06-03 12:09] NicoKiaru commented on #118
There's now an 'editor' mode if you press E (it's a toggle). You can then select the sources and apply the basic transformations to them.

[2020-06-03 12:09] #118 closed, assigned to nobody

[2020-06-03 12:10] NicoKiaru commented on #114
I'm closing this - saving the source in a more flexible manner should be done, but that's a big deal and will need another issue

[2020-06-03 12:10] #114 closed, assigned to nobody

[2020-06-05 11:59] martinschorb commented on #133
Hi,

there was a problem in contrast adjustment with these sources. Originally the type was signed int. This is not supported in BDV, correct?

[2020-06-05 13:11] NicoKiaru commented on #133
It's the 'standard' xml/hdf5 format which do not support signed int. ImgLib2 can deal with it (there are `IntType` and `UnsignedIntType`) , but at the moment you would have to write your own `ImageLoader` in order to open it.

[2020-06-05 13:15] martinschorb commented on #125
is the right click now completely disabled, or can I activate it somewhere?

[2020-06-05 13:16] NicoKiaru commented on #125
press 'E' then select sources then you can right click

I've put the novelties in https://gitter.im/bigdataviewer-playground/community

[2020-06-05 13:17] martinschorb commented on #130
Cool. Obviously the file name is a simple but good choice.

Right now it is displaying the full path though. Could you just use the file base name even without extension? I think this would be the ideal caption for it.

[2020-06-05 13:19] NicoKiaru commented on #130
I've made it simple for now, but that needs some improvements. Note that it also works for remote server. I can probably look for the last '/' caracter and remove what's before

[2020-06-05 13:23] martinschorb commented on #130
I found this...
**File.getName()**
[code]

[2020-06-05 13:32] NicoKiaru commented on #130
Yes! The little detail is that I'm dealing with a String only, and this string can be either a File Path or a URL, in case of a dataset present on a BigDataServer.

The line of code which sets the name is here : https://github.com/bigdataviewer/bigdataviewer-playground/blob/c65556107b7b0f03113f1e00a6a20b4eb9e30602/src/main/java/sc/fiji/bdvpg/spimdata/importer/SpimDataFromXmlImporter.java#L38

[2020-06-05 13:32] martinschorb commented on #125
Yes I saw it there. Now I tried it, cool stuff...!

[2020-06-05 13:36] martinschorb commented on #130
I see, also for the sample datasets, it reverts back to `SpimData`

I just created a local branch for renaming UI items. Shall we use `BDVDatasets` as general term instead of SpimData? Then this would be the first change I try to consistently put everywhere.

[2020-06-05 13:37] NicoKiaru commented on #130
BDVDataset or BDVDatasets ?

[2020-06-05 13:38] martinschorb commented on #130
One  BDVDataset. That's also how I would call the Menu

[2020-06-05 13:42] martinschorb commented on #130
Right here you do use a file object. So you could in this case really just use the `getName()`  instead (l.16) to get your `BDVDataset` caption.

[2020-06-05 13:43] martinschorb commented on #130
Hmm, OK I see. You need the absolute path to load the data...

[2020-06-05 13:47] NicoKiaru commented on #130
That's solvable. The way we deal with lacking properties of some object is to create a `Map<MyObject, Object>` to associate some data.

We needed a:
* `Map<SourceAndConverter, Object>`
* `Map<BdvHandle, Object>`

And we'll need a
* `Map<SpimData, Object>` which will be used to store the original data location, a custom name, and so on.

[2020-06-05 14:17] martinschorb commented on #130
@NicoKiaru
I cannot push my new branch, can you check the permissions.

[2020-06-05 14:19] NicoKiaru commented on #130
Yes, you should have received an invite now

[2020-06-05 14:23] martinschorb commented on #130
works, thanks!

[2020-06-08 12:43] martinschorb opened #134 "UI changes Questions..."
https://github.com/bigdataviewer/bigdataviewer-playground/blob/ui-renaming/src/main/java/sc/fiji/bdvpg/scijava/services/ui/SourceAndConverterServiceUI.java l.208

This filters for `"SpimData"`, I assume we need to change this once we updated this caption...

[2020-06-08 13:40] martinschorb commented on #130
OK, I think I have gone through the entire UI now, fixing obvious things.

If you like, you can check if I did some stupid mistakes and broke things (renamed variables by accident,...)

Otherwise, if you are OK with the updates, please merge.

[2020-06-18 11:34] martinschorb opened #136 "Average projection mode with sources across and within BDVDatasets"
Hi,

There is some fishy behaviour with the Average projection mode when combining datasets (BDVDatasets, aka SpimData) that are composed of overlapping tiles themselves.

Here's the scenario:

- one low-magnification overview image A (one BDVDataset)
- one higher magnification tiled image B inside the low-mag (one BDVDataset containing 2x2 tiles as individual sources).

The Average projector sums

[2020-06-30 14:24] martinschorb opened #137 "pyramidal TIF (single files) - hdf5 tile number limitation"
Hi,

I have single tif files that correspond to a resolution pyramid.
Is there a compatible reader to load those into BDV without conversion?

[2020-07-01 06:01] NicoKiaru commented on #137
Not directly to my knowledge. If it's something you plan to do regularly we could do a custom loader. Maybe ask on the forum otherwise ?

[2020-07-01 06:50] tischi commented on #137
It would be possible to create such a reader, but yes, ask on the forum, or @NicoKiaru we could ask for you in bdv-core gitter?

[2020-07-01 07:20] NicoKiaru commented on #137
sure

[2020-07-01 15:20] martinschorb commented on #137
Hi,

given the size of the files (rather small), I think it would be OK to convert. I only have the problem that there are more than 100 tiles. BDV HDF5 does not support this AFAIK.

@NicoKiaru do you happen to run into the limitation with your tiled images?

Would N5 support viewsetups with more than 2 digits?

[2020-07-06 15:33] NicoKiaru commented on #137
@martinschorb

I had to deal with more than a hundred tiles in bdv, not directly in xml hdf5, but there was no big issue. Bdv hdf5 CAN support these AFAIK. Did you encounter any trouble  in practice ?

[2020-07-06 16:04] martinschorb commented on #137
The BDV h5 structure only supports 2-digit `viewsetups`. I am using n5 now. works nicely...

[2020-07-07 06:33] NicoKiaru commented on #137
Super weird limitation! Ok, can you open n5 in bdv-playground ? If not it should be possible to make this work without too much pain.

[2020-07-10 13:50] martinschorb opened #138 "performance when opening many sources"
Hi,

I am loading ~100 sources and at some point the performance starts to drop significantly (5s to load a single 2kx2k 2d image).

Is this normal? I think file IO should be OK. I tred to copy from the same source directory in parallel and that was fast.

[2020-07-10 13:53] NicoKiaru commented on #138
By loading, do you mean showing all sources together in a bdv window or just opening them in the 'tree view' ?

[2020-07-10 13:55] martinschorb commented on #138
Hi,

just putting them in the tree.

In fact, I think it just started to completely freeze while doing so.

[2020-07-10 13:56] martinschorb commented on #138
In total it is 260 individual XML/H5 pairs. Most of them are rather small (6MB) single tiles.

[2020-07-10 13:58] NicoKiaru commented on #138
ok, so it's not related to the size of the image - but rather to the way this tree view is made and updated. Everything's up to date on your fiji ?  because the version ~ 1 month ago was not dealing well with a big amount of sources

[2020-07-10 13:59] martinschorb commented on #138
The UI now is extremely lacking behind. Even scrolling the list takes seconds to refresh. Utilizes one full core to 100% and 3.5GB of RAM.

[2020-07-10 14:00] martinschorb commented on #138
no updates shown. Have there been any in the last 2 weeks?

[2020-07-10 14:03] NicoKiaru commented on #138
No that's lagging even with the update. I can reproduce this easily

[2020-07-10 14:05] NicoKiaru commented on #138
ok, as a workaround there are ways to bundle many xml/hdf5  together in a single one but for the moment this is difficult to solve.

[2020-07-10 14:34] tischi commented on #138
@NicoKiaru do you already know whether it is the `TreeView` or something else, e.g. inside BDV, that causes the slow down?

[2020-07-10 14:48] NicoKiaru commented on #138
I checked and yes it's the treeview update called each time a source is append to it:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/4777bc821b1f67eaa6fde41ac73e38d6b0cdb457/src/main/java/sc/fiji/bdvpg/scijava/services/SourceAndConverterService.java#L197

https://github.com/bigdataviewer/bigdataviewer-playground/blob/4777bc821b1f67eaa6fde41ac73e38d6b0cdb457/src/main/java/sc/fiji/b

[2020-07-10 14:53] tischi commented on #138
Maybe there should be an option for the user to load many sources in one go (maybe there is already?) and then you `ui.update(List<sac>)` all in one go?

...and is `ui.update()` `synchronized`? otherwise you may run into concurrency issues, maybe explaining the freezing.

[2020-07-10 15:11] NicoKiaru commented on #138
The update on sources list may be the way to go. I don't know if this will be enough to resolve the performance issue but that's something needed I agree.

Regarding concurrency issues - which are independent of this performance issue I believe:

Using synchronized, I can try, but I don't know if it's a method which should be synchronized or rather that we should make a synchronized block with the

[2020-07-10 15:53] tischi commented on #138
I had another idea: inside the `ui.update(sac)` method: you just add the sac to a List "toBeUpdated" and trigger a countdown (say 100ms). If within those 100ms the `ui.update(sac)` the method is _not_ called another time, you update the Tree UI. If it _is_ called another time you add the next sac also to the list and reset the countdown. Like this, sacs that are added fast after each other would o

[2020-07-12 17:08] tischi commented on #138
...commenting on my own comments above: this of course only makes sense if the issue only occurs when **adding several sources at a time**. But reading @martinschorb's issue again I guess we also have a problem **just adding one source** to many, right? This sounds like this issue: https://stackoverflow.com/questions/2591735/swing-what-to-do-when-a-jtree-update-takes-too-long-and-freezes-other-gui

[2020-07-12 21:34] NicoKiaru commented on #138
Turns out : a stupid `System.out.println` was causing a very very important perf loss.

I can now open a 100 SpimData in the ui in a few seconds. Not terrible but that's way way better than before. Also I think I may have solved the concurrency issue in the tree viewer + the selection of sources which also had a performance issue (the rectangle drawing was called using paint instead of repaint).

[2020-07-12 22:42] NicoKiaru commented on #138
I've added some additional perf improvement (calling the reload model  if necessary once every 100 ms) a bit like what you proposed @tischer . FIngers crossed it's not causing another issue. With that I can open 500 xml/hdf5 file in 17s. Let's see if that suits you @martinschorb . I'll try to push to the update site tomorrow evening.

[2020-07-13 13:38] martinschorb opened #139 "edit mode -> selection in BDV UI"
Hi,

I would like to select a bunch of sources and then based on this have them selected in the (new) BDV UI as well (for grouping, adjusting contrast etc. ). So far I can only hide/show them.

[2020-07-13 14:20] martinschorb commented on #137
Hi,

n5 works. It is just slow, because it needs to do a lot of small file IO with the default chunk size of 64. For 2D tiles hdf5 would be definitely the better format.

How tricky is the reader code to make it support more than 2 digit viewsetup IDs?

[2020-07-13 14:29] martinschorb commented on #137
It is really slow, even with 10x (2D) bigger chunk sizes. takes multiple seconds to read in ~25 tiles. (60k files, total 170MB).

[2020-07-13 14:42] NicoKiaru commented on #137
Who, abysmal. But are you sure the tiles are 640x640x1 and not 640x640x640 ?

Indeed I noticed that for 2D n5 was not good

[2020-07-13 15:30] martinschorb opened #140 "edit mode and group mode kill each other"
Hi,

The BDV window gets locked up and reacts only very delayed when I change between edit mode and group view.

[2020-07-13 16:11] NicoKiaru commented on #140
thanks for noting this.

The group mode is kind of messed up. I hope that https://github.com/bigdataviewer/bigdataviewer-core/pull/99 solves it. I have to try

The edit mode also had an independent issue which I adressed yesterday but did not push to the update site yet.

[2020-07-16 09:41] martinschorb commented on #137
It looks like chunks of 300kB to 800kB seem to be OK for N5. For 2D this means way larger chunks than default. (512x512, or 768x768)

[2020-07-16 09:42] martinschorb commented on #138
Hi,

for me, the update site has not changed yet. Is it already there, so I can test a bit more?

[2020-07-16 10:04] NicoKiaru commented on #138
Yep sorry, too much stuff to do. I'll try to push before 13h

[2020-07-16 10:11] NicoKiaru commented on #137
OK ? Or faster than hdf5 or in the same range ? I'd be really interested to know.

[2020-07-16 10:42] NicoKiaru commented on #138
OK, done @martinschorb try it and let me know. Side note : in theory you can drag and drop xml files in the tree view, but I did not test again this functionality.

+ I had to uninstall bdv-playground , restart fiji, then reinstall bdv-playground in order to see the update. I hope it was well updated

[2020-07-20 15:01] martinschorb commented on #138
Hi,

This helped!
Now it fills the list like a charm...

[2020-07-20 15:01] #138 closed, assigned to nobody

[2020-07-20 15:13] martinschorb opened #141 "Caching vs. full lazy loading"
Hi,

BDV has a slightly annoying behaviour, I was wondering if this is a general appearance and due to its design or maybe something is wrong in our implementation:

- I browse a volume
- I zoom in to a particular region of interest
- BDV loads this slice in high-resolution (first the downsampled data, then progressively higher until what's needed)
- I move in the volume (1 slice further up/down)

[2020-07-20 15:17] martinschorb commented on #141
I just tested it with MoBIE and it seems much smoother. Are there some parameters that determine to what extent it is caching data? @tischi Do you use some tricks to make the browsing smooth?

[2020-07-20 15:18] NicoKiaru commented on #141
But with MoBie it's with n5 ? or hdf5 ?
We could do a zoom session, I'll contact you via email

[2020-07-20 15:20] martinschorb commented on #141
Or could it be because of the downsampling factors? I do not downsample in `Z`, only `X` and `Y`...

[2020-07-20 16:06] martinschorb commented on #141
Nailed it down to be due to looping through all sources for each pixel, even the ones outside the BoundingBox

[2020-07-20 16:14] martinschorb opened #142 "Extract transform from warped source and turn into transformed source"
Hi,

BigWarp creates warped sources. In order to properly integrate them into a BDV world, it would be amazing if the warping (if nothing more than affine transforms) to turn the warped source into a transformed source.

[2020-07-20 16:16] martinschorb opened #143 "Edit mode -> open selection in new BDV window"
Hi,

could you add a right click in edit mode that opens a selection of sources to a new BDV window?

[2020-07-20 16:20] NicoKiaru commented on #143
You're opening issues faster than light, or you can travel through time, I'm still not sure...

[2020-07-21 05:59] tischi commented on #141
In general, there is caching!
There are settings for it, it could be that with many sources something goes "wrong".

1. How many sources do you have?
1. How did you determine that it is "due to looping through all sources for each pixel, even the ones outside the BoundingBox"

Yes, I think so. I do not think there is any "smart pre-fetching".

[2020-07-21 07:39] tischi commented on #141
...and does this also have if you use the "Sum projector" instead of the "Mixed projector"?

[2020-07-21 07:40] tischi opened #144 "Does not compile"
@NicoKiaru

I just did a git pull and am getting errors:

![image](https://user-images.githubusercontent.com/2157566/88026438-28b75f00-cb36-11ea-8546-41bb17ae6c6e.png)

Any idea why?

[2020-07-21 09:36] NicoKiaru commented on #144
Hi Tischi,

We can have a look, I suspect it's because of the extra dependency : https://github.com/NicoKiaru/bigdataviewer-selector

[2020-07-22 14:58] martinschorb commented on #141
Hi,
it is also rather slow in a pure "Sum" BDV Window.

[2020-07-22 18:26] NicoKiaru commented on #144
"custom" dependencies removed

[2020-07-22 18:26] #144 closed, assigned to nobody

[2020-07-28 10:06] martinschorb opened #145 "problem with n5"
Hi,

I have a tile dataset stored as n5. When I load it in original BDV or BigStitcher it works (left two viewers). BDV-PG locks up when showing the sources and then only gives a black output, regardless of the contrast settings.

![image](https://user-images.githubusercontent.com/35071867/88652147-b6f98b00-d0ca-11ea-9a13-e409673d5723.png)

Data:
https://oc.embl.de/index.php/s/MWtCcWwtzWPUFMh

[2020-08-10 11:21] NicoKiaru commented on #145
I look. Just FYi unzipping n5 is horribly slow.

[2020-08-10 12:20] NicoKiaru commented on #145
Ok, it works in the IDE. I've updated the dependencies so maybe that solved this issue. I'll push to the update site and let you know.

[2020-08-10 12:57] NicoKiaru commented on #145
Ok, done, pushed to the update site and it works on windows, even if there's an error message regarding blosc, it works.

Please reopen if you still have an issue @martinschorb .

[2020-08-10 12:57] #145 closed, assigned to nobody

[2020-08-13 14:56] martinschorb opened #146 "Edit mode delete sources"
HI,

I selected a few sources in edit mode and then did rightclick->Delete Sources

[code]

[2020-08-13 14:59] NicoKiaru commented on #146
Yes it's because of this (now resolved) issue : https://github.com/bigdataviewer/bigdataviewer-vistools/issues/46#event-3643680066

I need to push again to the update site

[2020-08-13 14:59] NicoKiaru commented on #146
So edit more broken for now...

[2020-08-13 14:59] martinschorb commented on #146
when I then trty to close the BDV window:

[code]

[2020-08-13 15:00] martinschorb commented on #146
OK, then I wait for the push...

[2020-08-13 15:00] martinschorb commented on #146
n5 looks good now

[2020-08-13 15:01] NicoKiaru commented on #146
I'll push in a minute

[2020-08-13 15:12] NicoKiaru commented on #146
Ok,should work now, please repoen if necessary

[2020-08-13 15:12] #146 closed, assigned to nobody

[2020-09-10 19:09] NicoKiaru commented on #141
Recent commit should improve significantly this behaviour : when you are zoomed enough to have only a few sources visible, then only these ones are used in the projector, leading to a significant speed up. So : having many sources in a single view is slow, but as soon as you zoom in, it's much faster. For correlative stuff, it should be great.

[2020-09-10 19:09] #141 closed, assigned to nobody

[2020-09-17 12:59] ssgpers opened #147 "Timepoint index arguments when exporting SpimData to XML/HDF5"
@NicoKiaru @tischi

I aim to export my SpimData into xml/HDF5 using this class

https://github.com/bigdataviewer/bigdataviewer-playground/blob/35b1b7bde92367c30b3bdcf2af421450120436d4/src/main/java/sc/fiji/bdvpg/sourceandconverter/exporter/XmlHDF5SpimdataExporter.java#L74

In my current dataset there are no timepoints specified, so I expected `timepointBegin` and `timepointEnd` have to be equal to

[2020-09-17 13:22] NicoKiaru commented on #147
Hi @ssgpers ,

Currently the convention is to exclude the last timepoint, and the indexing is 0-based. So that's why the settings should be 0 and 1 to export the only timepoint, of index 0. We should make this clear in the labels of the command.

This convention may not be the best, but it's commonly used in java and python (contrary to matlab : 1-based), so I'm not sure I want to change it. But w

[2020-09-17 13:32] tischi commented on #147
@NicoKiaru

I do not find it intuitive like it is. Since this timepoints must be consecutive, what about:

[code]

Then it would be 0 and 1 to only export time point 0.

[2020-09-17 13:34] NicoKiaru commented on #147
Nice!

[2020-09-17 14:24] ssgpers commented on #147
@NicoKiaru
Thanks a lot! for clarification
Yes, new labels make sense.
If possible I would suggest to update the names of function arguments or simply add clarifying javadoc comment in the code

[2020-09-20 18:27] ssgpers opened #148 "Getting error in Fiji when activating the update site"
When activating this update site and restarting Fiji, always get the error shown in the screenshot

![image](https://user-images.githubusercontent.com/6419504/93718942-aa9c2680-fb7f-11ea-93b4-1b3e72d616fa.png)

[2020-09-20 18:30] NicoKiaru commented on #148
Hi!

Have you tried on a new-fully fresh installed and updated version of FIJI ?

Just to make sure the issue is not due to another update site ...

[2020-09-20 18:39] ssgpers commented on #148
Hi @NicoKiaru,

I have just tried it. When getting the fresh Fiji, problem still exists.

Noticed also, that when I downgrade bigdataviewer-playground.jar manually to 0.2.0, the problem disappears. It also removes errors when using  `XmlHDF5SpimdataExporter(dataSourceAndConverters,4,0,1,4,64,64,64,File(bdvDataFolderFile,'sourcesData.xml')).run()` (for whatever reason this code stopped working toda

[2020-09-20 18:50] NicoKiaru commented on #148
Ok, so a big update is almost ready: I'll speed it up and release it tomorrow.

I'll double check that the exporter work on FIJI (it is working in the IDE)

I'll let you know on this thread, but I think it's not worth digging on the old version.

[2020-09-20 18:51] ssgpers commented on #148
@NicoKiaru

Thanks a lot for the fast reply! looking forward for the updated version.

[2020-09-21 09:27] tischi opened #149 "Bigwarp dependency"
@NicoKiaru
Where can I get this file?
[code]
I can compile myself, just need the repo.

[2020-09-21 11:50] tischi commented on #149
found it, it is just bigwarp.

[2020-09-21 11:50] #149 closed, assigned to nobody

[2020-09-21 13:46] NicoKiaru commented on #148
Done, let me know if everything's ok and please re-open if the issue is not solved

[2020-09-21 13:46] #148 closed, assigned to nobody

[2020-09-21 13:47] NicoKiaru commented on #143
Done in the new update site from today

[2020-09-21 13:47] #143 closed, assigned to nobody

[2020-09-21 13:48] NicoKiaru commented on #134
I'm not sure, where they are still `SpimData`object ?

Please reopen if I missed something - also the link is outdated

[2020-09-21 13:48] #134 closed, assigned to nobody

[2020-09-21 13:49] NicoKiaru commented on #133
Hi @martinschorb,

can you confirm if the issue is still there with the new update ?

[2020-09-21 13:50] NicoKiaru commented on #147
I didn't modify this yet, sorry. Next time!

[2020-09-21 14:36] NicoKiaru commented on #149
it's on the update site or it can be recompiled from the bdv-core-10 branch of BigWarp

[2020-09-21 14:55] martinschorb commented on #133
Looks good!

[2020-09-21 14:55] #133 closed, assigned to nobody

[2020-09-22 06:51] ssgpers commented on #148
@NicoKiaru Thanks a lot! it works now without problems.

[2020-10-01 14:16] NicoKiaru opened #150 "Memory leak on ManualTransformCommand"
If the manual transform command is used, it looks like some references to the SourceAndConverter are never released.

This may happen with other commands which are using windows to get a user feedback.

Needs Visual VM + Eclipse MAT investigation. A first check leads to an obscure GC root, but the ManualTransformCommand was involved

[2020-10-09 12:45] SebastienTs opened #151 "BigStitcher broken"
Hi guys,

Sound project but when I install this plugin it breaks BigStitcher with this error message:

Fetcher-0
Fetcher-0
[ERROR] Module threw error
java.lang.NoSuchMethodError: bdv.viewer.ViewerPanel.getDisplay()Lnet/imglib2/ui/InteractiveDisplayCanvasComponent;
	at net.preibisch.mvrecon.fiji.spimdata.explorer.popup.BDVPopup.initTransform(BDVPopup.java:341)
	at net.preibisch.stitcher.gui.popup.B

[2020-10-09 13:20] NicoKiaru commented on #151
Yep, unfortunately it cannot work with BigStitcher right now because this project uses a more recent version of `bigdataviewer-core`.

There are 2 draft PRs open for BigStitcher (https://github.com/PreibischLab/BigStitcher/pull/79) and multiview reconstruction (https://github.com/PreibischLab/multiview-reconstruction/pull/30) in order to get the same version of `bigdataviewer-core`.

FYI the reaso

[2020-10-09 13:26] SebastienTs commented on #151
Ok, good that you acknowledge it!
It took me a good while to understand that it broke BigStitcher, isn't it
possible to detect this conflict and throw a warning when installing your
plugin?

On Fri, Oct 9, 2020, 15:21 NicoKiaru <notifications@github.com> wrote:

[2020-10-09 14:22] NicoKiaru commented on #151
Right! Let's make this clear ;-)

I modified readme.md

[2020-10-09 14:22] #151 closed, assigned to nobody

[2020-10-09 14:23] NicoKiaru commented on #151
For the release version, we'll be careful about compatibility, but for now, we just put an unstable state warning

[2020-10-26 14:12] tischi opened #152 "Version issue?"
@NicoKiaru

I am getting this error:

[code]

Maybe I need to have a specific bdv-core version?

[2020-10-26 14:15] tischi commented on #152
I changed to version of bdv-core `10.0.2` but now I am getting:

[code]

[2020-10-26 14:28] NicoKiaru commented on #152
Hi @tischi,

Yes, bdv-core 10.0.2 breaks quite a few things in the transform handler. If you're lucky it's not big changes. At this point there's no turning back in bdv-playground, because of no time. I'll make the effort of reverting for bdv-bioformats and remove the dependency to bdv-playground.

There's a small discussion in gitter regarding this API modification in bdv-core

[2020-10-26 14:34] tischi commented on #152
Does it mean I should try to change the code in bdv-playground to fix this?
If so, should I just develop against `0.2.6-SNAPSHOT`?

[2020-10-26 14:41] tischi commented on #152
Actually, the test in bdv-playground are working...

Maybe it is another issue? Maybe wrong bdv-vistools dependency...!?

[2020-10-26 14:43] tischi commented on #152
Ok, this combination works

[code]

[2020-10-26 14:43] #152 closed, assigned to nobody

[2020-10-26 16:21] tischi opened #153 "Zoom to source"
@NicoKiaru @martinschorb

Didn't we have a "zoom to source" menu entry at some point?

It is very useful if there are many source to zoom onto one.

![image](https://user-images.githubusercontent.com/2157566/97198835-91eee400-17af-11eb-84af-920489de46db.png)

[2020-10-26 16:22] tischi opened #154 "Source name ending on null"
@NicoKiaru

Do you know why this file got the extension `-null` added? I opened it with bdv-bioformats....

![image](https://user-images.githubusercontent.com/2157566/97198995-ca8ebd80-17af-11eb-9401-c8017b1947ce.png)

[2020-10-26 16:42] NicoKiaru commented on #154
I think it's somewhere in `bigdataviewer-bioformats` when there's no channel name. But I can't find atm where this is set

[2020-10-26 16:43] NicoKiaru commented on #153
The workaround is 'show sources' then keep in check 'adjust view on source'

[2020-10-26 16:52] tischi commented on #153
That works! Should I leave the issue open? I think for non-expert users we may want to discuss whether to add a specific menu item for this?!

[2020-10-26 17:01] NicoKiaru commented on #153
Yep, let it open.

[2020-10-30 20:45] tischi opened #155 "Source grouping"
@NicoKiaru

Do we support the grouping of sources in terms of displaySettings? I know that bdv supports it, but do we have something in the playground that I should use?

Use case: think of a multi-well plate experiment where I want to link the display settings of all GFP images in all wells.

[2020-10-31 11:14] NicoKiaru commented on #155
There are many ways you can group sources, we need to have a small zoom session on this.

The 'tree view' is actually nodes which can be duplicated and combined. Each node is a filter for source based on a certain property.

By combining nodes you can easily select 'all sources of a certain file with a certain channel'.

[2020-11-02 14:34] tischi commented on #155
I wanted to take this week off (at least from Zoom).
Could you maybe point me to a way how to do this programmatically? Ideally such that it also is reflected in the "normal new UI" of BDV? I don't want to do it with any UI at this point.

[2020-11-02 16:00] Pa3cia07 commented on #122
Hi, I´m  interested in your project, but I am new one in open source. Could you get me some hint how run your project, please?

[2020-11-02 16:30] tischi opened #156 "Instantiate a Bdv in 2D"
@NicoKiaru

Is there a way to do this asking for a BDV in 2D mode?

[code]

What about adding a parameters to below method in` SourceAndConverterBdvDisplayService`?
Such that one can specific whether it is 2D and the other options as well?

[code]

[2020-11-02 18:14] NicoKiaru commented on #155
Based on which criteria woud you like to make a group ?

Then what sort of action would you like to do with this group ?

Why isn't a `List<SourceAndConverter>` enough ?

Otherwise to put Source as groups from a BdvHandle you have this for instance:
[code]

[2020-11-02 18:27] NicoKiaru commented on #156
`getActiveBdv` returns the last Bdv Window selected by a user, so it's already 2D or 3D.

`getNewBdv` could be improved, but it's not my priority right now. I think that to make it right, one would need to set a lot of options, being able to configure the set of actions accessible on the right click panel, whether you want an editor mode, what are the key bindings, if it's 2d, 3d, the projector...

[2020-11-02 22:33] tischi opened #158 "Show Playground UI"
@NicoKiaru
Currently the Playground Sources TreeView is already shown (in IntelliJ) when one shows the ImageJ UI, that is when executing this code and having the Playground on the class-path:

[code]

Could we change this such that is more controllable, such that the user/developer could choose whether the Playground's Sources TreeView is shown or not? Or maybe the TreeView is only shown once the

[2020-11-02 22:34] tischi commented on #156
ok! let's wait then!

[2020-11-02 22:47] NicoKiaru commented on #158
Done in commit https://github.com/bigdataviewer/bigdataviewer-playground/commit/033d322c628721b8c3e000b5cdac8820286e2fa9

Also there's a COmmand to force show the UI

[2020-11-03 09:34] tischi commented on #158
Cool!

[2020-11-03 09:34] #158 closed, assigned to nobody

[2020-11-03 13:40] tischi opened #160 "Sources at a given position"
@NicoKiaru

Given all the advancements with only rendering sources that are visible in the current field of view, are there now maybe methods that would allow us to improve this?

[code]

Something that does not rely on the `Converter` would be good I think, because we cannot (should not) control which converters people may use. Is there something we can do (and that would also work with the warpe

[2020-11-03 14:25] NicoKiaru commented on #160
Difficult!

The advancement in the rendering only works nicely with non-warped source. If we want to make this works with warped source, then I'm not source we can do better than relying on converters.

Now I think this particular method is not really used anymore. The editor mode accessible with the E key is amuch better way to select a subset of sources

[2020-11-03 15:13] tischi commented on #160
1. Could we make a `if ( source instanceof WarpedSource )` distinction and only then use the converter, but otherwise the other approach
2. Where could I find code for the other (rendering based) approach?

I would need programmatic access a method `getSourcesAtPosition( xyzt )`. Is there such a method available or could you point me to code that would enable me to write one?

[2020-11-03 19:05] NicoKiaru commented on #160
Hard. Because if it is a TransformedSource, it can be a TransformedSource from a WarpedSource or a TransformedSource of a SpimSource, or a TransformedSource of a TransformedSource...

Do you mean the fact that Sources outside of the screen are ignored ? I think it ressembles what we discussed when we wanted to modify the Projector.

Ah. I don't know if such method exists for now.

[2020-11-03 20:12] tischi commented on #160
But for your bdv-selector, don't you have something like this?

Otherwise I'll make a PR adding a method that I am typically using, where I check whether the calibrated position, if converted to the source's voxel units is within the source's interval.

[2020-11-03 20:32] tischi commented on #160
...ok, I had a look in the [bdv-selector](https://github.com/NicoKiaru/bigdataviewer-selector/blob/4d6b615a24b93cbffe3510af3227e04fd0fdd217/src/main/java/ch/epfl/biop/bdv/select/SourceSelectorOverlay.java#L137), I think something like this would work, but maybe it's an overkill for just checking whether a single point intersects with a source. As mentioned above, I'll make a PR with some simpler m

[2020-11-04 12:29] tischi opened #161 "Label masks as boundaries"
@NicoKiaru
Didn't you have some code to convert a source into another source that only shows the boundary pixels?
I have own code using a `Converter< Neighborhood< R >, R >`, which works but is somehow very slow (at least the way I am using it right now).

[2020-11-04 12:31] NicoKiaru commented on #161
I have this gist in groovy:

https://gist.github.com/NicoKiaru/a97ede35381626c01d09cc8ea36881f3

[2020-11-04 12:54] #161 closed, assigned to nobody

[2020-11-07 09:41] tischi opened #163 "User interface"
@NicoKiaru

Currently we have

![image](https://user-images.githubusercontent.com/2157566/98437781-5de7bd00-20e5-11eb-93d6-38c8a6b46a85.png)

----

In order to stick to the general conventions in Fiji I would suggest to move this to (either):

1. Plugins > BigDataViewer > Playground > ...
1. Plugins > BigDataViewer-Playground > ...

I actually think (1) would be even nicer in terms of making the p

[2020-11-07 13:09] NicoKiaru commented on #163
I vote for 2. too!

This should be a one line change here:
https://github.com/bigdataviewer/bigdataviewer-playground/blob/f48d5617abfeff8cd44128a6ac48ac790772f59e/src/main/java/sc/fiji/bdvpg/scijava/ScijavaBdvDefaults.java#L32

[2020-11-07 15:19] tischi commented on #163
which one? I was voting for 1. 😄
[code]

[2020-11-07 15:29] NicoKiaru commented on #163
Indeed. Option 1. Sorry too many choices ;-)

[2020-11-07 16:44] tischi commented on #163
Awesome! Will you just do it?

[2020-11-07 16:45] NicoKiaru commented on #163
Yep, quarantine's good for this stuff. I'll do it this evening.

[2020-11-07 18:33] NicoKiaru commented on #163
Done in https://github.com/bigdataviewer/bigdataviewer-playground/commit/27963ccac2facb42326655b1bac7068a5163a16e

[2020-11-07 18:33] #163 closed, assigned to nobody

[2020-11-07 18:34] NicoKiaru commented on #154
Closing because it's been discussed and solved in bdv-bioformats

[2020-11-07 18:34] #154 closed, assigned to nobody

[2020-11-14 08:52] martinschorb opened #164 "Open XML/H5 broken in current plugin release"
Hi,

in either Windows or Mac,  we can no longer open XML/h5.

The sources list simply does not appear.

[2020-11-14 09:44] NicoKiaru commented on #164
Weird! Two things to try :

- If the window with the tree view is not visible : BigDataViewer > Show Bdv Playground Window
- Then, after opening xml / hdf5, try to double click the root node `Sources` in the tree view. If you only see:
![image](https://user-images.githubusercontent.com/20223054/99144456-5afd4700-2666-11eb-9a9a-81dc65be034a.png)
THen there's an issue

[2020-11-16 13:59] giuliamizzon commented on #164
Hi Nico and Martin, thanks for the instructions! It worked both on Mac and Windows.
Now the BDV Sources window appears directly upon launching Fiji and it updates when opening the files.
Cheers, Giulia

[2020-11-16 14:04] #164 closed, assigned to nobody

[2020-11-16 16:40] tischi commented on #155
I am playing with the source grouping and checking/unchecking the groups does not do anything for me:
![image](https://user-images.githubusercontent.com/2157566/99281441-ca279680-2832-11eb-8bc0-1cdfc8f5f3d8.png)
I would expect it renders the sources in the group visible / invisible?
Did you ever try this?

[2020-11-16 16:50] NicoKiaru commented on #155
Depends if you're in group mode or not. The group mode behaves weirdly in conjunction with the commands that can be activated with the tree view

[2020-11-16 16:56] tischi commented on #155
Do you happen to know:

1. How could I turn on the group mode programmatically?
2. Below code looks quite good to me (I debugged into everything and it seems fine). However, I cannot see the groups in the BDV UI. Do you have any idea what I am missing?

[code]

[2020-11-16 17:28] NicoKiaru commented on #155
I tried quickly but couldn't find a solution. I'm not sure I will use the groups anymore anyway so not sure I'll investigate

[2020-11-27 18:53] tischi opened #165 "Add source and converter via BdvFunctions"
Maybe we/you did know that but I forgot about it.
Basically, I think I just now realised that one could always add a `SourceAndConverter` to bdv 😄
[code]
You can close this as this is not really an issue, I just wanted to let you know!

[2020-12-04 14:29] tischi opened #166 "Mastodon dependency?"
@NicoKiaru
![image](https://user-images.githubusercontent.com/2157566/101175434-7647ea80-3645-11eb-9a60-f6196f02e5b0.png)
Any ideas?

[2020-12-04 14:35] NicoKiaru commented on #166
Yes that's for overriding the default bindings in bdv playground.

Some utils to do this are currently in mastodon, but I think they are supposed to move in another repo.
Pinging @tinevez

Related : https://github.com/bigdataviewer/bigdataviewer-playground/issues/125

[2020-12-04 14:41] tischi commented on #166
What do you mean by "bindings"?

There is so much useful stuff in mastodon, it is amazing ;-)

[2020-12-04 15:08] NicoKiaru commented on #166
key bindings: which key triggers which action (like the arrows to rotate, etc.)

Part if what I did is in there : https://github.com/bigdataviewer/bigdataviewer-playground/tree/master/src/main/java/sc/fiji/bdvpg/bdv/config

[2020-12-04 17:06] tischi commented on #166
OK! Thanks!
As you know, for this https://github.com/tischi/segmentation-annotator I am using bdv-pl as a core library without any of its UI, so I guess for this the mastodon dependency is not required, is it?

[2020-12-05 11:24] NicoKiaru commented on #166
Cool! I didn't know.

I think it's still required. Of course removing the mastodon dependency is something we need to do. But at the moment I'm not sure you can discard it from an update site (in the IDE it's ok)

[2020-12-06 10:57] tischi commented on #166
@NicoKiaru
Do you think you could create an issue in Mastodon, describing which classes should be factored out of Mastodon and where you think they could be moved?
cc @tinevez

[2020-12-06 11:02] NicoKiaru commented on #166
ahaha! you're the director of operations. Yes I'll try

[2020-12-06 11:18] tischi commented on #166
It was a suggestion from Jean-Yves (see imglib2-gitter), and since I don't know this part of code at all, I thought it is more efficient if you gave it a shot. Of course, only if you feel you have the time and resources.

[2020-12-06 13:23] NicoKiaru opened #167 "Utils or Helper ?"
Hi @tischi and @martinschorb,

Which name do you prefer for classes which hold static useful methods ? 'Helper' or 'Utils'?

We have currently in the repo:
* SourceAndConverterUtils
* SourceTransformHelper
* BdvUtils
* RAIHelper (this one should disappear)
* InputTriggerConfigHelper
* BdvHandleHelper (should be merged with BdvUtils)
* BvvHandleHelper
* DisplaysettingsHelper

[2020-12-06 17:41] tischi commented on #167
Personally, I am using `Utils` a lot but I can never decide whether it should be `Utils`, `Utilities`, or `Util`.
As `Helper` does not have this issue, I am in favour for `Helper`.

And, maybe typo, but I would say `DisplaySettingsHelper` (not `DisplaysettingsHelper`).

Another common convention, bye the way, is using the Plural:

`SourceAndConverters.*`
`SourceTransforms.*`

In imglib2 for exampl

[2020-12-06 18:21] NicoKiaru commented on #167
Helpers ? ;-)

Ok, let's go for helper (unless @martinschorb has a strong opinion against it ?). I will refactor in a separate branch, as discussed before.

[2020-12-17 10:29] NicoKiaru commented on #167
Refactoring done in https://github.com/bigdataviewer/bigdataviewer-playground/tree/refactor_helper
PR : https://github.com/bigdataviewer/bigdataviewer-playground/pull/169

[2020-12-17 12:47] martinschorb opened #170 "Plugin is gone"
Hi,

BDV-PG has disappeared from Fiji. Both after an update and after a fresh install. The BigDataViewer Menu is just no longer there...

[2020-12-17 13:04] NicoKiaru commented on #170
Hi Martin,

Everything moved to Plugins > BigDataviewer > Playground

[2020-12-17 13:07] martinschorb commented on #170
OK,

did not spot that...

[2020-12-17 13:07] #170 closed, assigned to nobody

[2020-12-21 22:03] NicoKiaru opened #171 "Scijava parameters (list?) do not work with wildcards generics"
The fixes-rawtype branch attempts to remove raw types in SourceAndConverter. Unfortunately, this fails with scijava input preprocessor. For some reasons, scijava attempts to put a File array into the parameter instead of a SourceAndConverter array.

Solving this needs more digging into the problematic scijava mechanism.

For now this prevents merging the rawtype-fix branch

[2020-12-22 07:37] tischi commented on #171
Could you paste a minimal example here? Then we could ask some knowledgable people 😃

Is it syntax like below that fails?

[code]

[2020-12-22 07:49] NicoKiaru commented on #171
Yep, I'll try to do that!

Probably not in this repo. I think the issue is in scijava-common. I'll ping you !

[2021-01-11 20:33] imagejan opened #172 "Use SciJava logging system"
I noticed you use `System.out.println()` in `Consumer`s a lot to do logging:

https://github.com/bigdataviewer/bigdataviewer-playground/blob/ccc9240b2943320dda5f4e9b2fc1f2c7ca6aa32c/src/main/java/sc/fiji/bdvpg/scijava/processors/BdvSpimDataPostprocessor.java#L47-L49

How about switching to SciJava's logging system via `LogService#info()`, possibly also with a `Logger` that keeps track of the class

[2021-01-16 15:06] haesleinhuepf opened #173 "Loading CZI file fails"
Hi @NicoKiaru and @tischi ,

after your amazing presentation at the Neubias academy last week, I attempted to try the 3D registration tool for slide scanner data. Unfortunately, I can't open CZI files from our slide scanner. Error: "Unhandled 16 bits RGB images". You find the detailed error message below. Do you think this would be easy to fix / implement? I'm happy to do it (that's part of my new

[2021-01-16 16:12] NicoKiaru commented on #173
Cool! Awesome that you're back ;-) !

A quick fix is to check 'split RGB channel' on the import command (choose the advanced one). That may work, but then you'll have three independent sources, 16 bits each for red, green and blue channel.

Now all the bioformats bridge is done in the repo https://github.com/BIOP/bigdataviewer-bioformats . And sources 'types' which can be created are defined in th

[2021-01-18 09:21] haesleinhuepf commented on #173
Hey @NicoKiaru

thanks for the prompt reply! Good hint. Unfortunately, it doesn't work (see error message at the bottom). I'll dive a bit into the code and see if I can fix it. Thanks for the pointers! I'll also try to share the dataset (it's a beautiful one ;-) )

Btw. I love this open-file dialog. It reminds the last file{s} I worked with. That appears like a simple feature but makes my life so

[2021-01-18 10:11] NicoKiaru commented on #173
Too bad it doesn't work! If you can share it, I can have a look also.

Pure `File[]` scijava parameter ;-)

[2021-01-19 11:12] imagejan commented on #173
Glad you like it! 😉

[2021-01-19 11:14] imagejan commented on #171
For the record: https://github.com/scijava/scijava-common/issues/415

[2021-01-19 11:17] NicoKiaru commented on #171
👍 Thanks @imagejan. I'll be able to move on with this once https://github.com/scijava/scijava-common/pull/416 is merged

[2021-01-26 20:14] imagejan commented on #171
https://github.com/scijava/scijava-common/pull/416 was merged, so we just need a new release of `scijava-common` (@ctrueden, @hinerm ?) and you should be able to proceed.

[2021-01-27 14:12] hinerm commented on #171
@NicoKiaru @imagejan scijava-common is [slated for release in the next pom-scijava](https://github.com/scijava/pom-scijava/blob/8a0a3773744d5ac1028eb2c763c9105c5ac6ec4d/pom.xml#L324), which is waiting for [TrakEM2](https://github.com/trakem2/TrakEM2/pull/28) and [multiview-reconstruction](https://github.com/PreibischLab/multiview-reconstruction/pull/32).

[2021-01-28 21:13] NicoKiaru commented on #173
@haesleinhuepf I fixed the issue in https://github.com/BIOP/bigdataviewer-bioformats/commit/8aa4ca2d13696b73949a88260bfc017f7d90687e and uploaded to the update site. You can try again and reopen the issue if it doesn't work.

You'll need to split the RGB channels in the command, but it should work this time (and I've added the checkbox in the basic command). A little issue is that the three channe

[2021-01-28 21:13] #173 closed, assigned to nobody

[2021-01-29 09:13] haesleinhuepf opened #174 "Error: 'projector'is required but unset"
Hey @NicoKiaru ,

thanks for your work on #173 ! I just wanted to check if it works but still struggle in opening the images. The BDV-Sources window opens and appears reasonable to me. However, when I right-click and select the menu "BDV - Show Sources", an error pops up:

![image](https://user-images.githubusercontent.com/12660498/106255012-b7a9e000-6219-11eb-8326-2c38c2847083.png)

Furthermore,

[2021-01-29 11:58] NicoKiaru commented on #174
Ah, it's because the scijava parameter is not initialized. Damned! It should be a simple fixed, but I didn't notice because it happens only on first install.

To solve it for now : `Plugins > BigDataViewer > Playground > BDV > BDV - Create Empty BDV window`

Choose whatever projector you like and click ok.

You can now close the bdv window - the projector parameter is "remembered".

And now right-

[2021-01-29 12:01] NicoKiaru commented on #174
For the memoization : it shouldn't be too problematic, but if you have problem, you can erase the memo files and they will be recreated. We may add an option to remove memoization (https://github.com/BIOP/bigdataviewer-bioformats/issues/29), but for now we just have it by default

[2021-01-29 12:04] #167 closed, assigned to nobody

[2021-01-30 17:56] haesleinhuepf commented on #174
Hey @NicoKiaru,

thanks again!

The workaround works! Awesome, I'm almost there.
![image](https://user-images.githubusercontent.com/12660498/106364042-71917100-632c-11eb-8c0f-a9fe92e2d986.png)

Just another thing, maybe a stupid question: If my BDV looks like above, is there a way to center my images in the current view? I seem not able with the manual controls to find my dataset in the 3D space..

[2021-01-30 17:57] haesleinhuepf commented on #174
Ha, forget it. I managed! :-)

![image](https://user-images.githubusercontent.com/12660498/106364103-ee244f80-632c-11eb-99df-b0f42d5fbed6.png)

Thanks again for this great tool!

[2021-01-30 18:43] NicoKiaru commented on #174
Great that you found it! Yep, don't hesitate to open an issue if needed. I and @tischi would be glad if this thing becomes a "standard" entry point into bdv. Also FYI, there's the gitter channel (badge in readme) if you have questions but don't want to bother with a cleanly documented issue: https://gitter.im/bigdataviewer-playground/community?source=orgpage

[2021-01-31 15:05] #174 closed, assigned to nobody

[2021-01-31 15:07] NicoKiaru commented on #174
Come on! Github automatically closed the issue when I pushed a commit with the commit message 'fixes #issue'... Crazy

[2021-01-31 15:09] NicoKiaru commented on #172
I'm clearly not an expert in this. Do you have a (simple?) example where you would consider the Logging is done in a good way, @imagejan ?

[2021-01-31 15:14] NicoKiaru commented on #171
So it's done now @hinerm ? If I update scijava pom to 30.0.0, I should have the fix, right ?

Another point : when is pom-scijava 30 supposed to be released for 'real', like in https://imagej.net/Fiji/Downloads ?

[2021-01-31 15:18] NicoKiaru commented on #166
I think we're gonna have to live with the mastodon dependency for a few more months. It's not a big deal in my opinion, but I hope the break will not be too big when what we need from mastodon will be moved elsewhere

[2021-01-31 15:19] NicoKiaru commented on #165
👍 It's more for bdv-core, maybe it's be been made public already.

[2021-01-31 15:19] #165 closed, assigned to nobody

[2021-01-31 15:21] NicoKiaru commented on #156
I'm closing it for now

[2021-01-31 15:21] #156 closed, assigned to nobody

[2021-01-31 15:25] NicoKiaru commented on #142
This is put on hold for the moment. We should work on this when the next stable version of BigWarp is released (ping @bogovicj)

[2021-01-31 15:38] NicoKiaru commented on #136
Aaaaah I think I see the issue. Honestly I think this is the sort of things that needs to be handled by a more sophisticated 'multi layer' mechanism like what you would have in illustrator, with opacity and so on.

Would be nice, but I won't have time to work on this. And even more, I think this sort of behavior should be done upstream in bdv-core.

[2021-01-31 15:40] NicoKiaru commented on #136
related to https://github.com/bigdataviewer/bigdataviewer-playground/issues/95

[2021-01-31 19:08] imagejan commented on #171
@NicoKiaru not yet: https://github.com/scijava/pom-scijava/commit/b178a0b8d0d1c6efe87dada2c034930021619991 was committed *after* the `30.0.0` release, so will only be included in the next release.

(You can still manually pin to `scijava-common-2.86.1` of course, but it wouldn't work in a current Fiji without you also serving the newer `scijava-common` from your update site.)

Ideally, the state o

[2021-01-31 19:15] imagejan commented on #172
@NicoKiaru if you have a `Logger` parameter in your command, you can just call `Logger#info()` or `Logger#error()` as required:

[code]

---

If you can't have a `Logger` because you're not in a `Command` or similar, you can still use `LogService` via the `Context`, I guess:

[code]

[2021-02-01 07:50] tischi commented on #136
one low-magnification overview image A (one BDVDataset)
    one higher magnification tiled image B inside the low-mag (one BDVDataset containing 2x2 tiles as individual sources).

@martinschorb Could you share this dataset with me on /g/cba/exchange?
@NicoKiaru Do you think it makes sense that I try to improve this?

[2021-02-01 08:02] martinschorb commented on #136
It's in ```Martin_BDV/Overlays/```

[2021-02-01 10:51] NicoKiaru commented on #137
Hi @martinschorb,

I asked Tobias, he said there shouldn't be any issue with tile number > 99. When did you encounter the issue with tiles > 100 ? Are you sure it's not an importer problem ? Can you give us a way to reproduce your issue ?

[2021-02-10 12:12] NicoKiaru commented on #125
There's now a command `Bdv - Preferences (key) bindings` which is functional and which allows to set what commands are available depending on the context

[2021-02-10 12:12] #125 closed, assigned to nobody

[2021-02-15 17:01] NicoKiaru commented on #132
This should have been fixed. Please reopen if necessary @martinschorb .

You can also check the tuto at https://youtu.be/LHI7vXiUUms?t=2884 where this function is demoed near the end of the bdv-playground part

[2021-02-15 17:01] #132 closed, assigned to nobody

[2021-03-07 13:47] NicoKiaru opened #175 "Avoid autocontrast in BigWarpLauncher"

[2021-03-08 15:51] #175 closed, assigned to nobody

[2021-03-08 16:18] NicoKiaru opened #176 "Update BVV version"

[2021-03-08 16:43] #147 closed, assigned to nobody

[2021-03-08 17:36] #176 closed, assigned to nobody

[2021-03-08 17:39] NicoKiaru commented on #155
I'm closing this for now - there are many ways to have groups either programmatically or for the user, but this needs a more precise direction. Since I'm doing a bit of issue cleaning, when the needs come, let's open a more precise issue

[2021-03-08 17:39] #155 closed, assigned to nobody

[2021-03-08 17:49] #153 closed, assigned to nobody

[2021-03-08 17:52] NicoKiaru commented on #139
FYI you can select sources and then based on this you can drag them to groups, using alt+click. Sources can be transfered from one window to another, etc.

In the editor mode (E key), you can select many sources, and with a right-click, you have a context menu where many actions can be performed, and what's in the list in even configurable via BDV - Set Preferences

[2021-03-08 17:52] #139 closed, assigned to nobody

[2021-03-08 17:54] NicoKiaru commented on #140
Many it depends on the number of sources displayed - if you have many, the overlay can take a long time to be drawn. Regarding group mode : if the overlay is not in any group, just like any other source, it's not displayed.

If you still have this issue, please ping me @martinschorb , otherwise I'll probably close the issue

[2021-03-08 18:02] NicoKiaru commented on #137
@martinschorb I tried with more than 300 tiles, there was no issue with opening and saving in hdf5. Please if you still have an issue, give me a way to test and I'll look into it

[2021-03-08 18:02] #137 closed, assigned to nobody

[2021-03-08 18:04] NicoKiaru commented on #122
Oups, sorry @Pa3cia07 I completely missed your message ... There's a demo in https://youtu.be/LHI7vXiUUms?t=2879 if you want to have a look at how it works

[2021-03-08 18:07] NicoKiaru commented on #122
I can't reproduce this issue - maybe it never existed

[2021-03-08 18:07] #122 closed, assigned to nobody

[2021-03-08 18:08] NicoKiaru commented on #116
Wasn't this resolved by @tpietzsch . Is that the case @tischi ?

[2021-03-09 13:22] tischi commented on #116
Yes, I think Tobias merged an improved version of my PR.

[2021-03-09 13:22] #116 closed, assigned to nobody

[2021-03-10 13:22] tischi opened #177 "Model source for resampling"
@NicoKiaru

I was looking through the code for this request: https://forum.image.sc/t/resample-3d-data-along-a-plane-and-convert-to-ij1-imageplus/49961

Because I think we could add a `BdvPlaygroundActionCommand` that does what @manerotoni needs.

But I do not understand the point of the `SourceAndConverter model`; you say it "defines the portion of space sampled".
If that is the only thing it doe

[2021-03-10 14:41] NicoKiaru commented on #177
Hi tischi,

The reason behind using SourceAndConverter is multiple:
* it behaves like any source, thus for instance, it can be moved in space using manual transform. It can also be seen in the editor mode, even if it's empty. We could make it a grid source by default (functional source), so that the user could directly see the size of the pixels.
* also there's a serialization mechanism in bdv pla

[2021-03-10 14:54] tischi commented on #177
Very interesting! I did not think of it like this!

Let's say I have a RealInterval (e.g. from a TransformedBoxOverlay), how would I make a SourceAndConverter from it?

Maybe something to be implemented?

Would this be the correct signature?
[code]

[2021-03-10 15:08] NicoKiaru commented on #177
I think, so, and maybe one with an optional AffineTransform argument (it really looks like the signature of BdvFunctions.show)

[2021-03-10 16:22] tischi commented on #177
OK!

Should I work on this? I think it would be good to have, isn't it?

[2021-03-10 16:55] NicoKiaru commented on #177
Sure, you can have a look at https://github.com/bigdataviewer/bigdataviewer-playground/blob/master/src/main/java/sc/fiji/bdvpg/scijava/command/source/NewSourceCommand.java if you wish. And maybe do something with the bdv overlay ? Up to you!

[2021-03-10 17:20] tischi commented on #177
I will work on it. I think this could be a quite relevant use case.

[2021-03-10 17:36] manerotoni commented on #177
Great! Thanks a lot that you already thinking about such a feature.

[2021-03-11 10:33] NicoKiaru commented on #177
@tischi I think I'll give a try to improve what I have in bdv-biop-tools. I won't use the box overlay, butI'll simplify

https://github.com/BIOP/bigdataviewer-biop-tools/blob/master/src/main/java/ch/epfl/biop/bdv/command/exporter/BdvViewToImagePlusExportCommand.java  with 'ok' default parameters (there are too many in this one)

[2021-03-11 10:41] tischi commented on #177
@NicoKiaru

Ok, Great, but should we still implement this?

[code]

I think you could also use it from within: https://github.com/BIOP/bigdataviewer-biop-tools/blob/master/src/main/java/ch/epfl/biop/bdv/command/exporter/BdvViewToImagePlusExportCommand.java

And then we would avoid code duplication.

[2021-03-11 10:44] NicoKiaru commented on #177
Yep, that should nicely replace this :

https://github.com/BIOP/bigdataviewer-biop-tools/blob/aecf8ca49da9097b46b7b933a6869892b72d0dd1/src/main/java/ch/epfl/biop/bdv/command/exporter/BdvViewToImagePlusExportCommand.java#L189

I'm not sure about timepoints. I think it's infinite number of timepoints by default

[2021-03-23 07:20] tischi opened #178 "BigVolumeViewer dependency"
@NicoKiaru

I tried to compile but it claimed it cannot find this dependency on maven:
[code]

[2021-03-23 07:21] tischi opened #179 "Stable maven version"
@NicoKiaru
For MoBIE, which version of bdv-pl should I use?